body {
	font-family: 'Open Sans', 'sans-serif';

}
#container {
	width: 960px;
	height: auto;
	margin: 0 auto;
}

#home {
	background-color: white;
}

header {
	background-color: RGB(51,51,51);
	height: 135px;
	width: auto;
}

#active a {
	color: RGB(3,168,230);
}

header a {
	font-family: Arial;
	font-size: 16px;
	color: RGB(238,238,238);
	text-decoration: none;
}

header h1 {
	font-family: OpenSans, Myriad Pro, Georgia;
	font-size: 48.01px;
	color: RGB(238,238,238);
	display: inline;
	position: absolute;
	margin-bottom: 53px;
	/*margin-top: 50px;*/
	margin-left: 10px;
	font-weight: 200;
}

header nav li {
	float: right;
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 68px;
	margin-bottom: 53px;
}

li.active a {
	color: RGB(3,168,230);
}

.Content {
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.Content h1 {
	font-size: 60px;
	font-weight: bold;
	font-family: "Open Sans", Myriad Pro, Georgia;
	color: RGB(51,51,51);
	font-weight: 100;
}

.Content h2 {
	font-size: 50px;
	font-family: "Open Sans", Myriad Pro, Georgia;
	color: RGB(187,187,187);
	vertical-align: top;
	border-bottom-style: dotted;
	border-color: RGB(187,187,187);
	border-bottom-width: 3px;
	padding-bottom: 30px;
	margin-top: -30px;
	font-weight: 100;
}

.Content p {
	font-size: 29px;
	font-family: "Open Sans", Myriad Pro, Georgia;
	color:rgb(85,85,85);
	border-bottom-style: dotted;
	border-color: RGB(187,187,187);
	padding-bottom: 40px;
}

.Teaser {
	margin-bottom: 30px;
	margin-top: 30px;
	background-color: RGB(0,174,239);
	width: 300px;
	height: 350px;
	box-shadow: 5px 5px 1px #CECECE;
	display: inline-block;
	position: absolute;
}

.Teaser h1 {
	font-size: 36px;
	font-family: "Open Sans", Myriad Pro, Georgia;
	color: white;
	text-align: center;
}

.Teaser p {
	font-size: 14px;
	font-family: "Open Sans", Myriad Pro, Georgia;
	color: white;
	text-align: center;
	margin-right: 35px;
	margin-left: 35px;
	border-top-style: dotted;
	border-color: white;
	border-bottom: none;
	padding-top: 25px;
}

#teaserbutton{
	width: 230px;
	height: 40px;
	margin-top: -30px;
	margin-bottom: 35px;
	margin-left: 35px; 
	margin-right: 35px;
	font-size: 14px;
	color: white;
	font-family: "Open Sans", Myriad Pro, Georgia;
	background-color: RGB(0,118,163);
	border-color: RGB(26,90,114);
	border-style: solid;
}

.Testimonials {
	padding-top: 30px;
	padding-bottom: 40px;
	padding-right: 20px;
	margin-left: 10px;
	margin-right: 30px;
	margin-top: 450px;
	border-top-style: dotted;
	border-color: RGB(187,187,187);
	width: 450px;
	border-right-style: dotted;
	border-right-color: RGB(187,187,187);
	float: left;
	border-bottom-style: dotted;
}

.Testimonials h1 {
	font-family: "Open Sans", Myriad Pro, Georgia;
	font-size: 22px;
	color: RGB(85,85,85);
	border: none;
}

.Testimonials p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: RGB(85,85,85);
	display: inline;
	padding-right: 30px;
	border: none;
}

.Testimonials .Single {
	margin-top: 30px;
	height: 86px;
	width: 440px;
}

#thumb {
	width, height: 84px;
	background-color: RGB(204,204,204);
	position: relative;
	display: inline;
	margin-left: 10px;
	margin-right: 27px;
	float: left;
}

.FeaturedProj {
	margin-left: 480px;
	padding-top: 30px;
	/*padding-bottom: 40px;*/
	padding-right: 20px;
	margin-right: 30px;
	margin-top: 479px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-color: RGB(187,187,187);
	width: 450px;
}

.FeaturedProj h1 {
	font-family: "Open Sans", Myriad Pro, Georgia;
	font-size: 22px;
	color: RGB(85,85,85);
	border: none;
}

.FeaturedProj h2 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	color: RGB(136,136,136);
	border:none;
	margin-top: -20px;
}

.FeaturedProj p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: RGB(85,85,85);
	border: none;
	margin-left: 25px;
	margin-top: -141px;
}

.FeaturedProj img {
	margin-left: 25px;
	display: inline;
	position: relative;
	margin-top: -365px;
	box-shadow: 5px 5px 1px #CECECE;
}

.FeaturedProj a {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: RGB(0,174,239);
	text-decoration: none;
	margin-top: -65px;
	position: absolute;
}

footer {
	margin-top: 0px;
	margin-left: 10px;
}

footer p {
	color: RGB(136,136,136);
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin-left: 20px;
}
}