footer {
	font-family: 'Times New Roman', serif;
	h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	p {
		font-weight: bold;
	}
	.form-control {
		font-family: 'Arial', sans-serif;
		float: left;
		width: 200px;
		margin-right: 10px;
	}
	.subscribe {
		float: left;
	}
}