fieldset {
	width: 100%;
	label {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: bold;
		&.required {
			&:after {
				content: "*";
				color: #f00;
			}
		}
	}
	input {
		width: 100%;
		&[type="radio"] {
			width: initial;
			margin-right: 5px;
			&:last-child {
				margin-left: 15px;
			}
		}
	}
	textarea {
		&.form-control {
			height: 100px;
		}
	}
	.btn {
		clear: both;
		display: block;
	}
	.form-group {
		float: left;
		margin-bottom: 15px;
		padding-right: 20px;
		&.long {
			width: 100%;
		}
		&.short {
			width: 50%;
			float: left;
		}
		&.shorter {
			width: 25%;
		}
		#address2 {
			margin-top: 10px;
		}
	}
	.help-block {
		color: #f00;
	}
	button {
		&[type="submit"] {
			margin-top: 25px;
		}
	}
}