header {	
	.nav {
		font-family: 'Times New Roman', serif;
		width: 100%;
		float: left;
		margin-top: 120px;
		.btn-group {
			width: 87%;
			padding-top: 5px;
			button {
				width: 16.28%;
				height: 46px;
				font-size: 18px;
				&.inspirational {
					width: 185px;
				}
			}
			&.quick-links {
				margin-left: 20px;
				width: 10%;
				button {
					width: initial;
					height: initial;
					font-size: 14px;
				}
			}
		}
	}
}