.contact-us {
	float: left;
	font-family: 'Times New Roman', serif;
	h2 {
		margin-left: 90px;
		margin-top: 5px;
		font-size: 36px;
	}
	p {
		margin-left: 185px;
		margin-bottom: 30px;
	}

	.select {
		float: left;
	}
	
	.submit {
		margin-bottom: 50px;
	}

	input, textarea {
		font-family: 'Arial', sans-serif;
	}

	.form-group {
		&.name {
			margin-bottom: 30px;
			input {
				width: 277px;
			}
		}
		.select {
			float: left;
		}
		textarea {
			resize: none;
			height: 100px;
		}
		&.response {
			label {
				padding-top: 1px;
			}
			input {
				margin-right: 3px;
				&:last-child {
					margin-left: 10px;
				}
			}
		}
		&.email {
			input {
				width: 200px;
			}
		}
	}
	.form-control {
		&.name {
			width: 277px;
		}
		&.email {
			width: 200px;
		}
	}
	.submit {
		margin-bottom: 50px;
	}
}

.nav {
	font-family: 'Times New Roman', serif;
	.btn-group {
		padding-top: 5px;
		button {
			width: 140px;
			height: 46px;
			font-size: 18px;
		}
		&.quick-links {
			margin-left: 20px;
			button {
				width: initial;
				height: initial;
				font-size: 14px;
			}
		}
	}
}