.logo {
	margin-top: 10px;
}

.top-btn-wrapper {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	.btn-group {
		float: right;
		font-family: 'Times New Roman', serif;
		li {
			padding: 0 3px;
			a {
				color: black;
				text-decoration: none;
				text-align: center;
			}
		}
		p {
			font-weight: bold;
			display: inline-block;
			margin-bottom: 5px;
			&.bottom {
				margin-left: 50px;
			}
		}
		input {
			display: block;
			font-family: 'Arial', sans-serif;
			margin-bottom: 5px;
			&.check {
				display: inline;
				margin-right: 2px;
				width: initial;
			}
			&[type="checkbox"] {
				display: inline;
			}
		}
		.dropdown-menu {
			width: 560px;
			height: 160px;
			margin-left: -488px;
			padding: 5px;
			ul {
				list-style: none;
				padding: 0;
				a {
					display: block;
				}
			}
			.checkbox {
				margin: 17px 15px 0 15px;
			}
			.submit {
				margin-top: 17px;
			}
		}
	}

	.dropdown {
		float: right;
		font-family: 'Times New Roman', serif;
		span {
			margin-left: 5px;
		}
		#cart {
			float: right;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
		.dropdown-menu {
			margin-left: 13px;
			width: 170px;
			.btn {
				margin-left: 35px;
			}
		}
	}
}

.input-group.search {
	float: left;
	width: 380px;
	border-right-radius: 0;
	.input-group-addon {
		background-color: white;
		&.btn-addon {
			padding: 0;
		}
	}
	input {
		border-left: none;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.glyphicon {
		top: 0;
	}
	.btn {
		border-radius: 0;
	}
	.search {
		float: left;
		display: inline;
		border: none;
		font-family: 'Times New Roman', serif;
		li {
			a {
				text-align: left;
			}
		}
	}
}

