body {
}

.columns-1 {
	.cell-1 {
		.make-md-column(12);
	}
}
.columns-2 {
	&.type-8-4 {
		.cell-1 {
			.make-md-column(8);
			.make-lg-column(6);
		}
		.cell-2 {
			.make-md-column(4);
			.make-lg-column(6);
		}
	}
	&.type-6-6 {
		.cell-1 {
			.make-sm-column(4);
			.make-md-column(6);
		}
		.cell-2 {
			.make-sm-column(8);
			.make-md-column(6);
		}
	}
}

