.light-brown {
	background-color: #7a6f66;
}

.ribbon-wrapper {
	margin: 73px auto;
	h4 {
		color: white;
		text-transform: uppercase;
		font-size: 24px;
		text-align: center;
		font-family: museo_sans;
		font-weight: 700;
		letter-spacing: 0.1em;
	}
	.email-input {
		text-align: center;
		input {
			width: 222px;
			height: 41px;
			border: none;
			padding-left: 5px;
		}
		button {
			border: none;
			background-color: white;
			font-size: 18px;
			color: #7a6f66;
			width: 100px;
			height: 41px;
			padding-top: 0;
			font-family: museo_slab;
		}
	}
}