.header {
	//width: 260px;
	//margin: 0 auto;
	margin-bottom: 22px;
	h4 {
		text-transform: uppercase;
		color: @main-black;
		font-size: 22px;
		text-align: center;
		padding: 0 45px;
		font-family: museo_slab;
	}
	&::before {
		content: '';
		position: absolute;
		border-top: 1px solid @main-black;
		width: 37%;
		top: 25%;
		left: 0;
		margin-left: 13px;
	}
	&::after {
		content: '';
		position: absolute;
		border-top: 1px solid @main-black;
		width: 37%;
		top: 25%;
		right: 0;
		margin-right: 13px;
	}
	.triangle {
		width: 15px;
		height: 15px;
		border-left: 1px solid @main-black;
		border-bottom: 1px solid @main-black;
    	-webkit-transform: rotate(315deg);
    	margin: 0 auto;
	}
}

.event-description {
	h3 {
		text-align: left;
		font-size: 22px;
		color: @main-black;
		float: left;
		margin: 5px 0 25px 20px;
		font-family: museo_slab;
	}
	.event-icon {
		float: left;
	}
	p {
		color: @main-black;
		font-family: @serif-font;
		display: inline;
	}
	a {
		text-decoration: none;
		color: @main-green;
		font-style: italic;
		font-size: 14px;
	}
}

.reminder {
	float: left;
	margin-bottom: 30px;
	.dropdown {
		border: none;
		color: @main-black;
		font-family: @serif-font;
		height: 20px;
		display: inline !important;
		.btn {
			font-size: 12px;
			height: 20px;
			background-image: url(../img/input-background-2.png);
			padding: 1px 7px;
			background-color: @main-tan;
			&:focus {
				outline: none;
			}
		}
		.dropdown-menu {
			min-width: 0;
			width: inherit;
			box-shadow: none;
			-webkit-box-shadow: none;
			background-color: @main-tan;
			font-size: 12px;
			li {
				a {
					padding: 3px 14px;
					font-size: 12px;
				}
			}
		}
		.border {
			border-right: 1px solid @main-black;
			padding-right: 6px;
		}
	}
	.send-reminder {
		float: left;
		margin-left: 18px;
		p {
			width: 100%;
		}
		input {
			border: none;
			background-color: @main-tan;
			height: 20px;
			float: left;
			background: url(../img/email-input.png) center no-repeat;
			font-size: 12px;
			font-family: @serif-font;
			padding: 1px 5px;
		}
	}

}

.date {
	width: 100%;
	float: left;
	p {
		margin-top: 3px;
		margin-right: 12px;
		span {
			border: 1px solid @main-tan;
			background-color: @main-tan;
			padding: 2px 7px;
		}
	}
	img {
		margin-top: -2px;
	}
}

textarea {
	width: 543px;
	height: 130px;
	border: 1px solid @main-green;
	box-shadow: 0px 0px 3px @main-green;
	background-color: @main-tan;
	resize: none;
	&:focus {
		outline: none;
	}
}

.repeat {
	float: right;
	font-size: 14px;
	font-family: @serif-font;
	a {
		margin-left: 8px;
	}
}

.float {
	width: 100%;
	float: left;
	font-family: @serif-font;
	position: relative;
	left: 87%;
	margin-top: 15px;
	margin-bottom: 1px;
}

input {
	margin-right: 5px !important;
	&:focus {
		outline: none;
	}
}

.attached-project {
	margin-bottom: 10px;
	width: 100%;
	float: left;
	h6 {
		font-size: 16px;
		font-family: museo_slab;
		font-weight: 700;
	}
	img {
		float: left;
	}
	.proj-description {
		float: left;
		width: 115px;
		margin-left: 10px;
		p {
			font-size: 14px;
			font-style: italic;
			color: @main-black;
		}
	}
}

.save-detail {
	background-color: @main-black;
	font-family: museo_slab;
	font-size: 16px;
	color: white;
	width: 66px;
	height: 38px;
	float: right;
	margin-bottom: 17px;
	border: none;
}

.cancel-link {
	float: left;
	font-family: @serif-font;
	font-size: 12px;
	width: 100%;
	margin-bottom: 128px;
	a {
		float: right;
		margin-right: 12px;
	}
}

.related-products {
	opacity: 0.5;
	h5 {
		font-family: museo_slab;
		font-size: 16px;
		margin-left: 54px;
	}
	.related-product {
		float: right;
		margin-bottom: 30px;
		img {
			float: left;
			margin-right: 12px;
		}
		.prod-text-wrapper {
			float: left;
			width: 70px;
			line-height: 1em;
			margin-top: 3px;
			a {
				font-family: @serif-font;
				font-size: 12px;
			}
		}
	}
}

.event-popover {
	position: absolute;
	z-index: 9999;
	background-color: white;
	width: 190px;
	max-height: 200px;
	box-shadow: -1px 1px 2px @main-black;
	margin-left: 132px;
	margin-top: -25px;
	.close {
		cursor: pointer;
		opacity: 1;
		margin-right: 9px;
		margin-top: 10px;
	}
	&.large {
		overflow-y: scroll;
	}
	h6 {
		color: @main-black;
		font-size: 16px;
		float: left;
		margin-left: 13px;
	}
	#popover {
		background-color: white;
		list-style: none;
		float: left;
		padding: 0;
		li {
			background-color: white;
			display: inline-block;
			width: 160px;
			height: 37px;
		}
		h6 {
			color: @main-green;
			font-size: 14px;
			margin: 0;
			float: left;
		}
		p {
			font-family: @serif-font;
			font-style: italic;
			float: left;
			margin-left: 25px;
		}
		img {
			float: left;
			margin-left: 10px;
		}
	}
}