@january: #298aca;
@february: #3693ae;
@march: #419d88;
@april: #4dac48;
@may: #7eae41;
@june: #a9b038;
@july: #f0b11d;
@august: #ef962a;
@september: #ef7334;
@october: #f04d39;
@november: #cb665f;
@december: #7981a4;

.main {
	h2 {
		font-size: 80px;
		font-family: museo_slab;
		color: @main-black;
		text-align: center;
		margin-top: 40px;
	}
}

.calendar-page {
	h3 {
		font-family: museo_slab;
		font-size: 36px;
		text-align: center;
	}
	.control {
		position: absolute;
		margin-top: 30px;
		margin-left: 370px;
		&.next {
			margin-left: 588px;
		}
	}
}
.flexslider {
	width: 940px;
	height: 676px;
	margin: 0 auto;
	overflow: hidden;
	border: none;
	.flex-viewport {
		width: 940px;
	}
	&.calendar-picker {
		width: 220px;
		height: auto;
		.flex-viewport {
			width: 208px;
			margin-left: 12px;
		}
	}
}

.slides {
	width: 940px;
	.link-wrapper {
		margin: 10px 0;
		margin-left: 725px;
		img {
			margin-right: 5px;
		}
	}
	ul {
		list-style: none;
		li {
			display: inline;
			color: white;
			font-family: museo_slab;
			font-size: 16px;
		}
		&.week {
			height: 82px;
			padding: 0;
			position: relative;
			li {
				width: 131px;
				height: 82px;
				background-color: @main-tan;
				text-align: center;
				color: @main-black;
				font-family: museo_sans;
				font-size: 16px;
				float: left;
				margin-right: 3px;
				margin-bottom: 3px;
				&:first-child {
					margin-left: 2px;
				}
				&:last-child {
					margin-right: 1px;
				}
				&.active {
					background-color: white;
				}
				&:hover {
					cursor: pointer;
					background-color: white;
					-webkit-transition: ease-in 0.2s;
				}
				.icon-wrapper {
					margin-left: 28px;
					img {
						margin: 0 auto;
					}
					a {
						float: left;
						&.more {
							margin-left: 6px;
						}
						&.single {
							margin-left: 21px;
							margin-top: 8px;
						}
					}
				}
				&.selected {
					background-color: white;
				}
			}
		}
		&.days {
			height: 35px;
			padding: 0;
			li {
				padding: 0 42px;
				&.monday {
					padding: 0 23px;
				}
				&.wednesday {
					padding: 0 9px;
				}
				&.friday {
					padding: 0 20px;
				}
				&.saturday {
					padding-left: 51px;
					padding-right: 30px;
				}
			}
		}
	}
	li {
		&.december.clone {
			width: 900px !important;
		}
		&.january {
			h3 {
				color: @january;
			}
			.days {
				background-color: @january;
			}
			a {
				color: @january;
			}
		}
		&.february {
			h3 {
				color: @february;
			}
			.days {
				background-color: @february;
			}
			a {
				color: @february;
			}
		}
		&.march {
			h3 {
				color: @march;
			}
			.days {
				background-color: @march;
			}
			a {
				color: @march;
			}
		}
		&.april {
			h3 {
				color: @april;
			}
			.days {
				background-color: @april;
			}
			a {
				color: @april;
			}
		}
		&.may {
			h3 {
				color: @may;
			}
			.days {
				background-color: @may;
			}
			a {
				color: @may;
			}
		}
		&.june {
			h3 {
				color: @june;
			}
			.days {
				background-color: @june;
			}
			a {
				color: @june;
			}
		}
		&.july {
			h3 {
				color: @july;
			}
			.days {
				background-color: @july;
			}
			a {
				color: @july;
			}
		}
		&.august {
			h3 {
				color: @august;
			}
			.days {
				background-color: @august;
			}
			a {
				color: @august;
			}
		}
		&.september {
			h3 {
				color: @september;
			}
			.days {
				background-color: @september;
			}
			a {
				color: @september;
			}
		}
		&.october {
			h3 {
				color: @october;
			}
			.days {
				background-color: @october;
			}
			a {
				color: @october;
			}
		}
		&.november {
			h3 {
				color: @november;
			}
			.days {
				background-color: @november;
			}
			a {
				color: @november;
			}
		}
		&.december {
			h3 {
				color: @december;
			}
			.days {
				background-color: @december;
			}
			a {
				color: @december;
			}
		}
		a {
			font-size: 16px;
			text-decoration: underline;
			font-style: italic;
			display: inline;
			font-family: @serif-font;
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}

.calendar-picker {
	li {
		width: 190px;
		&.december.clone {
			width: 182px !important;
			margin-left: -15px;
		}
	}
}

.calendar-view {
	margin-top: -75px;
	padding-left: 10px;
	margin-bottom: 130px;
	p {
		font-size: 16px;
		color: @main-black;
		font-family: museo_slab;
		display: inline;
		a {
			color: @main-black;
			text-decoration: none;
			padding: 0 10px;
			&.selected {
				color: @main-green;
			}
			&.first {
				border-right: 1px solid @main-black;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

.no-events {
	margin-bottom: 190px;
	font-family: museo_slab;
	.wrapper {
		margin: 0 auto;
		h5 {
			font-size: 22px;
			color: @main-black;
			text-align: center;
			a {
				text-decoration: none;
				color: @main-green;
			}
		}
	}
}