.green-bckgrnd {
	background-color: @main-green;
}

.tan-bckgrnd {
	background-color: @main-tan;
}

header {
	height: 156px;
	h2 {
		margin: 18px 0;
		float: left;
		font-family: museo_slab;
		font-weight: 500;
		a {
			text-decoration: none;
			color: white;
			font-size: 24px;
			&:hover {
				text-decoration: none;
				color: white
			}
		}
	}

	.main-nav {
		list-style: none;
		float: left;
		margin-top: 28px;
		margin-left: 33px;
		li {
			display: inline;
			padding-left: 15px;
			padding-right: 15px;
			a {
				color: white;
				text-transform: uppercase;
				font-size: 13px;
				text-decoration: none;
				font-weight: 100;
			}
		}
	}

	.search-bar {
		float: right;
		margin-top: 25px;
		input {
			border: none;
		}
	}

	.profile {
		.profile-img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: url(../img/profile-img.png) center no-repeat;
			background-size: 60px 60px;
			float: left;
			margin: 25px 0 19px 17px;
		}
		h3 {
			font-family: museo_slab;
			font-size: 16px;
			float: left;
			margin-top: 45px;
			margin-left: 15px;
			font-weight: 700;
			color: @main-black;
		}
	}

	.secondary-nav {
		text-align: center;
		margin-top: 45px;
		margin-left: 40px;
		float: left;
		li {
			border-right: 1px solid @main-black;
			display: inline;
			font-family: museo_slab;
			&:last-child {
				border-right: none;
			}
			a {
				text-decoration: none;
				color: @main-green;
				padding: 0 20px;
				&.active {
					color: @main-black;
				}
			}
		}
	}

	.current-weather {
		float: right;
		h4 {
			color: @main-black;
			font-size: 36px;
			font-family: @sans-serif-font;
			float: left;
			margin-top: 22px;
			margin-bottom: 0;
		}
		.weather-icon {
			background: url(../img/current-weather.png) center no-repeat;
			float: right;
			height: 40px;
			width: 40px;
			float: left;
			margin-top: 20px;
		}
		h5 {
			color: @main-black;
			text-transform: uppercase;
			font-size: 12px;
			float: left;
			margin-top: 15px;
			margin-left: -26px;
		}
	}
}