html, body {
	height: 100%;
}

.daltile-main {
	display: table;
	height: -webkit-calc(~'100% - 109px');
	height: -moz-calc(~'100% - 109px');
	height: -o-calc(~'100% - 109px');
	height: calc(~'100% - 109px');
	margin-bottom: -237px;
	padding-bottom: 237px;
}