.gallery {
	.filter-wrapper {
		text-align: center;
		margin-bottom: 15px;
		h6 {
			font-family: museo_slab;
			font-weight: 500;
			font-size: 16px;
			color: @main-black;
			display: inline;
			margin-right: 25px;
		}
		.dropdown {
			border: none;
			color: @main-black;
			font-family: museo_slab;
			height: 20px;
			display: inline !important;
			.btn {
				font-size: 14px;
				font-weight: 500;
				height: 22px;
				background-image: url(../img/input-background-2.png);
				background-color: @main-tan;
				padding: 2px 7px;
				vertical-align: initial;
				&:focus {
					outline: none;
				}
				.padding {
					padding-right: 50px;
				}
				&:first-child {
					margin-right: 13px;
				}
			}
			.dropdown-menu {
				box-shadow: none;
				-webkit-box-shadow: none;
				background-color: @main-tan;
				font-size: 14px;
				text-align: left;
				li {
					a {
						padding: 3px 14px;
						font-size: 14px;
					}
				}
			}
		}
	}

	.og-grid {
		li {
			height: 200px;
			a {
				&:after {
					border: none;
				}
			}
		}
		.og-expander {
			background: @main-tan;
			width: 917px;
			left: 26.3%;
		}
		.social {
			float: right;
			margin-top: -347px;
			li {
				margin: 10px 7px 0 7px;
			}
		}
		.og-close {
			display: none;
		}
		h3 {
			font-family: museo_slab;
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 18px;
			padding-top: 0;
			margin-top: 0;
			color: @main-black;
		}
		h4 {
			font-family: museo_slab;
			font-size: 16px;
			padding-top: 10px;
			color: @main-black;
		}
		p {
			font-family: @serif-font;
			font-size: 16px;
			color: @main-black;
		}
		.project-info-wrapper {
			margin-top: 30px;
			border-top: 1px solid @main-black;
		}
		.og-details {
			overflow-y: scroll;
		}
	}

	.add-photo {
		background: url(../img/add-photo-placeholder.png) center no-repeat;
		text-align: center;
		width: 219px;
		height: 174px;
		margin-top: -4px;
		h4 {
			font-family: museo_slab;
			color: @main-black;
			font-size: 22px;
			margin-top: 60px;
		}
		img {
			margin: 0 auto;
		}
	}
	img {
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}

	.posted-by {
		float: left;
		margin-top: 23px;
		a {
			border: none;
			margin: 0;
			font-family: @serif-font;
			font-style: italic;
			text-transform: capitalize;
			font-weight: 100;
			color: @main-green;
			float: right;
			letter-spacing: normal;
			text-decoration: none;
			padding: 0;
			&:before {
				content: "";
			}
		}
		img {
			float: left;
		}
	}

	.link-wrapper {
		float: left;
		margin-left: -148px;
		a {
			border: none;
			margin: 0;
			font-family: @serif-font;
			font-style: italic;
			text-transform: capitalize;
			font-weight: 100;
			color: @main-green;
			float: left;
			letter-spacing: normal;
			text-decoration: none;
			padding: 0;
			font-size: 14px;
			&:before {
				content: "";
			}
			&:first-child {
				border-right: 1px solid @main-black;
				padding-right: 10px;
			}
		}
	}
}