.dark-brown {
	background-color: #594a3e;
}

footer {
	ul {
		padding-top: 82px;
		padding-bottom: 130px;
		list-style: none;
		li {
			font-family: museo_sans;
			padding: 5px 0;
			a {
				color: white;
				font-size: 16px;
				&.heading {
					text-transform: uppercase;
					font-size: 18px;
					padding-bottom: 10px;
				}
				&:hover {
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}