// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";


// Score styles 
@import "score/score_local_layout.less";
@import "score/score_page_layout.less";
@import "score/score_structural_layout.less";

//Custom styles
@import "custom-header.less";
@import "custom-calendar.less";
@import "custom-event-detail.less";
@import "custom-gallery.less";
@import "custom-footer-ribbon.less";
@import "custom-footer.less";
@import "custom-sticky-footer.less";
@import "yc-fonts.less";

//Style Variables
@main-green: #58b421;
@main-tan: #ede8dd;
@main-black: #505050;
@serif-font: 'MuseoSlab_500', serif;
@sans-serif-font: 'MuseoSans 300', sans-serif;

a {
	&:hover {
		opacity: 0.8;
	}
}