h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Adrianna', Sans-serif;
}

.container {
	width: 1082px;
	margin: 0 auto;
}

header {
	padding: 36px 0;
}

header h1.logo {
	display: inline-block;
	width: 169px;
	height: 59px;
	text-indent: -3000px;
	overflow: hidden;
	background: url('../img/logo.png') no-repeat;
}

header img {
	float: left;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
}

header nav ul li {
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 25px 20px 25px;
	border-right: 1px dotted #d1d1d1;
}

header nav ul li:first-child {
	border-left: 1px dotted #d1d1d1;
}

header nav ul li a {
	text-decoration: none;
	font-size: 11px;
	color: #818181;
}

header nav ul li:hover {
	background-color: #e9e9e9;
}

.breadcrumb {
	margin: 0 0 45px 0;
}

.breadcrumb li {
	background: url('../img/breadcrumb-child.png') no-repeat;
	font-size: 16px;
	color: #393939;
	display: inline;
	padding: 15px 25px 15px 37px;
	margin-left: -4px;
}

.breadcrumb li:first-child {
	background: url('../img/breadcrumb.png') no-repeat;
	padding-right: 11px;
}

.breadcrumb li:last-child {
	background: url('../img/breadcrumb-filler.png') no-repeat;
}

.main-menu {
	float: left;
	width: 160px;
}

.main-menu nav {

}

.main-menu nav ul li {
	display: block;
	text-transform: uppercase;
	padding: 8px 0 8px 0;
	border-bottom: 1px dotted #d1d1d1;
}

.main-menu nav ul li a {
	text-decoration: none;
	font-size: 11px;
	color: #818181;
}

.main-menu nav ul li.padded{
	padding-bottom: 30px;
}

.main-menu nav ul li:last-child {
	border: none;
}

.main-menu nav ul li:hover {
	background-color: #e9e9e9;
}

.main-menu img {
	margin-top: 57px;
}

.home-content {
	margin: 15px 0 120px 25px;
}

.main-content {
	margin: 77px 0 120px 177px;
	border-top: 1px dotted #d1d1d1;
}

.main-content h4 {
	
	font-size: 24px;
}

.main-content ul {
	margin-top: 35px;
}

.main-content li {
	margin-bottom: 15px;
	font-size: 14px;
}

.main-content li.weight {
	margin-bottom: 35px;
}

.image-wrapper {
	float: left;
	margin: 12px 0 23px 23px;
}

.highlight {
	float: left;
	margin: 16px 0 23px 23px;
	overflow: hidden;
	width: 344px;
	height: 289px;
	background: url('../img/highlight-background.png') center center no-repeat;
}

.highlight h6 {
	text-transform: uppercase;
	font-size: 11px;
	color: white;
	margin: 27px 0 10px 25px;
}

.highlight h3 {
	font-size: 36px;
	color: white;
	margin: 0 0 30px 25px;
}

.highlight p {
	font-size: 14px;
	color: white;
	line-height: 1.5em;
	margin: 0 45px 25px 25px;
}

.highlight p span{
	font-size: 14px;
	color: white;
	margin: 0 0 35px 0;
}

.highlight a {
	text-decoration: none;
	color: white;
	font-style: italic;
	font-size: 16px;
	text-transform: lowercase;
	margin-left: 5px;
}

.highlight a:hover {
	color: #7b051b;
}

.one-column {
	width: 180px;
	margin: 32px -24px 90px 25px;
	/*border-top: 1px dotted #d1d1d1;*/
	float: left;
	display: inline-block;
}

.one-column img {
	margin: 140px 0 15px 23px;
}

#zoom {
	margin: 0 8px 12px 8px;
	display: inherit;
}

#eight {
	margin-top: 76px;
}

#six {
	margin-top: 28px;
}

.one-column h6 {
	font-size: 14px;
	font-weight: bold;
	display: inline;
	color: black;
	margin: -25px 0 15px 27px;
	float: left;
}

.one-column ul {
	margin-left: 0;
}

.one-column li {
	font-size: 12px;
	display: inline-block;
	color: black;
	margin: 0 55px 10px 27px;
}

.one-column li.weight {
	margin-bottom: 15px;
}

.one-column li:last-child {
	padding-bottom: 45px;
	padding-right: 142px;
	border-bottom: 1px dotted #d1d1d1;
}

.one-column:last-child li:last-child {
	padding-right: 105px;
}

.detail-wrapper {
	width: 240px;
	margin: 45px 0 40px 95px;
	display: inline-block;
}

.detail-wrapper img {
	margin-left: -20px;
}

footer {
	border-top: 1px solid #d1d1d1;
	clear: both;
}

footer img {
	float: left;
	margin-top: 22px;
}

footer p {
	text-transform: uppercase;
	font-size: 12px;
	color: #818181;
	margin: 27px 0 0 8px;
	float: left;
}

footer p span {
	float: right;
	margin-left: 164px;
}

footer nav {
	display: inline-block;
	float: left;
}

footer nav ul li {
	display: inline-block;
	text-transform: uppercase;
	padding: 0 25px 20px 45px;
	margin-top: 24px;
}

footer nav ul li a {
	text-decoration: none;
	font-size: 12px;
	color: #818181;
}

footer nav ul li a:hover {
	color: #7b051b;
}

footer span {
	float: right;
}