@main-color: #333;
@main-blue: #00aeef;
@border-color: #ccc;
@main-gray: #bbb;
@base-font-size: 14px;
@offset-margin: 1%;
@gray-body-text: #555;
h1, h2, h3, h4, h5, h6, a { font-family: 'OpenSans', sans-serif };

header {
	background-color: @main-color;

	h2 {
		font-size: @base-font-size + 34;
		color: white;
		margin: 0;
		padding: 8% 0;
	}

	nav {
		float:right;
		padding-top: 13.5%;
		ul {
			@media only screen and (max-width: 480px) {
				padding-left: 0;
				padding-bottom: 5%;
			}
		}
		li {
			display: inline;
			color: white;
			a {
				text-decoration: none;
				font-size: @base-font-size + 2;
				color: white;
				&.active {
					color: @main-blue;
				}
				&:hover {
					text-decoration: none;
					color: @main-blue;
				}
			}
		}
	}

} //end of header

.container {

	.row.no-border {
		border: none;
	}

	max-width: 990px;

	.row {
		border-bottom: 0.25em dotted @border-color;
	}

	h1 {
		font-size: @base-font-size + 46;
		color: @main-color;
		font-weight: bold;
		margin: 5.8% 0 0 @offset-margin;
		span {
			color: @main-blue;
		}
		@media only screen and (max-width: 480px) {
			font-size: @base-font-size + 36;
		} 
	}

	h3 {
		color: @main-gray;
		font-size: @base-font-size + 36;
		margin: 0 0 2.6% @offset-margin;
		@media only screen and (max-width: 480px) {
			font-size: @base-font-size + 26;
		}
	}

	h4 {
		font-size: @base-font-size + 15;
		color: @gray-body-text;
		margin: 3% 0 3% @offset-margin;
		span {
			font-weight: bold;
		}
		@media only screen and (max-width: 480px) {
			font-size: @base-font-size + 5;
		}
	}

	
	.highlight {
		background-color: @main-blue;
		box-shadow: 3px 3px 3px #CECECE;
		margin: 13% 2%;
		padding: 1% 7%;

		h5 {
			color: white;
			font-size: @base-font-size + 22;
			text-align: center;
			text-transform: lowercase;
			padding: 5% 0;
			border-bottom: 0.0625em dotted white;
		}

		p {
			color: white;
			font-size: @base-font-size;
			text-align: center;
		}

		#highlight-button {
			width: 100%;
			background-color: #0076a3;
			border: 0.125em solid #165e7a;
			color: white;
			text-transform: uppercase;
			font-size: @base-font-size;
			padding: 4% 10%;
			margin: 12% 0;
		}
	}

	.col-md-6 {

		margin: 3% 0;

		&.right-border {
			border-right: 0.25em dotted @border-color;
			@media only screen and (max-width: 990px) {
				border-right: none;
				border-bottom: 0.25em dotted @border-color;
			}
		}

		&.extra-padding {
			padding-left: 3%;
		}

		h6 {
			font-size: @base-font-size + 8;
			color: @gray-body-text;
			padding: 0 0 2% 0;
			margin: 2% 0 6% 0;
			&#left-col {
				color: #888;
				font-size: @base-font-size + 6;
				margin-top: -5%;
			}
		}

		img {
			margin-left: 4%;
			&#projimage {
				margin: -5% 0 4% 0;
			}
		}

		.text-wrapper {
			margin-left: 24%;
			width: 70%;
			p {
				margin-bottom: 2%;
				font-size: @base-font-size;
				color: @gray-body-text;
				&#name {
					font-weight: bold;
					margin-bottom: 0;
				}
				&#title {
					color: @main-blue;
					margin-bottom: 9%;
				}
			}
			@media only screen and (max-width: 480px) {
				margin-left: 28%;
			}	
		}

		#blue {
			text-decoration: none;
			color: @main-blue;
		}

	}

	footer {
		p {
			margin-left: 0.4%;
			margin-top: 2%;
			font-size: @base-font-size + 2;
			color: #888;
		}
	}
}