.flexslider {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	float: left;
	overflow: hidden;
}

.flex-prev {
	visibility: hidden;
}

.flex-next {
	visibility: hidden;
}

.flex-caption {
	float: left;
	position: absolute;
	margin-top: -388px;
	margin-left: 45px;
	width: 30%;
	&.text-right {
		float: right;
		position: absolute;
		margin-left: 660px;
	}
	&.big-image {
		margin-top: -422px;
		h3 {
			margin-bottom: 25px;
		}
		h2 {
			font-size: 70px;
		}
		h1 {
			font-size: 70px;
		}
	}
	h3 {
		color: #ce171f;
		font-size: 22px;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		float: left;
		margin-bottom: 5px;
	}
	h2 {
		color: #525252;
		font-size: 64px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	h1 {
		color: #767676;
		font-size: 64px;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
		span {
			font-size: 20px;
			margin-top: 8px;
			position: absolute;
		}
	}
	button {
		background-color: white;
		color: black;
		font-size: 14px;
		border: 1px dashed #b2b3b6;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 10px;
	}
	.filler.carousel {
		background-color: #ce171f;
		width: 145px;
		height: 10px;
		z-index: 999;
		float: left;
		margin-top: 5px;
		margin-left: 5px;
	}
}

.flex-control-nav {
	position: relative;
	margin-top: -5.5%;
	text-align: none;
	margin-left: 500px;
	z-index: 99;
	li {
		margin: 0 0 5px 5px;
		float: left;
		a {
			background: white;
			float: left;
			width: 13px;
			height: 13px;
			&.flex-active {
				background-color: #ce171f;
			}
			&:hover {
				background-color: #ce171f;
			}
		}
	}
}


.flex-control-paging li a.flex-active {
	background: #ce171f;
}