@footer-menu-color: #f2f3f3;
@gotham-red: #c6222a;
@footer-border: 1px dashed #888;

footer {
	background-color: #f2f3f3;
}

.footer-menu {

	margin-top: 30px;
	margin-bottom: 20px;

	.border-header {
		height: 15px;
		margin-top: -13px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: -10px;
		background-color: #c6222a;
		position: relative;
		color: white;
		padding: 3px 10px;
		font-size: 12px;
		text-transform: uppercase;
		display: inline;
		&::after {
			border-top: @footer-border;
			position: absolute;
			top: 50%;
			left: 100%;
			content: "";
			width: 492%;
			height: 2px;
			margin-left: 20px;
		&.solutions {
			&::after {
				width: 263%;
			}
		}
		}
	}

	ul {
		float: left;
		list-style: none;
		padding: 0;
		margin: 5px 0;
		li {
		line-height: 0.9em;
		.heading {
			margin-bottom: 10px;
			a {
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;
				color: #555;
			}
		}
			a {
				font-size: 10px;
				color: #888;
			}
		}
		&.no-heading {
			margin-top: 28px;
		}
	}

	.no-padding {
		padding: 0;
	}

}

.row.footer {
	margin-top: 15px;
}

.small-footer {
	background-color: white;
	//margin-left: 40%;
	margin-top: 10px;
	ul {
		text-align: center;
		li {
			display: inline;
			a {
				font-size: 10px;
				color: 0a90d5;
			}
		}
	}
}