.highlight {

	float: left;
	margin-bottom: 40px;
	border-top: 13px solid #cf1c23;

	.highlight-img {
		width: 100%;
	}

	.border-text {
		background-color: white;
		padding: 2px 10px 2px 0;
		float: left;
		margin-top: -27px;
	}
	
	h4 {
		color: black;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		float: left;
	}

	h5 {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}

	p {
		font-size: 12px;
		color: black;
	}

	.highlight-button {
		background-color: white;
		color: black;
		font-size: 14px;
		border: 1px dashed #b2b3b6;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 10px;
	}

	&.no-left {
		margin-left: 0;
	}

	&.no-right {
		margin-right: 0;
	}

	.rss-feed {
		float: left;
		width: 100%;
		background-color: #f1f2f2;
		.rss-item {
			border-bottom: 1px dashed #b2b3b6;
			float: left;
			padding: 12px;
			img {
				float: left;
				margin-top: 2px;
			}
			.text-wrapper {
				float: left;
				width: 84.638%;
				margin-left: 5px;
				p {
					font-size: 12px;
					color: black;
					margin-bottom: 0;
					a {
						font-size: 11px;
						font-weight: bold;
						color: #cf1c23;
						text-decoration: underline;
						display: inline;
						margin-left: 2px;
					}
				}
			}
		}
	}
}