.identity {
	margin-top: 20px;
	img {
		margin-bottom: 17px;
		margin-left: 20px;
	}

	nav {
		float: right;
		margin: 30px 16px 16px 0;
		position: relative;
		z-index: 99;
		li {
			&.extra-spacing {
				margin-bottom: 15px;
			}
		}
		ul {
			list-style: none;
			&.dropdown-menu.gray {
				background-color: #f2f2f3;
				border-radius: 0;
				-webkit-border-radius: 0;
				z-index: -1;
				a {
					font-size: 12px;
					color: black;
					font-style: italic;
					font-weight: bold;
					text-decoration: none;
					text-transform: uppercase;
					padding: 5px 0 5px 5px;
					&.submenu {
						font-size: 12px;
						font-weight: normal;
						line-height: 0.9em;
						text-transform: capitalize;
					}
					&:hover {
						color: #c6222a;
						background-color: #f2f2f3;
					}
				}
				ul {
					padding-left: 2px;
					list-style-image: url('../img/dropdown-bullet.png');
					margin-left: 20px;
				}
				&.dropdown-1 {
					width: 479px;
					margin-left: -160px;
				}
				&.dropdown-2 {
					width: 566px;
					margin-left: -200px;
				}
				&.dropdown-3 {
					width: 300px;
				}
				&.dropdown-4 {
					width: 230px;
					margin-left: -95px;
				}
				&.dropdown-5 {
					width: 246px;
					margin-left: -145px;
				}
			}
		}
	}
}

.dropdown.gotham {
	background-color: white;
	font-size: 16px;
	color: black;
	text-decoration: none;
	border: none;
	border-right: 1px solid #000;
	border-top: 1px solid #fff;
	&:first-child {
		border-left: 1px solid #000;
	}
	a {
		color: black;
		padding-top: 5px;
		padding-bottom: 5px;
		&:hover {
			color: #c6222a;
			-webkit-transition: ease 0.3s;
			background-color: white;
		}
	}
	&.open {
		background-color: #f2f2f3;
		border: 1px solid #ddd;
		border-bottom: 1px solid #f2f2f3;
		a {
			color: #c6222a;
			background-color: #f2f2f3;
			&:hover {
				background-color: #f2f2f3;
				color: #c6222a;
			}
		}
	}
}