@gotham-red: #ce171f;

.row.content {
	margin-top: 60px;
}

.prod-det-sidebar {
	width: 95%;
	box-shadow: 1px 1px 1px 1px #DDD;
	background-color:white;
	margin-bottom: 27px;
	padding-left: 7px;
	padding-right: 7px;
	img {
		margin: 7px 0;
		float: left;
	}
	h4 {
		color: white;
		width: 98%;
		font-size: 18px;
		text-transform: uppercase;
		padding: 9px 0 9px 10px;
	}
	ul {
		list-style: none;
		padding-left: 15px;
		&.border-bottom {
			border-bottom: 1px dashed #dadbdb;
		}
		&.sidebar-2 {
			padding-left: 7px;
			li {
				border-bottom: 1px dashed #dadbdb;
				float: left;
				display: block;
				width: 100%;
				a {
					font-size: 12px;
					font-weight: bold;
				}
			}
		}
		li {
			font-size: 14px;
			&:last-child {
				margin-bottom: 15px;
			}
			span {
				font-style: italic;
				font-weight: bold;
				margin-bottom: 10px;
			}
			a {
				font-size: 14px;
				color: @gotham-red;
			}
		}
	}
	&.first {
		h4 {
			background-color: @gotham-red;
		}
	}
	&.second {
		overflow-y: scroll;
		overflow-x: auto;
		height: 242px;
		h4 {
			background-color: #666;
		}
	}
	&.third {
		box-shadow: none;
		padding: 0;
		img {
			width: 100%;
		}
	}
	.text-wrapper {
		float: left;
		margin-left: 5px;
		margin-top: 16px;
		width: 90px;
		line-height: 1em;
	}
}