@gotham-red: #ce171f;

.bx-wrapper {

	background-color: #fafafa;
	height: 173px !important;

	.bx-viewport {
		border: none;
		box-shadow: none;
		margin-top: 15px;
		margin-left: 9px;
		margin-bottom: 20px;
		background-color: #fafafa;
		height: 170px;
	}

	.bx-next {
		background: url(../img/bx-next.png) no-repeat;
		right: -40px;
		&:hover {
			background: url(../img/bx-next.png) no-repeat;
		}
	}

	.bx-prev {
		background: url(../img/bx-prev.png) no-repeat;
		left: -24px;
	}

	.bx-controls-direction {
		a {
			top: 18%;
		}
	}
}

.gl-gallery {
	.bx-wrapper {
		height: 50px !important;
		background-color: white;
	}

	.bx-viewport {
		background-color: white;
		margin-bottom: 0;
		height: 50px;
	}

	.bx-controls-direction {
		a {
			top: 60%;
		}
	}
}

.product-detail {
	.prod-detail {
		float: right;
	}

	h2 {
		color: @gotham-red;
		font-size: 30px;
		margin-top: 50px;
		text-transform: uppercase;
	}

	.extra-margin {
		color: #999;
		font-size: 20px;
		margin-top: 74px;
	}

	h3 {
		margin-top: 8px;
		font-size: 15px;
		font-weight: bold;
		color: black;
	}

	p {
		font-size: 11px;
		color: #777;
		span {
			color: black;
			font-weight: bold;
		}
	}

	ul {
		padding: 0;
	}

	.black-filler {
		float: left;
		background-color: black;
		width: 27px;
		height: 10px;
		margin-top: 80px;
		margin-right: 20px;
		&.large {
			width: 29px;
			height: 12px;
			margin-top: 11px;
		}
	}

	.prod-detail-btn {
		color: white;
		background-color: #909090;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		border: none;
		float: left;
		outline: none;
		margin-left: 15px;
		&.selected {
			background-color: @gotham-red;
		}
	}

	.prod-detail-wrapper {
		height: 210px;
		overflow-y: scroll;
	}
	
}

.specs {
	background-color: #fafafa;
	margin-left: 0;
	ul {
		list-style: none;
		li {
			font-size: 12px;
			color: #777;
			padding: 7px 0 7px 9px;
			&:first-child {
				padding-top: 15px;
			}
			span {
				font-weight: bold;
			}
			a {
				color: @gotham-red;
			}
		}
	}
}

.suggested {
	background-color: #fafafa;
	margin-left: 0;
	margin-bottom: 85px;
	.nav.nav-tabs {
		background-color: white;
		li {
			background-color: @gotham-red;
			border: none;
			border-radius: 0;
			a {
				color: white;
				font-size: 12px;
				border: none;
				&:hover {
					background-color: @gotham-red;
					border: none;
				}
			}
			&.active {
				background-color: #fafafa;
				border-radius: 0;
				a {
					color: black;
					font-weight: bold;
					background-color: #fafafa;
					border: none;
					border-radius: 0;
					&:hover {
						background-color: #fafafa;
						border: none;
					}
				}
			}
		}
	}
	
}

.bxslider2 {

	.bx-wrapper {

		background-color: #fafafa;

		.bx-viewport {
			background-color: #fafafa;
		}

		.bx-prev {
			display: initial;
		}

		.bx-next {
			display: initial;
		}

		.bx-viewport {
			background-color: #fafafa;
		}
	}

	li {
		text-align: center;
		a {
			color: @gotham-red;
			font-size: 10px;
			text-decoration: none;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
		}
	}
	
}

.add-to-sln {
	border: 1px dashed #bbb;
	background-color: white;
	text-transform: uppercase;
	font-size: 10px;
	color: black;
	margin-top: 20px;
}