.search-results {
	h1 {
		font-size: 26px;
		text-transform: uppercase;
		color: black;
	}

	input {
		width: 100%;
	}

	#gray {
		background-color: #959595;
		color: white;
		font-size: 15px;
		text-transform: uppercase;
		width: 28%;
		border: none;
		float: right;
		&.large-txt {
			font-size: 17px;
			width: 34%;
			height: 26px;
			float: left;
		}
	}

	#red {
		background-color: #c8141c;
		border: none;
		color: white;
		font-size: 17px;
		text-transform: uppercase;
		float: left;
		width: 63.9%;
		height: 26px;
		margin-right: 5px;
	}

	.btn-wrapper {
		float: left;
		width: 100%;
		margin-top: 20px;
		.bottom-btns {
			margin-top: 15px;
			width: 100%;
			float: left;
		}
	}

	.nav.nav-tabs {
		width: 100%;
		margin-top: 25px;
		li {
			&:last-child {
				margin-right: 0;
			}
			a {
				color: white;
				background-color: #747474;
				border-radius: 0;
				font-size: 12px;
				padding-left: 5.5px;
				padding-right: 5.2px;
			}
			&.active {
				a {
					background-color: #eff0f1;
					color: black;
					font-weight: bold;
				}
			}
		}
	}

	.sorting {
		background-color: #eff0f1;
		float: left;
		width: 96%;
		margin-left: 15px;
		margin-bottom: 30px;
	}

	.search-btn-dropdown {
		border: 1px solid #6d6f71;
		border-radius: 0;
		background-color: white;
		font-size: 11px;
		color: #6d6f71;
		text-transform: uppercase;
		text-align: left;
		width: 147px;
		height: 19px;
		margin-top: 20px;
		&.dropdown-toggle {
			border: none;
			background: url(../img/search-drop-arrow.png) no-repeat;
			width: 19px;
			height: 22px;
			margin-left: -5px;
		}
	}

	.caret {
		content: '';
		width: 19px;
		height: 19px;
		border: none;
	}

	.dropdown-menu {
		width: 166px;
		border-radius: 0;
		box-shadow: none;
		li {
			font-size: 11px;
			color: #6d6f71;
			text-transform: uppercase;
		}
	}

	.view-wrapper {
		margin-top: 17px;
		border-right: 1px solid #919192;
		width: 36%;
		float: left;
		p {
			color: #3c3838;
			font-size: 12px;
			display: inline;
			margin-right: 10px;
		}
	}

	.pagination.gotham {
		margin-top: 15px;
		float: right;

		a {
			color: #ce171f;
			border: none;
			font-size: 12px;
			padding-right: 7px;
			padding-left: 7px;
			background-color: #eff0f1;
			&:hover {
				background-color: #eff0f1;
			}
			&.disabled {
				color: #3c3838;
			}
		}
	}

	.product-details {
		h2 {
			font-size: 19px;
			color: #333;
			text-transform: uppercase;
			margin: 0;
		}
		h3 {
			font-size: 12px;
			color: #777;
			margin: 5px 0 12px 0;
			font-weight: bold;
		}
		h5 {
			font-size: 12px;
			color: black;
			border-right: 1px solid #777;
			display: inline;
			padding-right: 7px;
		}
		p {
			font-size: 12px;
			color: #777;
			margin-top: 12px;
		}
		a {
			color: #ce171f;
			font-size: 12px;
			padding-left: 5px;
			text-decoration: none;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				&.disabled {
					font-size: 12px;
					padding-left: 5px;
					font-style: italic;
					color: #999;
					cursor: default;
				}
			}
		}
		.border-left {
			border-left: 1px dashed #ddd;
			img {
				margin-bottom: 43px;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					font-size: 12px;
					color: #777;
					a {
						color: #ce171f;
						text-decoration: none;
						padding: 7px 0;
					}
				}
			}
		}

		.product {
			margin-bottom: 50px;
		}
	}
}