@gotham-red: #ce171f;

.sidebar {
	box-shadow: 1px 1px 1px 1px #DDD;
	background-color: white;
	margin-top: 23px;
	width: 250px;
	margin-right: 22px;
	h2 {
		background-color: @gotham-red;
		color: white;
		text-transform: uppercase;
		font-size: 20px;
		padding: 5px;
	}
}

.panel-group {
	background-color: white;
	&.panel {
		border-radius: 0;
	}
}

.panel {
	.panel-heading {
		padding-left: 0;
	}
	border: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	a {
		color: black;
		font-size: 16px;
		text-transform: uppercase;
		text-decoration: none;
		padding-left: 15px;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/accordion-arrow-down.png) no-repeat;
			width: 12px;
			height: 11px;
			margin-top: 8px;
			margin-left: -15px;
		}
		&.collapsed {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/accordion-arrow.png) no-repeat;
				width: 12px;
				height: 11px;
				margin-top: 5px;
				margin-left: -10px;
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			p {
				padding-left: 10px;
				display: inline;
			}
			a {
				padding: 10px;
				color: @gotham-red;
				text-transform: capitalize;
				font-size: 10px;
				font-weight: bold;
				&:before {
					content: none;
					background: none;
				}
			}
		}
	}
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 16px; height: 16px;
  border: 1px solid #888;
  background: #f8f8f8;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: @gotham-red;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

