@util-menu-color: #d6d9db;

.utility-menu {
	background-color: @util-menu-color;
	width: 100%;
	box-shadow: 0 0 5px 0 #888;
	//background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #888), color-stop(0.67, @util-menu-color));

	.brand-logo {
		float: left;
		margin-top: 3px;
	}

	ul {
		float: left;
		margin: 5px 0 10px 0;
		width: 34%;
		li {	
			display: inline;
			padding: 0 2%;
			.selector {
				margin-right: 1.5%;
			}
			a {
				text-decoration: none;
				color: black;
				font-size: 11px;
				font-weight: bold;
			}
		}
	}

	.search {
		float: right;
		margin-top: 6px;
		margin-bottom: 0;
		li {
			display: inline;
			color: #68737a;
			font-size: 11px;
			font-weight: bold;
			float: left;
			a {
				font-size: 10px;
				text-decoration: underline;
			}
			input {
				border-radius: 2px;
			}
		}
		.margin-fix {
			margin-top: 5px;
		}
		.no-padding {
			padding-right: 0;
		}
		.float {
			margin: 0;
			padding: 0;
			background-color: #1d9fd5;
			border-radius: 2px;
			img {
				padding: 2px 5px;
			}
		}
	}
}