.top-btn-wrapper {
  float: left;
  margin-right: 200px;
  margin-top: 10px;
}
.top-btn-wrapper .btn-group {
  float: left;
  font-family: 'Times New Roman', serif;
}
.top-btn-wrapper .btn-group li {
  padding: 0 3px;
}
.top-btn-wrapper .btn-group li a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.top-btn-wrapper .btn-group p {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
.top-btn-wrapper .btn-group p.bottom {
  margin-left: 50px;
}
.top-btn-wrapper .btn-group input {
  display: block;
  font-family: 'Arial', sans-serif;
  margin-bottom: 5px;
}
.top-btn-wrapper .btn-group input.check {
  display: inline;
  margin-right: 2px;
  width: initial;
}
.top-btn-wrapper .btn-group .dropdown-menu {
  width: 560px;
  height: 160px;
  margin-left: -488px;
  padding: 5px;
}
.top-btn-wrapper .btn-group .dropdown-menu .top-section {
  float: left;
  width: 100%;
  margin-bottom: 8px;
}
.top-btn-wrapper .btn-group .dropdown-menu .top-section li {
  float: left;
}
.top-btn-wrapper .btn-group .dropdown-menu .top-section li.remember-me {
  margin-top: 30px;
  padding: 0 5px;
  padding-right: 19px;
}
.top-btn-wrapper .btn-group .dropdown-menu .top-section li a {
  margin-left: 14px;
}
.top-btn-wrapper .btn-group .dropdown-menu .top-section .btn-group {
  float: left;
  right: 0;
  margin-top: 24px;
}
.top-btn-wrapper .dropdown {
  float: right;
  font-family: 'Times New Roman', serif;
}
.top-btn-wrapper .dropdown span {
  margin-left: 5px;
}
.top-btn-wrapper .dropdown #cart {
  float: right;
}
.top-btn-wrapper .dropdown #cart:focus {
  outline: none;
  box-shadow: none;
}
.top-btn-wrapper .dropdown .dropdown-menu {
  margin-left: 13px;
  width: 170px;
}
.top-btn-wrapper .dropdown .dropdown-menu .btn {
  margin-left: 35px;
}
.input-group {
  float: left;
  width: 380px;
  border-right-radius: 0;
}
.input-group .input-group-addon {
  background-color: white;
}
.input-group .input-group-addon.btn-addon {
  padding: 0;
}
.input-group input {
  border-left: none;
}
.input-group input:focus {
  outline: none;
  box-shadow: none;
}
.input-group .glyphicon {
  top: 0;
}
.input-group .btn {
  border-radius: 0;
}
.input-group .search {
  float: left;
  display: inline;
  border: none;
  font-family: 'Times New Roman', serif;
}
.input-group .search li a {
  text-align: left;
}
