.contact-us {
  font-family: 'Times New Roman', serif;
}
.contact-us h2 {
  margin-left: 90px;
  font-size: 36px;
}
.contact-us p {
  margin-left: 185px;
}
.contact-us .form-wrapper {
  margin-top: 30px;
}
.contact-us .form-wrapper .input-group .form-control:last-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.contact-us .form-wrapper .input-group-addon {
  background-color: white;
  border: none;
  font-weight: bold;
  text-align: right;
}
.contact-us .form-wrapper input {
  font-family: 'Arial', sans-serif;
  left: 125px;
}
.contact-us .form-wrapper .input-group.name {
  margin-bottom: 30px;
}
.contact-us .form-wrapper .input-group.type {
  width: 170px;
  float: left;
  margin-right: 20px;
}
.contact-us .form-wrapper .input-group.type .btn-group {
  left: 67px;
}
.contact-us .form-wrapper .input-group.zip {
  width: 170px;
  float: left;
  left: 10%;
}
.contact-us .form-wrapper .input-group.zip input {
  left: 0;
}
.contact-us .form-wrapper .input-group.message {
  width: 100%;
}
.contact-us .form-wrapper .input-group.message textarea {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
  resize: none;
  font-family: 'Arial', sans-serif;
  left: 109px;
}
.contact-us .form-wrapper .input-group.message .input-group-addon {
  padding-top: 0;
}
.contact-us .form-wrapper .input-group.response {
  margin-bottom: 8px;
  left: 77px;
}
.contact-us .form-wrapper .input-group.response input {
  margin-right: 3px;
}
.contact-us .form-wrapper .input-group.response input:last-child {
  margin-left: 15px;
}
.contact-us .form-wrapper .input-group.email {
  margin-bottom: 20px;
  left: -7;
}
.contact-us .form-wrapper .submit {
  margin-bottom: 50px;
}
.nav {
  font-family: 'Times New Roman', serif;
}
.nav .btn-group {
  padding-top: 5px;
}
.nav .btn-group button {
  width: 140px;
  height: 46px;
  font-size: 18px;
}
.nav .btn-group.quick-links {
  margin-left: 20px;
}
.nav .btn-group.quick-links button {
  width: initial;
  height: initial;
  font-size: 14px;
}
