nav {
	padding: 15px 0 0 0;
	&.navbar {
		border-radius: 0;
		@media only screen and (min-width : 0) {
			margin-bottom: 30px;
		}
		@media only screen and (min-width : 768px) {
			margin-bottom: 0;
		}
	}
	&.navbar-default {
		position: relative;
		background: rgba(51, 51, 51, .8);
		border: none;
		&:after {
			position: absolute;
			bottom: -9px;
			left: 0;
			width: 100%;
			height: 9px;
			content: "";
			background: url(../img/nav_border.png) repeat-x;
		}
		.navbar-toggle {
			background: transparent !important;
			border-color: #fff;
		}
		.navbar-collapse {
			padding: 0;
			@media only screen and (min-width : 0) {
				margin-top: 15px;
			}
			@media only screen and (min-width : 768px) {
				margin-top: 8px;
			}
		}
		.container {
			@media only screen and (min-width : 0) {
				padding: 0 15px;
			}
			@media only screen and (min-width : 768px) {
				padding: 0;
			}
		}
	}
	.container-fluid {
		padding: 0;
	}
	.logo {
		display: inline-block;
		float: left;
		width: 201px;
		height: 46px;
		text-indent: -3000px;
		margin: 0 10px 20px 0;
		overflow: hidden;
		background: url(../img/logo.png) no-repeat;
	}
	h3 {
		color: #bdbdbd;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		margin: 26px 0 0 0;
		vertical-align: bottom;
	}
	.navbar-nav {
		width: 100%;
		background: #fff;
		margin: 0 !important;
		> li {
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			@media only screen and (min-width : 0) {
				padding: 10px 20px;
				overflow: hidden;
			}
			@media only screen and (min-width : 768px) {
				padding: 10px 8px;
				overflow: visible;
				&:hover, &.active {
					.transition;
					background: #e5e6e9;
					border-top: 4px solid red;
					padding-top: 6px;
				}
			}
			@media only screen and (min-width : 992px) {
				padding: 10px 8px;
			}
			@media only screen and (min-width : 1200px) {
				padding: 10px 20px;
			}
			&.dropdown {
				padding-right: 0;
			}
			> a {
				display: block;
				font-size: 14px;
				font-weight: 100;
				color: #333 !important;
				background-color: transparent !important;
				padding: 0;
			}
			&.highlight {
				background: #919191;
				a {
					color: #fff !important;
				}
				&:hover, &.active {
					.transition;
					background: #717171;
					border-top: 0;
					padding-top: 10px;
				}
			}
		}
	}
}

.dropdown-menu {
	color: #333;
	.active {
		a, a:hover, a:focus {
			background: #e5e6e9;
			color: #333;
		}
	}
}