.dt-selected-location {
	width: 100%;
	h2 {
		font-size: 18px;
	}
	.selected-location-map {
		position: relative;
		width: 100%;
		height: 300px;
		background-color: rgb(229, 227, 223);
		border: 1px solid #333;
		margin: 20px 2px;
		overflow: hidden;
		-webkit-transform: translateZ(0px);
	}
}

.mapwrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    &:after {
    	padding-top: 64.10%; /* 500 / 780 = .6410 */
	    display: block;
	    content: '';
    }
}

.home-selected-location-map {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}