.carousel-holder {
	margin-bottom: 20px;
}

.carousel-inner {
	.item {
		.carousel-copy {
			padding: 40px;
		}
		.carousel-image {
			height: 370px;
		}
	}
}

.carousel-indicators {
	right: 20px;
	left: initial;
	width: initial;
	li {
		background: #fff;
		&.active {
			background: #777;
		}
	}
}