body {
	font-family: "Gill Sans MT", "Gill Sans", GillSans, Calibri, "Trebuchet MS", Verdana, sans-serif;
	background: url(../img/background.jpg) repeat;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.container {
	position: relative;
}

.daltile-main {
	background: #fff;
	box-shadow: 0 9px 10px #777;
}

a {
	color: red;
	&:hover {
		.transition;
		color: #333;
		text-decoration: none;
	}
}

.panel-body {
	img {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}