footer {
	position: relative;
	background: #e5e6e9;
	font-size: 12px;
	border-top: 1px solid #ccc;
	padding: 40px 0 20px 0;
	h6 {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			a {
				color: #333;
				&:hover {
					.transition;
					color: #333;
				}
			}
		}
		&.social {
			li {
				display: inline-block;
				margin-right: 5px;
				&:hover {
					.transition;
					opacity: .7;
				}
			}
		}
		&.legal {
			margin-top: 30px;
			padding-top: 10px;
			border-top: 1px solid #ccc;
			li {
				display: inline-block;
				margin-right: 10px;
				border-right: 1px solid #333;
				padding-right: 10px;
				line-height: 12px;
				&:first-child {
					border-right: none;
				}
			}
		}
	}
	p {
		a {
			color: red;
			font-weight: bold;
		}
	}
}