body {
  background-image: url(../img/background-image.png);
}
.container {
  width: 1088px;
}
.utility-menu {
  background-color: #d6d9db;
  width: 100%;
  box-shadow: 0 0 5px 0 #888;
}
.utility-menu .brand-logo {
  float: left;
  margin-top: 3px;
}
.utility-menu ul {
  float: left;
  margin: 5px 0 10px 0;
  width: 34%;
}
.utility-menu ul li {
  display: inline;
  padding: 0 2%;
}
.utility-menu ul li .selector {
  margin-right: 1.5%;
}
.utility-menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 11px;
  font-weight: bold;
}
.utility-menu .search {
  float: right;
  margin-top: 6px;
  margin-bottom: 0;
}
.utility-menu .search li {
  display: inline;
  color: #68737a;
  font-size: 11px;
  font-weight: bold;
  float: left;
}
.utility-menu .search li a {
  font-size: 10px;
  text-decoration: underline;
}
.utility-menu .search li input {
  border-radius: 2px;
}
.utility-menu .search .margin-fix {
  margin-top: 5px;
}
.utility-menu .search .no-padding {
  padding-right: 0;
}
.utility-menu .search .float {
  margin: 0;
  padding: 0;
  background-color: #1d9fd5;
  border-radius: 2px;
}
.utility-menu .search .float img {
  padding: 2px 5px;
}
footer {
  background-color: #f2f3f3;
}
.footer-menu {
  margin-top: 30px;
  margin-bottom: 20px;
}
.footer-menu .border-header {
  height: 15px;
  margin-top: -13px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -10px;
  background-color: #c6222a;
  position: relative;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline;
}
.footer-menu .border-header::after {
  border-top: 1px dashed #888888;
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  width: 492%;
  height: 2px;
  margin-left: 20px;
}
.footer-menu .border-header::after.solutions::after {
  width: 263%;
}
.footer-menu ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
.footer-menu ul li {
  line-height: 0.9em;
}
.footer-menu ul li .heading {
  margin-bottom: 10px;
}
.footer-menu ul li .heading a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}
.footer-menu ul li a {
  font-size: 10px;
  color: #888;
}
.footer-menu ul.no-heading {
  margin-top: 28px;
}
.footer-menu .no-padding {
  padding: 0;
}
.row.footer {
  margin-top: 15px;
}
.small-footer {
  background-color: white;
  margin-top: 10px;
}
.small-footer ul {
  text-align: center;
}
.small-footer ul li {
  display: inline;
}
.small-footer ul li a {
  font-size: 10px;
  color: 0a90d5;
}
.identity {
  margin-top: 20px;
}
.identity img {
  margin-bottom: 17px;
  margin-left: 20px;
}
.identity nav {
  float: right;
  margin: 30px 16px 16px 0;
  position: relative;
  z-index: 99;
}
.identity nav li.extra-spacing {
  margin-bottom: 15px;
}
.identity nav ul {
  list-style: none;
}
.identity nav ul.dropdown-menu.gray {
  background-color: #f2f2f3;
  border-radius: 0;
  -webkit-border-radius: 0;
  z-index: -1;
}
.identity nav ul.dropdown-menu.gray a {
  font-size: 12px;
  color: black;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 0 5px 5px;
}
.identity nav ul.dropdown-menu.gray a.submenu {
  font-size: 12px;
  font-weight: normal;
  line-height: 0.9em;
  text-transform: capitalize;
}
.identity nav ul.dropdown-menu.gray a:hover {
  color: #c6222a;
  background-color: #f2f2f3;
}
.identity nav ul.dropdown-menu.gray ul {
  padding-left: 2px;
  list-style-image: url('../img/dropdown-bullet.png');
  margin-left: 20px;
}
.identity nav ul.dropdown-menu.gray.dropdown-1 {
  width: 479px;
  margin-left: -160px;
}
.identity nav ul.dropdown-menu.gray.dropdown-2 {
  width: 566px;
  margin-left: -200px;
}
.identity nav ul.dropdown-menu.gray.dropdown-3 {
  width: 300px;
}
.identity nav ul.dropdown-menu.gray.dropdown-4 {
  width: 230px;
  margin-left: -95px;
}
.identity nav ul.dropdown-menu.gray.dropdown-5 {
  width: 246px;
  margin-left: -145px;
}
.dropdown.gotham {
  background-color: white;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border: none;
  border-right: 1px solid #000;
  border-top: 1px solid #fff;
}
.dropdown.gotham:first-child {
  border-left: 1px solid #000;
}
.dropdown.gotham a {
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown.gotham a:hover {
  color: #c6222a;
  -webkit-transition: ease 0.3s;
  background-color: white;
}
.dropdown.gotham.open {
  background-color: #f2f2f3;
  border: 1px solid #ddd;
  border-bottom: 1px solid #f2f2f3;
}
.dropdown.gotham.open a {
  color: #c6222a;
  background-color: #f2f2f3;
}
.dropdown.gotham.open a:hover {
  background-color: #f2f2f3;
  color: #c6222a;
}
html,
body {
  height: 100%;
}
.gl-main {
  display: table;
  height: -webkit-calc(100% - 149px);
  height: -moz-calc(100% - 149px);
  height: -o-calc(100% - 149px);
  height: calc(100% - 149px);
  margin-bottom: -230px;
  padding-bottom: 230px;
  position: relative;
  z-index: -2;
}
.flexslider {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  float: left;
  overflow: hidden;
}
.flex-prev {
  visibility: hidden;
}
.flex-next {
  visibility: hidden;
}
.flex-caption {
  float: left;
  position: absolute;
  margin-top: -388px;
  margin-left: 45px;
  width: 30%;
}
.flex-caption.text-right {
  float: right;
  position: absolute;
  margin-left: 660px;
}
.flex-caption.big-image {
  margin-top: -422px;
}
.flex-caption.big-image h3 {
  margin-bottom: 25px;
}
.flex-caption.big-image h2 {
  font-size: 70px;
}
.flex-caption.big-image h1 {
  font-size: 70px;
}
.flex-caption h3 {
  color: #ce171f;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  float: left;
  margin-bottom: 5px;
}
.flex-caption h2 {
  color: #525252;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.flex-caption h1 {
  color: #767676;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.flex-caption h1 span {
  font-size: 20px;
  margin-top: 8px;
  position: absolute;
}
.flex-caption button {
  background-color: white;
  color: black;
  font-size: 14px;
  border: 1px dashed #b2b3b6;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
.flex-caption .filler.carousel {
  background-color: #ce171f;
  width: 145px;
  height: 10px;
  z-index: 999;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.flex-control-nav {
  position: relative;
  margin-top: -5.5%;
  text-align: none;
  margin-left: 500px;
  z-index: 99;
}
.flex-control-nav li {
  margin: 0 0 5px 5px;
  float: left;
}
.flex-control-nav li a {
  background: white;
  float: left;
  width: 13px;
  height: 13px;
}
.flex-control-nav li a.flex-active {
  background-color: #ce171f;
}
.flex-control-nav li a:hover {
  background-color: #ce171f;
}
.flex-control-paging li a.flex-active {
  background: #ce171f;
}
.highlight {
  float: left;
  margin-bottom: 40px;
  border-top: 13px solid #cf1c23;
}
.highlight .highlight-img {
  width: 100%;
}
.highlight .border-text {
  background-color: white;
  padding: 2px 10px 2px 0;
  float: left;
  margin-top: -27px;
}
.highlight h4 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}
.highlight h5 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.highlight p {
  font-size: 12px;
  color: black;
}
.highlight .highlight-button {
  background-color: white;
  color: black;
  font-size: 14px;
  border: 1px dashed #b2b3b6;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
.highlight.no-left {
  margin-left: 0;
}
.highlight.no-right {
  margin-right: 0;
}
.highlight .rss-feed {
  float: left;
  width: 100%;
  background-color: #f1f2f2;
}
.highlight .rss-feed .rss-item {
  border-bottom: 1px dashed #b2b3b6;
  float: left;
  padding: 12px;
}
.highlight .rss-feed .rss-item img {
  float: left;
  margin-top: 2px;
}
.highlight .rss-feed .rss-item .text-wrapper {
  float: left;
  width: 84.638%;
  margin-left: 5px;
}
.highlight .rss-feed .rss-item .text-wrapper p {
  font-size: 12px;
  color: black;
  margin-bottom: 0;
}
.highlight .rss-feed .rss-item .text-wrapper p a {
  font-size: 11px;
  font-weight: bold;
  color: #cf1c23;
  text-decoration: underline;
  display: inline;
  margin-left: 2px;
}
.row.content {
  margin-top: 60px;
}
.prod-det-sidebar {
  width: 95%;
  box-shadow: 1px 1px 1px 1px #DDD;
  background-color: white;
  margin-bottom: 27px;
  padding-left: 7px;
  padding-right: 7px;
}
.prod-det-sidebar img {
  margin: 7px 0;
  float: left;
}
.prod-det-sidebar h4 {
  color: white;
  width: 98%;
  font-size: 18px;
  text-transform: uppercase;
  padding: 9px 0 9px 10px;
}
.prod-det-sidebar ul {
  list-style: none;
  padding-left: 15px;
}
.prod-det-sidebar ul.border-bottom {
  border-bottom: 1px dashed #dadbdb;
}
.prod-det-sidebar ul.sidebar-2 {
  padding-left: 7px;
}
.prod-det-sidebar ul.sidebar-2 li {
  border-bottom: 1px dashed #dadbdb;
  float: left;
  display: block;
  width: 100%;
}
.prod-det-sidebar ul.sidebar-2 li a {
  font-size: 12px;
  font-weight: bold;
}
.prod-det-sidebar ul li {
  font-size: 14px;
}
.prod-det-sidebar ul li:last-child {
  margin-bottom: 15px;
}
.prod-det-sidebar ul li span {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}
.prod-det-sidebar ul li a {
  font-size: 14px;
  color: #ce171f;
}
.prod-det-sidebar.first h4 {
  background-color: #ce171f;
}
.prod-det-sidebar.second {
  overflow-y: scroll;
  overflow-x: auto;
  height: 242px;
}
.prod-det-sidebar.second h4 {
  background-color: #666;
}
.prod-det-sidebar.third {
  box-shadow: none;
  padding: 0;
}
.prod-det-sidebar.third img {
  width: 100%;
}
.prod-det-sidebar .text-wrapper {
  float: left;
  margin-left: 5px;
  margin-top: 16px;
  width: 90px;
  line-height: 1em;
}
.bx-wrapper {
  background-color: #fafafa;
  height: 173px !important;
}
.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  margin-top: 15px;
  margin-left: 9px;
  margin-bottom: 20px;
  background-color: #fafafa;
  height: 170px;
}
.bx-wrapper .bx-next {
  background: url(../img/bx-next.png) no-repeat;
  right: -40px;
}
.bx-wrapper .bx-next:hover {
  background: url(../img/bx-next.png) no-repeat;
}
.bx-wrapper .bx-prev {
  background: url(../img/bx-prev.png) no-repeat;
  left: -24px;
}
.bx-wrapper .bx-controls-direction a {
  top: 18%;
}
.gl-gallery .bx-wrapper {
  height: 50px !important;
  background-color: white;
}
.gl-gallery .bx-viewport {
  background-color: white;
  margin-bottom: 0;
  height: 50px;
}
.gl-gallery .bx-controls-direction a {
  top: 60%;
}
.product-detail .prod-detail {
  float: right;
}
.product-detail h2 {
  color: #ce171f;
  font-size: 30px;
  margin-top: 50px;
  text-transform: uppercase;
}
.product-detail .extra-margin {
  color: #999;
  font-size: 20px;
  margin-top: 74px;
}
.product-detail h3 {
  margin-top: 8px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.product-detail p {
  font-size: 11px;
  color: #777;
}
.product-detail p span {
  color: black;
  font-weight: bold;
}
.product-detail ul {
  padding: 0;
}
.product-detail .black-filler {
  float: left;
  background-color: black;
  width: 27px;
  height: 10px;
  margin-top: 80px;
  margin-right: 20px;
}
.product-detail .black-filler.large {
  width: 29px;
  height: 12px;
  margin-top: 11px;
}
.product-detail .prod-detail-btn {
  color: white;
  background-color: #909090;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: none;
  float: left;
  outline: none;
  margin-left: 15px;
}
.product-detail .prod-detail-btn.selected {
  background-color: #ce171f;
}
.product-detail .prod-detail-wrapper {
  height: 210px;
  overflow-y: scroll;
}
.specs {
  background-color: #fafafa;
  margin-left: 0;
}
.specs ul {
  list-style: none;
}
.specs ul li {
  font-size: 12px;
  color: #777;
  padding: 7px 0 7px 9px;
}
.specs ul li:first-child {
  padding-top: 15px;
}
.specs ul li span {
  font-weight: bold;
}
.specs ul li a {
  color: #ce171f;
}
.suggested {
  background-color: #fafafa;
  margin-left: 0;
  margin-bottom: 85px;
}
.suggested .nav.nav-tabs {
  background-color: white;
}
.suggested .nav.nav-tabs li {
  background-color: #ce171f;
  border: none;
  border-radius: 0;
}
.suggested .nav.nav-tabs li a {
  color: white;
  font-size: 12px;
  border: none;
}
.suggested .nav.nav-tabs li a:hover {
  background-color: #ce171f;
  border: none;
}
.suggested .nav.nav-tabs li.active {
  background-color: #fafafa;
  border-radius: 0;
}
.suggested .nav.nav-tabs li.active a {
  color: black;
  font-weight: bold;
  background-color: #fafafa;
  border: none;
  border-radius: 0;
}
.suggested .nav.nav-tabs li.active a:hover {
  background-color: #fafafa;
  border: none;
}
.bxslider2 .bx-wrapper {
  background-color: #fafafa;
}
.bxslider2 .bx-wrapper .bx-viewport {
  background-color: #fafafa;
}
.bxslider2 .bx-wrapper .bx-prev {
  display: initial;
}
.bxslider2 .bx-wrapper .bx-next {
  display: initial;
}
.bxslider2 .bx-wrapper .bx-viewport {
  background-color: #fafafa;
}
.bxslider2 li {
  text-align: center;
}
.bxslider2 li a {
  color: #ce171f;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.add-to-sln {
  border: 1px dashed #bbb;
  background-color: white;
  text-transform: uppercase;
  font-size: 10px;
  color: black;
  margin-top: 20px;
}
.sidebar {
  box-shadow: 1px 1px 1px 1px #DDD;
  background-color: white;
  margin-top: 23px;
  width: 250px;
  margin-right: 22px;
}
.sidebar h2 {
  background-color: #ce171f;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px;
}
.panel-group {
  background-color: white;
}
.panel-group.panel {
  border-radius: 0;
}
.panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.panel .panel-heading {
  padding-left: 0;
}
.panel a {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 15px;
}
.panel a:before {
  content: '';
  position: absolute;
  background: url(../img/accordion-arrow-down.png) no-repeat;
  width: 12px;
  height: 11px;
  margin-top: 8px;
  margin-left: -15px;
}
.panel a.collapsed:before {
  content: '';
  position: absolute;
  background: url(../img/accordion-arrow.png) no-repeat;
  width: 12px;
  height: 11px;
  margin-top: 5px;
  margin-left: -10px;
}
.panel ul {
  list-style: none;
  padding: 0;
}
.panel ul li p {
  padding-left: 10px;
  display: inline;
}
.panel ul li a {
  padding: 10px;
  color: #ce171f;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: bold;
}
.panel ul li a:before {
  content: none;
  background: none;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #888;
  background: #f8f8f8;
  border-radius: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 14px;
  color: #ce171f;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.search-results h1 {
  font-size: 26px;
  text-transform: uppercase;
  color: black;
}
.search-results input {
  width: 100%;
}
.search-results #gray {
  background-color: #959595;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  width: 28%;
  border: none;
  float: right;
}
.search-results #gray.large-txt {
  font-size: 17px;
  width: 34%;
  height: 26px;
  float: left;
}
.search-results #red {
  background-color: #c8141c;
  border: none;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  float: left;
  width: 63.9%;
  height: 26px;
  margin-right: 5px;
}
.search-results .btn-wrapper {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.search-results .btn-wrapper .bottom-btns {
  margin-top: 15px;
  width: 100%;
  float: left;
}
.search-results .nav.nav-tabs {
  width: 100%;
  margin-top: 25px;
}
.search-results .nav.nav-tabs li:last-child {
  margin-right: 0;
}
.search-results .nav.nav-tabs li a {
  color: white;
  background-color: #747474;
  border-radius: 0;
  font-size: 12px;
  padding-left: 5.5px;
  padding-right: 5.2px;
}
.search-results .nav.nav-tabs li.active a {
  background-color: #eff0f1;
  color: black;
  font-weight: bold;
}
.search-results .sorting {
  background-color: #eff0f1;
  float: left;
  width: 96%;
  margin-left: 15px;
  margin-bottom: 30px;
}
.search-results .search-btn-dropdown {
  border: 1px solid #6d6f71;
  border-radius: 0;
  background-color: white;
  font-size: 11px;
  color: #6d6f71;
  text-transform: uppercase;
  text-align: left;
  width: 147px;
  height: 19px;
  margin-top: 20px;
}
.search-results .search-btn-dropdown.dropdown-toggle {
  border: none;
  background: url(../img/search-drop-arrow.png) no-repeat;
  width: 19px;
  height: 22px;
  margin-left: -5px;
}
.search-results .caret {
  content: '';
  width: 19px;
  height: 19px;
  border: none;
}
.search-results .dropdown-menu {
  width: 166px;
  border-radius: 0;
  box-shadow: none;
}
.search-results .dropdown-menu li {
  font-size: 11px;
  color: #6d6f71;
  text-transform: uppercase;
}
.search-results .view-wrapper {
  margin-top: 17px;
  border-right: 1px solid #919192;
  width: 36%;
  float: left;
}
.search-results .view-wrapper p {
  color: #3c3838;
  font-size: 12px;
  display: inline;
  margin-right: 10px;
}
.search-results .pagination.gotham {
  margin-top: 15px;
  float: right;
}
.search-results .pagination.gotham a {
  color: #ce171f;
  border: none;
  font-size: 12px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: #eff0f1;
}
.search-results .pagination.gotham a:hover {
  background-color: #eff0f1;
}
.search-results .pagination.gotham a.disabled {
  color: #3c3838;
}
.search-results .product-details h2 {
  font-size: 19px;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}
.search-results .product-details h3 {
  font-size: 12px;
  color: #777;
  margin: 5px 0 12px 0;
  font-weight: bold;
}
.search-results .product-details h5 {
  font-size: 12px;
  color: black;
  border-right: 1px solid #777;
  display: inline;
  padding-right: 7px;
}
.search-results .product-details p {
  font-size: 12px;
  color: #777;
  margin-top: 12px;
}
.search-results .product-details a {
  color: #ce171f;
  font-size: 12px;
  padding-left: 5px;
  text-decoration: none;
}
.search-results .product-details ul {
  list-style: none;
  padding: 0;
}
.search-results .product-details ul li.disabled {
  font-size: 12px;
  padding-left: 5px;
  font-style: italic;
  color: #999;
  cursor: default;
}
.search-results .product-details .border-left {
  border-left: 1px dashed #ddd;
}
.search-results .product-details .border-left img {
  margin-bottom: 43px;
}
.search-results .product-details .border-left ul {
  list-style: none;
  padding: 0;
}
.search-results .product-details .border-left ul li {
  font-size: 12px;
  color: #777;
}
.search-results .product-details .border-left ul li a {
  color: #ce171f;
  text-decoration: none;
  padding: 7px 0;
}
.search-results .product-details .product {
  margin-bottom: 50px;
}
