html,body{height:100%}.gl-main{display:table;height:-webkit-calc(100% - 149px);height:-moz-calc(100% - 149px);height:-o-calc(100% - 149px);height:calc(100% - 149px);margin-bottom:-230px;padding-bottom:230px;position:relative;z-index:-2}