body {
	background-image: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/uploads/2012/02/5723182425_377dd05f2a_b.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
}

.container {
	max-width: 990px;
	background-color: white;
}

.no-left {
        padding-left: 0;
}
.no-right {
		padding-right: 0;
}

@media only screen and (min-width: 15em) {

	.row {
		margin-bottom: 30px;
	}

	.row .whatever-class {
		font-size: 20px;
	}

	.row nav {
		width: 75%;
		height: auto;
	}

	.btn-group {
		width: 15%;
		height: auto;
	}

	.btn-dropdown-toggle {
		outline: none;
		float: left;
		display: inline-block;
		margin-bottom: 0;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 2% 4%;
		font-size: 0.6em;
		line-height: 1.42857143;
		border-radius: 0;
		background-color: white;
	}

	.dropdown-menu {
		font-size: 12px;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: white;
		margin-left: inherit;
	}

	.dropdown-menu li a {
		color: white;
	}

	.dropdown-menu li a:hover {
		background-color: #222;
		color: white;
	}

	.hover a:hover {
		background-color: #222;
	}


	#bold {
		font-weight: bold;
	}

	#home-btn {
		background-color: #f9ba00;
		color: white;
		width: 100%;
		height: auto;
	}

	#music-btn {
		width: 100%;
		height: auto;
	}

	#music-btn:hover {
		text-decoration: none;
		background-color: #0ac4ff;
		color: white;
	}

	#music-toggle {
		background-color: #0ac4ff;
	}

	#news-btn {
		width: 100%;
		height: auto;
	}

	#news-btn:hover {
		background-color: #37de21;
		color: white;
	}

	#news-toggle {
		background-color: #37de21;
	}

	#tech-btn {
		width: 100%;
		height: auto;
	}

	#tech-btn:hover {
		background-color: #258fef;
		color: white;
	}

	#tech-toggle {
		background-color: #258fef;
	}

	#features-btn {
		width: 100%;
		height: auto;
	}

	#features-btn:hover {
		background-color: black;
		color: white;
	}

	#features-toggle {
		background-color: black;
	}

	#reviews-btn {
		width: 100%;
		height: auto;
	}

	#reviews-btn:hover {
		background-color: #ff9b1a;
		color: white;
	}

	#reviews-toggle {
		background-color: #ff9b1a;
	}

	.content {
		width: 100%;
		height: auto;
		background-color: white;
		margin: 0 auto;
		float: left;
	}

	/*FLEXSLIDER STYLING*/

	.flexslider {
		margin: 0;
		width: 100%;
		border: none;
		border-radius: 0;
		-webkit-border-radius: 0;
		float: left;
	}

	.flex-prev {
		content: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-left.png) !important;
		background-color: black;
	}

	.flex-next {
		content: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-right.png) !important;
		background-color: black;
	}

	.flex-prev:hover {
		background-color: #f9ba00; 
	}

	.flex-next:hover {
		background-color: #f9ba00; 
	}

	.flexslider .slides .li {
		position: relative;
	}

	.flexslider .flex-caption {
		visibility: hidden;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    margin: 0;
	    padding: 10px;
	    color: white;
	    background-color: black;
	    opacity: 0.8;
	    font-size: 0.75em;
	    display: block;
	    padding-right: 10%;
	}

	.flexslider .flex-caption a{
		font-size: 1em;
		font-weight: bold;
		color: white;
		text-decoration: none;
		display: block;
	}

	.flexslider .flex-caption a:hover {
		color: #f9ba00;
	}

	.flex-control-nav {
		visibility: hidden;
		width: 6%;
		position: relative;
		margin-top: -18%;
		text-align: none;
		margin-left: 93%;
		z-index: 99;
	}

	.flex-control-nav li {
		margin: 0 0 5px 5px;
		float: left;
	}

	.flex-control-paging li a {
		background: white;
		float: left;
	}

	.flex-control-paging li a.flex-active {
		background: #ff9b1a;
	}

	.flex-control-paging li a {
		width: 11px;
		height: 11px;
	}

	/*END OF FLEXSLIDER*/

	.carousel-caption {
	  z-index: 10;
	  float: left;
	  text-align: left;
	  background-color: black;
	  opacity: 0.7;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  padding: 0;
	  width: 100%;
	  height: auto;
	}

	.carousel-caption h2 {
		font-size: 1.3333333em;
		margin-left: 2%;
	}

	.carousel-caption h5 {
		font-size: 0.75em;
		margin-left: 2%;
		margin-right: 30%;
	}

	.carousel-caption h6 {
		font-size: 0.75em;
		font-weight: bold;
		margin: 5px 1px;
	}

	.carousel-caption a {
		color: white;
		text-decoration: none;
	}

	.carousel-caption a:hover {
		color: #f9ba00;
		-webkit-transition: background 1s;
	}


	#left {
		float: left;
	}

	#right {
		float: right;
	}

	.story-block {
		float: left;
		margin-bottom: 15%;
		width: 100%;
	}

	.story-block img {
		float: left;
	}

	.story img {
		visibility: hidden;
		width: 0;
		height: 0;
	}

	#overlay-btn {
		background-color: #f9ba00;
		color: white;
		position: absolute;
		opacity: 0.9;
		border: none;
		font-size: 1.2em;
		padding: 2% 6%;
		z-index: 1000;
	}

	#overlay-btn:hover {
		background-color: #444;
		-webkit-transition: background 1s;
	}

	.headline {
		margin-top: 3%;
		float: left;
		line-height: 1.2em;
	}

	.headline a {
		font-size: 1.15em;
		line-height: 1.3em;
		color: black;
		text-decoration: none;
	}

	.headline a:hover {
		background-color: #999;
	}

	.headline a span {
		font-weight: bold;
	}

	.headline p {
		display: block;
		float: left;
		color: #999;
		margin-top: 2%;
		line-height: 1.5em;
		font-size: 0.85em;
	}

	.headline img {
		width: 23%;
		height: auto;
		background-color: #f9ba00;
		background-size: 80%;
		margin-top: 1%;
	}

	#thumb {
		width: 20%;
		height: auto;
		float: left;
	}
	
	.story {
		float: left;
		display: inline-block;
		width: 75%;
		margin-left: 5%;
	}

	.story a {
		font-size: 0.9em;
		display: inline;
		text-decoration: none;
		color: black;
	}

	.story a:hover {
		background-color: #DDD;
	}

	.story a span {
		font-weight: bold;
	}

	.story p {
		font-size: 0.7em;
		font-weight: bold;
		color: black;
		display: block;
	}

	.story p span{
		font-size: 1em;
		font-weight: bold;
		font-style: italic;
		display: inline;
	}

	#stars{
		visibility: visible;
		width: 27%;
		float: initial;
		height: auto;
		background-color: #f9ba00;
		display: block;
	}

	#stars-2 {
		visibility: visible;
		width: 40%;
		height: auto;
		background-color: #f9ba00;
		display: block;
		margin-bottom: -2%;
	}

	#story-btn {
		background-color: #f9ba00;
		color: white;
		border: none;
		float: left;
		font-size: 0.75em;
		font-weight: bold;
		margin-right: 2%;
		margin-top: 1%;
	}

	#story-btn:hover {
		background-color: #444;
		-webkit-transition: background 1s;
	}

	/*BX-SLIDER STYLING*/

	.bxslider #overlay-btn {
		padding: 3% 13%;
	}

	.bx-wrapper {
		width: 100% !important;
		max-width: 100%;
		height: auto;
		float: left;
	}

	.bx-wrapper .bx-viewport {
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		left: 0;
	}

	.bx-wrapper .bx-controls-direction a {
		top: inherit;
		margin-top: -73px;
		margin-right: -10px;
	}

	.bx-wrapper .bx-next {
		visibility: hidden;
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-right.png) center no-repeat;
		background-color: black;
	}

	.bx-wrapper .bx-next:hover {
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-right.png) center no-repeat;
		background-color: #f9ba00;
	}

	.bx-wrapper .bx-prev {
		visibility: hidden;
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-left.png) center no-repeat;
		background-color: black;
	}

	.bx-wrapper .bx-prev:hover {
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-left.png) center no-repeat;
		background-color: #f9ba00;
	}

	.carousel-caption h6 {
		font-size: 0.85em;
	}

	/*END BX-SLIDER*/

	.sports {
		float: left;
		margin-top: 5%;
		margin-left: 3%;
		width: 100%;
		height: auto;
	}

	.sports-column {
		width: 45%;
		height: auto;
		float: left;
		margin-right: 5%;
	}

	.sports-column a {
		text-decoration: none;
		color: black;
	}

	.sports-column a span {
		font-weight: bold;
	}

	.sports-column p {
		font-size: 0.7em;
		font-weight: bold;
		color: black;
		display: block;
	}

	.sports-column p span{
		font-size: 1em;
		font-weight: bold;
		font-style: italic;
		display: inline;
	}

	.sidebar {
		visibility: visible;
		float: right;
		width: 31%;
		height: inherit;
	}

	.social {
		width: 100%;
		height: auto;
		float: left;
		margin: 0 auto;
		margin-top: -1%;
	}

	.single {
		width: 33%;
		height: auto;
		float: left;
		display: inline;
		/* padding-right: 8%; */
	}

	.single a {
		text-decoration: none;
		display: block;
		text-align: center;
		font-size: 0.6em;
	}

	.single a span {
		margin-top: 2%;
	}

	.single img {
		margin-bottom: 8%;
	}

	.subscribers {
		height: 50px;
		background: url(../img/subscribers.png) center no-repeat;
		margin-bottom: 13%;
		margin: 0 auto;
	}

	.subscribers:hover {
		background: url(../img/subscribers-hover.png) center no-repeat;
		cursor: pointer;
		-webkit-transition: background 1s;
	}

	.twitter {
		background: url(../img/twitter.png) center no-repeat;
		height: 50px;
		margin-bottom: 12.5%;
		margin: 0 auto;
	}

	.twitter:hover {
		background: url(../img/twitter-hover.png) center no-repeat;
		cursor: pointer;
		-webkit-transition: background 1s;
	}

	.facebook {
		background: url(../img/facebook.png) center no-repeat;
		height: 50px;
		margin-bottom: 14.5%;
		margin: 0 auto;
	}

	.facebook:hover {
		background: url(../img/facebook-hover.png) center no-repeat;
		cursor: pointer;
		-webkit-transition: background 1s;
	}

	#numbers {
		font-size: 0.7em;
		text-align: center;
		color: black;
		margin-top: 12%;
	}

	#fans {
		font-size: 0.75em;
		text-align: center;
		color: black;
		font-weight: bold;
	}

	.tabs {
		width: 100%;
		float: left;
		margin-top: 5%;
		margin-bottom: 10%;
		padding: 0;
	}

	.tabs li {
		display: inline;
		float: left;
		width: 33%;
		height: auto;
	}

	.tabs a {
		background-color: #444;
		color: white;
		text-decoration: none;
		width: 100%;
		height: auto;
		padding: 7% 35%;
		margin: 0 auto;
		text-align: center;
	}

	#popular {
		background-color: #f9ba00;
		padding: 7% 26%;
	}

	.tabs a:hover {
		background-color: #222;
		-webkit-transition: background 1s;
	}

	.sidebar-articles {
		float: left;
		margin-top: 5%;
		width: 100%;
	}

	.article {
		margin-top: 5%;
		margin-bottom: 10%;
		float: left;
		width: 100%;
	}

	.article img {
		width: 26%;
		height: auto;
		float: left;
	}

	.caption {
		float: left;
		display: inline;
		margin-left: 3%;
		width: 79%;
		height: 50px;
		line-height: 1.3em;
	}

	.caption a {
		font-size: 0.75em;
		color: black;
		text-decoration: none;
		font-weight: bold;
		display: inline;
		margin: 0;
	}

	p {
		font-size: 0.75em;
		display: inline;
		margin: 0;
	}

	p span {
		font-weight: bold;
		display: block;
		font-size: 0.85em;
	}

	.video-widget {
		width: 100%;
		height: auto;
		float: left;
	}

	.video-widget img {
		width: 100%;
		height: auto;
		margin-bottom: 5%;
	}

	.video-title {
		background-color: #f9ba00;
	}

	.video-title h4 {
		color: white;
		font-size: 1.2em;
		padding: 2%;
		margin: 0;
	}

	#placeholder {
		margin-top: 5%;
	}

	.placeholders img {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	#sportscaption {
		font-weight: normal;
		color: #999;
		font-size: 0.85em;
		margin-top: 2%;
	}

	.col-md-6 .links {
		font-size: 0.85em;
		line-height: 2em;
	}

	.col-md-6 .links a {
		color: black;
		display: block;
		font-size: 1.3em;
		margin-bottom: 3%;
		text-decoration: none;
	}

	.col-md-6 .links span {
		font-weight: bold;
	}

	.col-md-6 .links p {
		font-family: 'Times', serif;
		font-size: 0.9em;
		color: black;
		font-style: italic;
		letter-spacing: 0.2em;
	}

	.col-md-6 .links p a {
		text-transform: uppercase;
		text-decoration: none;
		color: #f9ba00;
		font-weight: bold;
		font-style: normal;
		letter-spacing: 0.2em;
		display: inherit;
	}

	.sports-buttons {
		margin-top: 5%;
		margin-bottom: 25%;
	}

	.sports-text {
		margin-top: 4%;
		float: left;
	}

	.sports-text a {
		text-decoration: none;
		color: black;
		font-weight: bold;
		margin-bottom: 2%;
	}

	.sports-text p {
		font-size: 0.8em;
		display: block;
	}

	.sports-text p span {
		display: inline;
	}

	#sports-btn {
		display:  inline;
		background-color: #f9ba00;
		color: white;
		font-weight: bold;
		padding: 2% 3%;
		margin: 2%;
		font-size: 0.9em;
		border: none;
	}

	footer {
		width: 100%;
		height: auto;
		float: left;
		clear: both;
		background-color: #111;
	}

	.footer-border {
		width: 100%;
		height: 20px;
		padding: 0;
		background-color: #aaa;
		opacity: 0.2;
		margin-top: -1%;
	}


	footer p {
		margin-top: 5%;
		color: #888;
		font-size: 0.75em;
	}

	#footlogo {
		width: 93%;
		height: auto;
		padding: 11% 5% 8% 0;
	}

	#footersocial {
		margin-left: 1.8%;
	}

	.footer-social {
		margin-bottom: 5%;
	}

	.footer-social img {
		width: 15%;
	}

	.calendar-wrapper {
		width: 100%;
		height: auto;
		float: left;
	}

	.calendar-wrapper table {
		width: 100%;
		margin: 10% 2% 5% 0;
		border: none;
	}

	.calendar-wrapper td {
		width: 15%;
		height: auto;
		color: white;
		padding: 3%;
		font-size: 0.75em;
		border-color: #111;
	}

	.col-sm-3 {
		width: 24.5%;
	}

	.col-sm-3 h3 {
		font-size: 1.2em;
		color: white;
		font-weight: bold;
		margin: 30% 0 0 0;
	}

	.calendar-wrapper a {
		color: #f9ba00;
		text-decoration: none;
		font-size: 0.75em;
		margin-left: 7%;
	}

	#day {
		background-color: #444;
		color: #AAA;
	}

	.days {
		background-color: #f9ba00;
		color: white;
	}

	#tags {
		width: 18%;
		height: auto;
		margin-left: 7%;
		margin-bottom: 5%;
	}

	.tag-wrapper {
		width: 100%;
		margin-top: 10%;
		float: left;
	}

	#tag-btn {
		display: inline;
		border: none;
		background-color: #444;
		color: #AAA;
		font-size: 0.85em;
		padding: 2% 4%;
		margin: 0 0 1.5% -1.5%;
	}

	#tag-btn:hover {
		background-color: #f9ba00;
		color: white;
		-webkit-transition: .8s ease-out;
	}

	#flickr {
		width: 43%;
		height: auto;
		margin: 8% 6% 4% 0;
		border: 1px solid #222;
		padding: 2%;
	}

	#flickr:hover {
		border: 1px solid #f9ba00;
		-webkit-transition: .8s ease-out;
	}

	footer {
		background-color: #111;
	}

	footer h6 {
		font-size: 0.8em;
		color: #888;
		margin: 2% 0 0 3.5%;
		float: left;
		margin-bottom: 2%;
	}

	footer ul {
		float: right;
		width: 33%;
		margin-top: 1.5%;
		margin-bottom: 2%;
	}

	footer ul li {
		display: inline;
		border-right: 1px solid #222;
	}

	footer ul li:last-child {
		border: none;
	}

	footer ul li a {
		padding: 0 3%;
		text-decoration: none;
		font-size: 0.8em;
		color: #999;
	}

	footer ul li a:hover {
		color: white;
		text-decoration: none;
		-webkit-transition: .8s ease-out;
	}

	#dark {
		background-color: black;
	}

}

@media only screen and (min-width: 480px) {


	.btn-dropdown-toggle {
		font-size: 0.85em;
	}

	.bx-wrapper .bx-viewport {
		left: -5;
	}

	.bx-wrapper .bx-next {
		visibility: visible;
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-right.png) center no-repeat;
		background-color: black;
	}

	.bx-wrapper .bx-next:hover {
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-right.png) center no-repeat;
		background-color: #f9ba00;
	}

	.bx-prev {
		margin-left: -10px;
	}

	.bx-wrapper .bx-prev {
		visibility: visible;
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-left.png) center no-repeat;
		background-color: black;
	}

	.bx-wrapper .bx-prev:hover {
		background: url(http://www.olliemccarthy.com/themes/gonzo/wp-content/themes/gonzo/images/flex-arrow-left.png) center no-repeat;
		background-color: #f9ba00;
	}

	/*#placeholder a {
		width: 110px;
		height: 110px;
	}
*/
}

@media only screen and (min-width: 768px) { 


	#stars {
		width: 35%;
	}


	.flexslider .flex-caption {
		visibility: visible;
	}

	.story img {
		visibility: visible;
		width: 20%;
		height: auto;
		float: left;
		margin-right: 2%;
	}

	.btn-dropdown-toggle {
		font-size: 1.3em;
	}

	
	.carousel-caption h6 {
	  font-size: 1em;
	}

	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
		width: 30px;
		height: 30px;
		margin-top: -15px;
		margin-left: -38px;
		font-size: 30px;
		margin-right: -38px;
		}

	.headline img {
		width: 30%;
	}


	#tags {
		width: 18%;
		height: auto;
		margin-left: 5%;
		margin-bottom: 5%;
	}
}

@media only screen and (min-width: 1024px) {
	

	.flexslider .flex-caption {
		font-size: 0.85em;
	}
	.flexslider .flex-caption a{
		font-size: 1.5em;
	}

	.flex-control-nav {
		visibility: visible;
		width: 6%;
		margin-top: -18.5%;
		margin-left: 93%;
	}

	.flex-control-paging li a {
		width: 11px;
		height: 11px;
	}

	#stars {
		width: 50%;
	}

	.single a {
		font-size: 0.85em;
	}


	.tabs a {
		font-size: 1em;
		text-align: center;
	}

	#popular {
		font-size: 1em;
	}

	.caption a {
		font-size: 0.9em;
	}

	p {
		font-size: 0.9em;
	}

	p span {
		font-size: 0.7em;
	}

	.video-widget img {
		width: 100%;
		height: 163px;
	}

	.video-title {
		width: 100%;
	}

	#placeholder a {
		width: 125px;
		height: 125px;
	}

}