@font-face {
  font-family: museo_sans;
  font-weight: 100;
  src: url('../fonts/MuseoSans-100.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/MuseoSans-100Italic.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 300;
  src: url('../fonts/MuseoSans-300.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/MuseoSans-300Italic.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 500;
  src: url('../fonts/MuseoSans_500.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/MuseoSans_500_Italic.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 700;
  src: url('../fonts/MuseoSans_700.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/MuseoSans-700Italic.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 900;
  src: url('../fonts/MuseoSans_900.otf');
}
@font-face {
  font-family: museo_sans;
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/MuseoSans-900Italic.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 100;
  src: url('../fonts/MuseoSlab-100.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/MuseoSlab-100Italic.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 300;
  src: url('../fonts/MuseoSlab-300.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 500;
  src: url('../fonts/MuseoSlab-500.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/MuseoSlab-500Italic.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 700;
  src: url('../fonts/MuseoSlab-700.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/MuseoSlab-700Italic.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 900;
  src: url('../fonts/MuseoSlab-500.otf');
}
@font-face {
  font-family: museo_slab;
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/MuseoSlab-500Italic.otf');
}
nav {
  width: 100%;
  height: auto;
  background: #5bb22f;
  padding: 16px 0 19px 0;
  overflow: hidden;
}
nav .logo {
  float: left;
  width: 145px;
  height: 20px;
  margin: 3px 0 0 0;
}
nav .logo img {
  width: 100%;
  height: auto;
}
nav ul {
  float: right;
  margin: 0;
  padding: 4px 0 0 0;
}
nav ul li {
  display: inline-block;
  font-family: museo_sans;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 35px;
}
nav ul li:last-child {
  margin-right: 58px;
}
nav ul li a {
  color: #fff;
  display: block;
}
nav ul li.active a,
nav ul li:hover a {
  color: #fff;
}
nav .search-wrapper {
  position: relative;
  float: right;
  width: auto;
  height: auto;
  margin-top: 3px;
}
nav .search-wrapper input {
  width: 140px;
  min-height: 19px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-family: museo_sans;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #58b421;
  padding: 2px 25px 0 8px;
}
nav .search-wrapper input::-webkit-input-placeholder {
  color: #58b421;
}
nav .search-wrapper input:-moz-input-placeholder {
  color: #58b421;
}
nav .search-wrapper input::-moz-input-placeholder {
  color: #58b421;
}
nav .search-wrapper input::-ms-input-placeholder {
  color: #58b421;
}
nav .search-wrapper img {
  position: absolute;
  bottom: 1px;
  right: 7px;
  width: 17px;
}
.profile-header {
  width: 100%;
  height: auto;
  padding: 20px 0 15px 0;
  background: #ede8dd;
  overflow: hidden;
}
.profile-header .profile-pic {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 15px;
  -webkit-border-radius: 33px;
  -mox-border-radius: 33px;
  -o-border-radius: 33px;
  border-radius: 33px;
}
.profile-header .name {
  float: left;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 700;
  color: #505050;
  margin: 24px 0 0 0;
}
.profile-header .profile-nav {
  margin: 24px 0 0 0;
  padding: 0;
  text-align: center;
}
.profile-header .profile-nav li {
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.2em;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #505050;
}
.profile-header .profile-nav li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.profile-header .profile-nav li:hover a,
.profile-header .profile-nav li.active a {
  color: #58b421;
}
.profile-header .profile-nav li a {
  display: block;
  color: #505050;
}
.profile-header .weather-wrapper {
  float: right;
  width: 135px;
  height: auto;
}
.profile-header .weather-wrapper.sunny {
  background: url(../img/calendar/weather_sunny.png) no-repeat;
  background-position: 85px 6px;
}
.profile-header .weather-wrapper p {
  font-family: museo_sans;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #505050;
  margin: 0;
}
.profile-header .weather-wrapper p span {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: inherit;
  margin-left: 20px;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  background: #584a3f;
  z-index: 100;
}
footer .top-wrapper {
  width: 100%;
  height: auto;
  background: #7a6f66;
  padding: 75px 0;
}
footer .top-wrapper h2 {
  font-family: museo_sans;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  letter-spacing: .1em;
}
footer .top-wrapper .input-wrapper {
  display: block;
  width: 330px;
  height: 40px;
  margin: 0 auto;
}
footer .top-wrapper .input-wrapper input {
  width: 220px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-family: museo_slab;
  font-size: 13px;
  font-weight: 500;
  color: #7a6f66;
  margin-right: 2px;
}
footer .top-wrapper .input-wrapper input::-webkit-input-placeholder {
  color: #7a6f66;
}
footer .top-wrapper .input-wrapper input:-moz-input-placeholder {
  color: #7a6f66;
}
footer .top-wrapper .input-wrapper input::-moz-input-placeholder {
  color: #7a6f66;
}
footer .top-wrapper .input-wrapper input::-ms-input-placeholder {
  color: #7a6f66;
}
footer .top-wrapper .input-wrapper .btn {
  font-family: museo_slab;
  font-size: 18px;
  font-weight: 500;
  color: #7a6f66;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
footer .top-wrapper .input-wrapper .btn.btn-primary {
  background: #fff;
}
footer .top-wrapper .input-wrapper .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
footer .top-wrapper .input-wrapper .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
footer ul {
  margin: 80px 0 120px 0;
  padding: 0;
}
footer ul li {
  list-style: none;
  font-family: museo_sans;
}
footer ul li h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 20px 0;
}
footer ul li a {
  font-size: 16px;
  color: #fff;
  line-height: 1.6em;
}
footer ul li a:hover {
  color: #fff;
}
.styled-1,
.styled-2,
.styled-3,
.styled-4,
.styled-5 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.styled-1 select,
.styled-2 select,
.styled-3 select,
.styled-4 select,
.styled-5 select {
  display: block;
  width: 130%;
  font-size: 12px;
  color: #505050;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 2px 0 0 15px;
}
.styled-1 select option,
.styled-2 select option,
.styled-3 select option,
.styled-4 select option,
.styled-5 select option {
  background: #fff;
}
.styled-1 {
  position: absolute;
  top: -3px;
  left: 0;
  width: 140px;
  height: 20px;
  background: url(../img/global/form_select.png) no-repeat bottom right;
}
.styled-1 select {
  font-weight: 100;
}
.styled-2 {
  display: inline-block;
  width: 70px;
  height: 20px;
  margin-bottom: -5px;
  background: url(../img/global/form_select_2.png) no-repeat bottom right;
}
.styled-2 select {
  font-family: 'times';
  font-weight: 500;
  padding-left: 12px;
}
.styled-3 {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 3px;
  background: url(../img/global/form_select_2.png) no-repeat bottom right;
}
.styled-3 select {
  font-family: 'times';
  font-weight: 500;
  padding-left: 12px;
}
.styled-4 {
  display: block;
  width: 336px;
  height: 20px;
  margin-bottom: 20px;
  margin-right: 3px;
  background: url(../img/global/form_select_2.png) no-repeat bottom right;
}
.styled-4 select {
  font-family: 'times';
  font-weight: 500;
  padding-left: 12px;
}
.styled-5 {
  display: block;
  width: 140px;
  height: 20px;
  margin-right: 3px;
  background: url(../img/global/form_select_2.png) no-repeat bottom right;
}
.styled-5 select {
  font-family: 'times';
  font-weight: 500;
  padding-left: 12px;
}
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  left: -999em;
}
label {
  font-weight: inherit;
}
.custom:before {
  display: inline-block;
  position: relative;
  top: 0.45em;
  left: -2px;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/global/form_elements.png);
}
input[type="checkbox"] + label:before {
  background-position: 0 -25px;
}
input[type="checkbox"]:checked + label:before {
  background-position: 0 0 ;
}
input[type="radio"] + label:before {
  background-position: -25px -25px;
}
input[type="radio"]:checked + label:before {
  background-position: -25px 0;
}
/* Remove the custom styling for IE 7-8 */
.ie8 label:before {
  display: none;
  content: none;
}
.ie8 input[type="checkbox"],
.ie8 input[type="radio"],
.ie7 input[type="checkbox"],
.ie7 input[type="radio"] {
  position: static;
  left: 0;
}
.ie8 input[type="checkbox"],
.ie8 input[type="radio"] {
  position: relative;
  top: 5px;
  margin-right: 0.5em;
}
input[type="text"]:focus,
textarea:focus {
  border-color: #000;
}
.calendar-wrapper {
  margin-bottom: 60px;
}
.calendar-wrapper > p {
  text-align: center;
  margin: none;
}
.calendar-wrapper > p .btn {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.calendar-wrapper > p .btn.btn-primary {
  background: #564f4c;
}
.calendar-wrapper > p .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.calendar-wrapper > p .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.calendar-wrapper h1 {
  font-family: museo_slab;
  font-size: 80px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #505050;
  margin: 0 0 15px 0;
}
.calendar-wrapper h1 span {
  display: block;
  font-size: 20px;
  margin: 0 0 -15px 0;
  cursor: inherit;
}
.calendar-wrapper h2 {
  font-family: museo_sans;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
  color: #505050;
  margin: 25px 0 10px 0;
}
.calendar-wrapper h3 {
  position: relative;
  font-family: museo_slab;
  font-size: 36px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 30px 0;
}
.calendar-wrapper h3 span {
  cursor: inherit;
}
.calendar-wrapper h3 .month-1 {
  color: #288ac9;
}
.calendar-wrapper h3 .month-2 {
  color: #3593ad;
}
.calendar-wrapper h3 .month-3 {
  color: #419d88;
}
.calendar-wrapper h3 .month-4 {
  color: #4dac48;
}
.calendar-wrapper h3 .month-5 {
  color: #7eae40;
}
.calendar-wrapper h3 .month-6 {
  color: #a8b037;
}
.calendar-wrapper h3 .month-7 {
  color: #f1b129;
}
.calendar-wrapper h3 .month-8 {
  color: #ee962a;
}
.calendar-wrapper h3 .month-9 {
  color: #ef7335;
}
.calendar-wrapper h3 .month-10 {
  color: #f04d3a;
}
.calendar-wrapper h3 .month-11 {
  color: #cb6560;
}
.calendar-wrapper h3 .month-12 {
  color: #7981a5;
}
.calendar-wrapper h4 {
  float: left;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin: 15px 25px 0 0;
}
.calendar-wrapper .slide-wrapper {
  position: relative;
  display: block;
  width: 195px;
  height: auto;
  margin: 0 auto;
}
.calendar-wrapper .slide-wrapper .prev {
  position: absolute;
  top: 10px;
  left: -24px;
}
.calendar-wrapper .slide-wrapper .prev:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
}
.calendar-wrapper .slide-wrapper .next {
  position: absolute;
  top: 10px;
  right: -24px;
}
.calendar-wrapper .slide-wrapper .next:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
}
.calendar-wrapper .actions {
  margin: 15px 0 0 0;
}
.calendar-wrapper .views {
  float: left;
  margin: 15px 0 0 0;
  padding: 0;
}
.calendar-wrapper .views li {
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1em;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #505050;
}
.calendar-wrapper .views li:last-child {
  border-right: none;
}
.calendar-wrapper .views li.active span,
.calendar-wrapper .views li:hover span {
  color: #58b421;
}
.calendar-wrapper .views li span {
  color: #505050;
}
.calendar-wrapper .slides .month-header,
.calendar-wrapper .slides .filter-header {
  width: 99.5%;
  margin: 0 0 0 4px;
  padding: 0;
}
.calendar-wrapper .slides .month-header.one,
.calendar-wrapper .slides .filter-header.one {
  background: #288ac9;
}
.calendar-wrapper .slides .month-header.two,
.calendar-wrapper .slides .filter-header.two {
  background: #3593ad;
}
.calendar-wrapper .slides .month-header.three,
.calendar-wrapper .slides .filter-header.three {
  background: #419d88;
}
.calendar-wrapper .slides .month-header.four,
.calendar-wrapper .slides .filter-header.four {
  background: #4dac48;
}
.calendar-wrapper .slides .month-header.five,
.calendar-wrapper .slides .filter-header.five {
  background: #7eae40;
}
.calendar-wrapper .slides .month-header.six,
.calendar-wrapper .slides .filter-header.six {
  background: #a8b037;
}
.calendar-wrapper .slides .month-header.seven,
.calendar-wrapper .slides .filter-header.seven {
  background: #f1b129;
}
.calendar-wrapper .slides .month-header.eight,
.calendar-wrapper .slides .filter-header.eight {
  background: #ee962a;
}
.calendar-wrapper .slides .month-header.nine,
.calendar-wrapper .slides .filter-header.nine {
  background: #ef7335;
}
.calendar-wrapper .slides .month-header.ten,
.calendar-wrapper .slides .filter-header.ten {
  background: #f04d3a;
}
.calendar-wrapper .slides .month-header.eleven,
.calendar-wrapper .slides .filter-header.eleven {
  background: #cb6560;
}
.calendar-wrapper .slides .month-header.twelve,
.calendar-wrapper .slides .filter-header.twelve {
  background: #7981a5;
}
.calendar-wrapper .slides .month-header li {
  display: inline-block;
  list-style: none;
  width: 13.86%;
  padding: 6px 4px 6px 0;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.calendar-wrapper .slides .filter-header li {
  position: relative;
  display: inline-block;
  width: 140px;
  list-style: none;
  padding: 6px 4px 6px 0;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 0 10px;
}
.calendar-wrapper .slides .filter-header li:last-child {
  margin-left: 20px;
}
.calendar-wrapper .slides ol {
  width: 100%;
  margin: 0;
  padding: 0;
}
.calendar-wrapper .slides ol > li {
  position: relative;
  list-style: none;
  float: left;
  width: 13.86%;
  height: 85px;
  background: #ede8dd;
  margin-left: 4px;
  margin-bottom: 4px;
  padding-top: 2px;
  font-family: museo_sans;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #505050;
}
.calendar-wrapper .slides ol > li.selected,
.calendar-wrapper .slides ol > li:hover {
  background: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.calendar-wrapper .slides ol > li .categories {
  margin: 0;
  padding: 0;
}
.calendar-wrapper .slides ol > li .categories li {
  display: inline-block;
  list-style: none;
  width: 32px;
  height: 32px;
  margin: 5px auto 0 auto;
}
.calendar-wrapper .slides ol > li .more-link {
  position: relative;
  bottom: 5px;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
  margin-bottom: 4px;
}
.calendar-wrapper .slides ol > li .dropdown {
  position: absolute;
  top: 0;
  right: -180px;
  width: 180px;
  height: 230px;
  margin: 0;
  padding: 10px;
  background: #fff;
  text-align: left;
  overflow-y: scroll;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -o-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
}
.calendar-wrapper .slides ol > li .dropdown.left {
  left: -180px;
  -webkit-box-shadow: -3px 3px 3px #cccccc;
  -moz-box-shadow: -3px 3px 3px #cccccc;
  -o-box-shadow: -3px 3px 3px #cccccc;
  box-shadow: -3px 3px 3px #cccccc;
}
.calendar-wrapper .slides ol > li .dropdown.top {
  top: inherit;
  bottom: -4px;
}
.calendar-wrapper .slides ol > li .dropdown p {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 15px;
}
.calendar-wrapper .slides ol > li .dropdown li {
  list-style: none;
  font-family: museo_slab;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 1em;
}
.calendar-wrapper .slides ol > li .dropdown li a {
  color: #58b421;
}
.calendar-wrapper .slides ol > li .dropdown li img {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}
.calendar-wrapper .slides ol > li .dropdown li span {
  display: block;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #505050;
  margin-left: 20px;
}
.calendar-wrapper .slides .month-list {
  /*height: 534px;*/

  margin: 0 0 0 4px;
  padding: 0;
  /*overflow-y: scroll;
			border-bottom: 36px solid #ede8dd;*/

}
.calendar-wrapper .slides .month-list li {
  list-style: none;
}
.calendar-wrapper .slides .month-list li.day {
  padding: 15px;
}
.calendar-wrapper .slides .month-list li.day span {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
}
.calendar-wrapper .slides .month-list li .panel {
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
  box-shadow: none;
}
.calendar-wrapper .slides .month-list li .panel .panel-collapse {
  padding-left: 10px;
}
.calendar-wrapper .slides .month-list li .panel .title-wrapper {
  width: 100%;
  height: auto;
  background: #ede8dd;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.calendar-wrapper .slides .month-list li .panel .title-wrapper img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.calendar-wrapper .slides .month-list li .panel .title-wrapper h4 {
  font-size: 22px;
  margin: 5px 0 0 0;
}
.calendar-wrapper .slides .month-list li .panel .title-wrapper p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
  margin: 0;
}
.calendar-wrapper .slides .month-list li .panel .event-stamp {
  margin: 0 0 10px 0;
  padding: 25px 0 0 0;
}
.calendar-wrapper .slides .month-list li .panel .event-stamp li {
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1em;
  color: #727272;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #505050;
}
.calendar-wrapper .slides .month-list li .panel .event-stamp li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.event-wrapper {
  margin-bottom: 80px;
}
.event-wrapper:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.event-wrapper span {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.event-wrapper p {
  clear: both;
}
.event-wrapper .title-wrapper img {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.event-wrapper .title-wrapper h3 {
  float: left;
  font-family: museo_slab;
  font-size: 22px;
  font-weight: 500;
  color: #505050;
  margin: 10px 0 0 0;
}
.event-wrapper .title-wrapper .text-block {
  float: left;
  max-width: 470px;
}
.event-wrapper .title-wrapper .icon-wrapper {
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.event-wrapper .title-wrapper .icon-wrapper .icon img:hover {
  opacity: .7;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.event-wrapper .title-wrapper .icon-wrapper.edit {
  background: #eee7dd;
}
.event-wrapper .title-wrapper .icon-wrapper.edit.edit-active {
  outline: 2px solid #5bb22f;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper {
  position: absolute;
  bottom: -304px;
  left: 0;
  width: 400px;
  height: auto;
  background: #fff;
  padding: 25px 0 0 0;
  border: 1px solid #999;
  -webkit-box-shadow: 1px 1px 3px #999;
  -moz-box-shadow: 1px 1px 3px #999;
  -o-box-shadow: 1px 1px 3px #999;
  box-shadow: 1px 1px 3px #999;
  z-index: 1;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper p {
  font-family: museo_slab;
  font-size: 12px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 10px 45px;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper ul {
  height: 225px;
  margin: 0;
  padding: 0 25px 15px 25px;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper ul li {
  list-style: none;
  float: left;
  width: 40%%;
  height: auto;
  margin: 0 5% 15px 5%;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper ul li a {
  display: block;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper ul li img {
  width: 32px;
  height: 32px;
  margin-top: -5px;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper ul li img:hover {
  opacity: .7;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.event-wrapper .title-wrapper .icon-wrapper .choose-icon-wrapper:before {
  position: absolute;
  top: -20px;
  left: 5px;
  width: 20px;
  height: 23px;
  background: url(../img/global/pointer_up.png) no-repeat;
  content: "";
  z-index: 2;
}
.event-wrapper .title-wrapper .event-stamp {
  clear: both;
  margin: 0 0 25px 0;
  padding: 0;
}
.event-wrapper .title-wrapper .event-stamp li {
  position: relative;
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1em;
  color: #727272;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #505050;
}
.event-wrapper .title-wrapper .event-stamp li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.event-wrapper .title-wrapper .event-stamp li input {
  float: none;
  font-weight: 300;
}
.event-wrapper .title-wrapper .event-stamp li img {
  position: absolute;
  top: -4px;
  right: 0;
  width: 24px;
  height: 24px;
}
.event-wrapper .title-wrapper .frequency-wrapper .frequency {
  margin: 0 0 10px 42px;
  padding: 0;
}
.event-wrapper .title-wrapper .frequency-wrapper .frequency li {
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1em;
  color: #727272;
  margin-right: 40px;
}
.event-wrapper .title-wrapper .frequency-wrapper .frequency li:last-child {
  margin-right: 0;
}
.event-wrapper .title-wrapper .frequency-wrapper .endings {
  margin: 0 0 10px 42px;
  padding: 0;
}
.event-wrapper .title-wrapper .frequency-wrapper .endings li {
  position: relative;
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1em;
  color: #727272;
  margin-right: 65px;
}
.event-wrapper .title-wrapper .frequency-wrapper .endings li:first-child {
  width: 290px;
}
.event-wrapper .title-wrapper .frequency-wrapper .endings li:first-child input {
  float: right;
  font-size: 14px;
  font-weight: 300;
  padding-left: 25px;
}
.event-wrapper .title-wrapper .frequency-wrapper .endings li:last-child {
  margin-right: 0;
}
.event-wrapper input {
  float: left;
  margin-right: 10px;
  background: #eee7dd;
  border: none;
}
.event-wrapper input:focus {
  border: 2px solid #5bb22f;
  outline: 0 none;
}
.event-wrapper input.title {
  font-family: museo_slab;
  font-size: 22px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.event-wrapper .input-validation-error {
  outline: 2px solid red;
}
.event-wrapper .field-validation-error {
  font-style: inherit;
  color: red;
  pointer: none;
}
.event-wrapper .validation-summary-errors ul {
  margin: 0;
  padding: 0;
}
.event-wrapper .validation-summary-errors ul li {
  list-style: none;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  color: red;
}
.event-wrapper .link-wrapper {
  position: relative;
}
.event-wrapper .link-wrapper .insert {
  float: right;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
  cursor: pointer;
}
.event-wrapper .link-wrapper .insert-link-wrapper {
  position: absolute;
  top: -10px;
  right: -300px;
  width: 280px;
  height: 225px;
  background: #fff;
  padding: 25px;
  border: 1px solid #999;
  -webkit-box-shadow: 1px 1px 3px #999;
  -moz-box-shadow: 1px 1px 3px #999;
  -o-box-shadow: 1px 1px 3px #999;
  box-shadow: 1px 1px 3px #999;
  z-index: 1;
}
.event-wrapper .link-wrapper .insert-link-wrapper h4 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  text-align: center;
  margin: 0 0 15px 0;
}
.event-wrapper .link-wrapper .insert-link-wrapper ul {
  margin: 0 0 25px 0;
  padding: 0;
}
.event-wrapper .link-wrapper .insert-link-wrapper ul li {
  display: block;
  list-style: none;
  font-family: 'times';
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
}
.event-wrapper .link-wrapper .insert-link-wrapper ul li input {
  float: right;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  padding-left: 5px;
}
.event-wrapper .link-wrapper .insert-link-wrapper p {
  float: none;
  clear: both;
  display: block;
  text-align: center;
}
.event-wrapper .link-wrapper .insert-link-wrapper p span,
.event-wrapper .link-wrapper .insert-link-wrapper p a {
  float: none;
  margin-bottom: 0;
}
.event-wrapper .link-wrapper .insert-link-wrapper:before {
  position: absolute;
  top: 7px;
  left: -20px;
  width: 20px;
  height: 23px;
  background: url(../img/global/pointer_left.png) no-repeat;
  content: "";
  z-index: 2;
}
.event-wrapper textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
  background: #eee7dd;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}
.event-wrapper textarea:focus {
  border: 2px solid #5bb22f;
  outline: 0 none;
}
.event-wrapper p {
  font-family: 'times';
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  color: #505050;
  line-height: 1.9em;
}
.event-wrapper .reminder-wrapper {
  margin-bottom: 30px;
}
.event-wrapper .reminder-wrapper label {
  display: inline-block;
  font-family: 'times';
  font-size: 13px;
  font-weight: 100;
  line-height: 1.4em;
  color: #505050;
  margin-bottom: 0;
}
.event-wrapper .reminder-wrapper .email-wrapper {
  margin-top: 5px;
  margin-left: 25px;
}
.event-wrapper .reminder-wrapper .email-wrapper p {
  margin-left: 25px;
  margin-right: 5px;
}
.event-wrapper .reminder-wrapper .email-wrapper input {
  float: none;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  padding-left: 5px;
}
.event-wrapper .attatched-wrapper {
  min-height: 74px;
  margin-bottom: 10px;
}
.event-wrapper .attatched-wrapper h4 {
  display: inline-block;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin: 0 10px 20px 0;
}
.event-wrapper .attatched-wrapper .project-block {
  position: relative;
  margin-bottom: 20px;
}
.event-wrapper .attatched-wrapper .project-block:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.event-wrapper .attatched-wrapper .project-block .photo-block {
  float: left;
  width: 40px;
  height: 40px;
  margin: -6px 15px 0 0;
}
.event-wrapper .attatched-wrapper .project-block p {
  font-family: 'times';
  font-size: 14px;
  font-style: italic;
}
.event-wrapper .links {
  float: left;
  margin: 10px 0 0 0;
  padding: 0;
}
.event-wrapper .links li {
  display: inline-block;
  list-style: none;
  line-height: 1em;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #505050;
}
.event-wrapper .links li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.event-wrapper .btn {
  float: right;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 100;
  color: #505050;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-right: 0;
}
.event-wrapper .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.event-wrapper .btn:focus {
  border: none;
  outline: 0 none;
}
.event-wrapper .btn.btn-primary {
  background: #fff;
}
.event-wrapper .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.event-wrapper .btn.save {
  background: #505050;
  color: #fff;
  font-style: normal;
  margin-bottom: 15px;
}
.event-wrapper .cancel {
  display: block;
  clear: both;
  float: right;
  padding: 0 16px;
}
.event-wrapper .dialog-box {
  top: 25%;
  left: 62%;
}
.related-wrapper {
  overflow: hidden;
  margin-bottom: 30px;
}
.related-wrapper h4 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 15px 0;
}
.related-wrapper ul {
  clear: both;
  margin: 0;
  padding: 0;
}
.related-wrapper ul li {
  position: relative;
  float: left;
  display: inline-block;
  list-style: none;
  width: 50%;
  height: auto;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  line-height: 1em;
  color: #58b421;
  margin-bottom: 30px;
  padding: 10px 1% 0 13%;
}
.related-wrapper ul li .photo-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0;
}
.social {
  float: right;
  margin: 25px 50px 0 0;
  padding: 0;
}
.social li {
  display: inline-block;
  font-family: 'times';
  font-size: 14px;
  color: #505050;
  margin-right: 15px;
}
.social li img {
  width: 19px;
  height: 19px;
}
.actions {
  float: right;
  margin: 25px 0;
  padding: 0;
}
.actions span {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
  margin-right: 15px;
}
.actions span:last-child {
  margin-right: 0;
}
.actions img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.actions li {
  display: inline-block;
  font-size: 14px;
}
.hero-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}
.hero-wrapper .photo-block {
  width: 100%;
  height: 288px;
}
.hero-wrapper .prev {
  position: absolute;
  top: 45%;
  left: 10px;
  z-index: 99;
}
.hero-wrapper .prev:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
}
.hero-wrapper .next {
  position: absolute;
  top: 45%;
  right: 10px;
  z-index: 99;
}
.hero-wrapper .next:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
}
.description-wrapper {
  margin-bottom: 100px;
}
.description-wrapper h3 {
  font-family: museo_slab;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  color: #505050;
  margin: 0;
}
.description-wrapper h4 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  color: #505050;
}
.description-wrapper p {
  clear: both;
  font-family: 'times';
  font-size: 16px;
  color: #505050;
  letter-spacing: .06em;
  line-height: 1.7em;
  margin-bottom: 30px;
}
.description-wrapper p a {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.description-wrapper p .photo-block {
  float: right;
  display: inline;
  width: 220px;
  height: 125px;
  margin: 0 0 0 10px;
  cursor: inherit;
}
.description-wrapper p.product-info {
  font-family: 'times';
  font-size: 14px;
}
.description-wrapper .title-wrapper img {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.description-wrapper .title-wrapper h3 {
  margin: 5px 0 0 0;
}
.description-wrapper .title-wrapper p {
  max-width: 560px;
  margin-bottom: 0;
}
.description-wrapper .title-wrapper .text-block {
  float: left;
  max-width: 570px;
}
.description-wrapper .title-wrapper .review-stamp {
  clear: both;
  margin: 0 0 25px 0;
  padding: 0;
}
.description-wrapper .title-wrapper .review-stamp li {
  position: relative;
  display: inline-block;
  list-style: none;
  font-family: 'times';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1em;
  color: #505050;
  margin-right: 10px;
}
.description-wrapper .title-wrapper .review-stamp li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.description-wrapper .title-wrapper .review-stamp li span {
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.description-wrapper .title-wrapper .review-stamp li .rating {
  width: 100px;
  height: 17px;
  margin-bottom: -3px;
  overflow: hidden;
  background: url(../img/global/star_rating_icon.png) no-repeat 0 0;
  background-size: 100px;
}
.description-wrapper .title-wrapper .review-stamp li .rating.one {
  background-position: 0 -19px;
}
.description-wrapper .title-wrapper .review-stamp li .rating.two {
  background-position: 0 -39px;
}
.description-wrapper .title-wrapper .review-stamp li .rating.three {
  background-position: 0 -58px;
}
.description-wrapper .title-wrapper .review-stamp li .rating.four {
  background-position: 0 -78px;
}
.description-wrapper .title-wrapper .review-stamp li .rating.five {
  background-position: 0 -97px;
}
.description-wrapper .title-wrapper .detail-stamp {
  clear: both;
  margin: 0 0 25px0;
  padding: 0;
}
.description-wrapper .title-wrapper .detail-stamp li {
  list-style: none;
  display: inline-block;
  font-family: 'times';
  font-size: 14px;
  line-height: .85em;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #505050;
}
.description-wrapper .title-wrapper .detail-stamp li:last-child {
  border-right: none;
}
.description-wrapper .title-wrapper .detail-stamp li a {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.description-wrapper .photo-block {
  width: 100%;
  height: 235px;
  margin-bottom: 30px;
}
.description-wrapper .spec-list {
  margin: 0 0 30px 20px;
  padding: 0;
}
.description-wrapper .spec-list li {
  font-family: 'times';
  font-size: 16px;
  color: #505050;
  letter-spacing: .06em;
  line-height: 1.7em;
}
.description-wrapper .product-thumbs {
  margin: 10px 0 0 0;
  padding: 0;
  overflow: hidden;
}
.description-wrapper .product-thumbs li {
  float: left;
  list-style: none;
  display: inline-block;
  margin: 0 20px 20px 0;
}
.description-wrapper .product-thumbs li .photo-block {
  width: 125px;
  height: 100px;
  margin: 0;
}
.detail-wrapper {
  margin-bottom: 25px;
  overflow: hidden;
}
.detail-wrapper h4 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 10px 0;
}
.detail-wrapper p {
  font-family: 'times';
  font-size: 14px;
  color: #505050;
  margin: 0;
}
.detail-wrapper span {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.detail-wrapper .btn {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.detail-wrapper .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.detail-wrapper .btn.btn-primary {
  background: #505050;
}
.detail-wrapper .btn.btn-lg {
  height: 40px;
  margin-bottom: 30px;
  padding: 9px 19px;
}
.detail-wrapper .info-line {
  margin: 0 0 30px 0;
  padding: 0;
}
.detail-wrapper .info-line.short {
  margin-bottom: 0;
}
.detail-wrapper .info-line li {
  list-style: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin-bottom: 10px;
}
.detail-wrapper .info-line li .difficulty {
  display: inline-block;
  width: 51px;
  height: 18px;
  margin: 0 0 -6px 10px;
  overflow: hidden;
  background: url(../img/global/level_icon.png) no-repeat 0 0;
  background-size: 51px;
}
.detail-wrapper .info-line li .difficulty.one {
  background-position: 0 -19px;
}
.detail-wrapper .info-line li .difficulty.two {
  background-position: 0 -38px;
}
.detail-wrapper .info-line li .difficulty.three {
  background-position: 0 -56px;
}
.detail-wrapper .info-line li span {
  margin-left: 10px;
}
.detail-wrapper .zone-pick {
  margin: 10px 0 25px 0;
  padding: 0;
  overflow: hidden;
}
.detail-wrapper .zone-pick li {
  float: left;
  display: inline-block;
  list-style: none;
  width: 35px;
  height: 35px;
  font-family: museo_slab;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0 4px 4px 0;
  padding-top: 10px;
  opacity: .5;
  cursor: pointer;
}
.detail-wrapper .zone-pick li:hover {
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.detail-wrapper .zone-pick li.one {
  background: #000;
}
.detail-wrapper .zone-pick li.two {
  background: #cb6560;
}
.detail-wrapper .zone-pick li.three {
  background: #7981a5;
}
.detail-wrapper .zone-pick li.four {
  background: #288ac9;
}
.detail-wrapper .zone-pick li.five {
  background: #419d88;
}
.detail-wrapper .zone-pick li.six {
  background: #4dac48;
}
.detail-wrapper .zone-pick li.seven {
  background: #a8b037;
}
.detail-wrapper .zone-pick li.eight {
  background: #f1b129;
}
.detail-wrapper .zone-pick li.nine {
  background: #ee962a;
}
.detail-wrapper .zone-pick li.ten {
  background: #ef7335;
}
.detail-wrapper .zone-pick li.eleven {
  background: #f04d3a;
}
.detail-wrapper .gallery-thumbs {
  margin: 0 0 10px 0;
  padding: 0;
  overflow: hidden;
}
.detail-wrapper .gallery-thumbs li {
  float: left;
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
.detail-wrapper .gallery-thumbs li:last-child {
  margin-right: 0;
}
.detail-wrapper .gallery-thumbs li .photo-block {
  width: 93px;
  height: 60px;
}
.detail-wrapper .project-list {
  margin: 0;
  padding: 0;
}
.detail-wrapper .project-list a {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.detail-wrapper .project-list li {
  list-style: none;
  margin-bottom: 10px;
}
.detail-wrapper .project-list li:last-child {
  margin-bottom: 0;
}
.detail-wrapper .project-list li img {
  width: 12px;
  height: 12px;
  margin-top: -3px;
  margin-right: 10px;
}
.product-drop {
  width: 100%;
  height: auto;
  margin: 0 0 30px 0;
  padding: 10px 20px;
  background: #ede8dd;
  overflow: hidden;
}
.product-drop .photo-block {
  float: left;
  width: 60px;
  height: 55px;
  margin-right: 10px;
}
.product-drop .text-block {
  float: left;
  width: 190px;
}
.product-drop .text-block h5 {
  font-family: museo_slab;
  font-size: 14px;
  font-weight: 300;
  color: #505050;
  margin: 0 0 5px 0;
}
.product-drop .text-block p {
  font-family: 'times';
  font-size: 12px;
  color: #505050;
  margin: 0;
}
.project-wrapper {
  margin-bottom: 125px;
}
.project-wrapper h4,
.project-wrapper h5 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 700;
  color: #505050;
  margin: 0 0 20px 0;
}
.project-wrapper h4 {
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.4em;
}
.project-wrapper h6 {
  font-family: museo_sans;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.project-wrapper .frame {
  overflow: hidden;
  margin-bottom: 30px;
}
.project-wrapper .photo-block {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.project-wrapper .actions {
  margin: 0;
}
.project-wrapper .list-wrapper {
  padding-left: 30px;
}
.project-wrapper .list-wrapper p {
  font-family: museo_sans;
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.project-wrapper .list-wrapper ul {
  margin: 0;
  padding: 0;
}
.project-wrapper .list-wrapper ul li {
  list-style: none;
  font-family: 'times';
  font-size: 14px;
  color: #505050;
}
.project-wrapper .steps-wrapper ul {
  margin: 0 0 0 30px;
  padding: 0;
}
.project-wrapper .steps-wrapper ul li {
  clear: both;
  list-style: none;
  margin-bottom: 30px;
  overflow: hidden;
}
.project-wrapper .steps-wrapper ul li .photo-block {
  float: left;
  display: inline;
  width: 160px;
  height: 105px;
  margin: 0 20px 0 0;
  cursor: inherit;
}
.project-wrapper .steps-wrapper ul li p {
  float: left;
  display: inline;
  font-family: 'times';
  font-size: 14px;
  line-height: 1.8em;
  color: #505050;
  margin: 0;
}
.project-wrapper .steps-wrapper ul li p a {
  font-style: italic;
  color: #58b421;
}
.project-wrapper .panel-group h4 a {
  width: auto;
  height: auto;
  color: #505050;
}
.project-wrapper .panel-group h4 a span {
  margin-left: 11px;
}
.project-wrapper .panel-group h4 .round-button {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: top;
  background: url(../img/global/minus_icon.png) no-repeat 0 0;
  background-size: 19px;
}
.project-wrapper .panel-group h4 .round-button.expand {
  background: url(../img/global/plus_icon.png) no-repeat 0 0;
  background-size: 19px;
}
.project-wrapper .panel-group .panel {
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  box-shadow: none;
}
.library-wrapper {
  overflow: hidden;
  margin-bottom: 60px;
  padding-top: 60px;
}
.library-wrapper > p {
  text-align: center;
  margin: none;
}
.library-wrapper > p .btn {
  position: relative;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: -100px;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}
.library-wrapper > p .btn.btn-primary {
  background: #564f4c;
}
.library-wrapper > p .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.library-wrapper > p .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.library-wrapper h1 {
  font-family: museo_slab;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #505050;
  margin: 0 0 15px 0;
}
.library-wrapper .filter-header {
  margin: 0 0 45px 0;
  padding: 0;
  text-align: center;
}
.library-wrapper .filter-header li {
  position: relative;
  display: inline-block;
  width: 140px;
  list-style: none;
  padding: 6px 4px 6px 0;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 0 10px;
}
.library-wrapper .filter-header li:first-child {
  vertical-align: top;
}
.container-wide .hero-wrapper .photo-block {
  position: relative;
  height: 460px;
}
.container-wide .hero-wrapper .photo-block .large-icon {
  position: absolute;
  top: 132px;
  left: 50%;
  width: 196px;
  height: 196px;
  margin-left: -98px;
}
.container-wide .hero-wrapper .photo-block .large-icon.garden {
  background: url(../img/global/large_garden_icon.png) no-repeat center center;
  background-size: 196px;
}
.container-wide .hero-wrapper .photo-block .large-icon.lawn {
  background: url(../img/global/large_lawn_icon.png) no-repeat center center;
  background-size: 196px;
}
.container-wide .hero-wrapper .photo-block .large-icon.nature {
  background: url(../img/global/large_nature_icon.png) no-repeat center center;
  background-size: 196px;
}
.container-wide .hero-wrapper .photo-block .large-icon.outdoor {
  background: url(../img/global/large_outdoor_icon.png) no-repeat center center;
  background-size: 196px;
}
.category-wrapper {
  margin-bottom: 100px;
}
.category-wrapper > p {
  text-align: center;
  margin: none;
}
.category-wrapper > p .btn {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 65px;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.category-wrapper > p .btn.btn-primary {
  background: #564f4c;
}
.category-wrapper > p .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.category-wrapper > p .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.category-wrapper .intro-wrapper {
  margin: 0 0 65px 0;
}
.category-wrapper .intro-wrapper h1 {
  font-family: museo_slab;
  font-size: 80px;
  font-weight: 500;
  text-transform: capitalize;
  color: #505050;
  margin: 0 0 15px 0;
}
.category-wrapper .intro-wrapper p {
  font-family: 'times';
  font-size: 16px;
  color: #505050;
  letter-spacing: .06em;
  line-height: 1.7em;
  margin-bottom: 30px;
}
.category-wrapper .detail-wrapper .title-wrapper img {
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.category-wrapper .detail-wrapper .title-wrapper h3 {
  float: left;
  font-family: museo_slab;
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  margin: 5px 0 0 0;
}
.category-wrapper .detail-wrapper .title-wrapper p {
  clear: both;
  margin-bottom: 10px;
}
.category-wrapper .detail-wrapper .title-wrapper .event-stamp {
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
}
.category-wrapper .detail-wrapper .title-wrapper .event-stamp li {
  display: inline-block;
  list-style: none;
  font-family: museo_slab;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1em;
  color: #727272;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #505050;
}
.category-wrapper .detail-wrapper .title-wrapper .event-stamp li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.gallery-wrapper {
  overflow: hidden;
  margin-bottom: 60px;
  padding-top: 60px;
}
.gallery-wrapper > p {
  text-align: center;
  margin: none;
}
.gallery-wrapper > p .btn {
  position: relative;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}
.gallery-wrapper > p .btn.btn-primary {
  background: #564f4c;
}
.gallery-wrapper > p .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.gallery-wrapper > p .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.gallery-wrapper h1 {
  font-family: museo_slab;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #505050;
  margin: 0 0 45px 0;
}
.gallery-wrapper .filter-header {
  margin: 0;
  padding: 0;
  text-align: center;
}
.gallery-wrapper .filter-header li {
  position: relative;
  display: inline-block;
  width: 140px;
  list-style: none;
  padding: 6px 4px 6px 0;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 0 10px;
}
.gallery-wrapper .filter-header li:first-child {
  vertical-align: top;
}
.gallery-wrapper .og-grid {
  padding-top: 0;
}
.gallery-wrapper .og-grid li {
  width: 220px;
  height: 175px;
  margin: 10px;
}
.gallery-wrapper .og-grid li .thumb:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.gallery-wrapper .social {
  position: absolute;
  top: 10px;
  right: 65px;
  margin: 0;
  padding: 0;
}
.gallery-wrapper .social li {
  display: inline-block;
  width: auto;
  font-family: 'times';
  font-size: 14px;
  color: #505050;
  margin-right: 15px;
}
.gallery-wrapper .social li img {
  width: 19px;
  height: 19px;
}
.gallery-wrapper .og-expander {
  background: #ede8dd;
  left: 50%;
  width: 960px;
  margin-top: 10px;
  margin-left: -480px;
}
.gallery-wrapper .og-expander-inner {
  padding: 45px 35px;
}
.gallery-wrapper .og-grid li.og-expanded > a::after {
  border-bottom-color: #ede8dd;
}
.gallery-wrapper .og-fullimg {
  width: 44%;
}
.gallery-wrapper .og-details {
  width: 56%;
  padding: 0 0 0 30px;
}
.gallery-wrapper .og-details h3 {
  font-family: museo_slab;
  font-size: 22px;
  font-weight: 700;
  color: #505050;
  margin: 0 0 25px 0;
  padding: 0;
}
.gallery-wrapper .og-details h4 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 700;
  color: #505050;
  margin: 0 0 10px 0;
}
.gallery-wrapper .og-details p {
  font-family: 'times';
  font-size: 16px;
  color: #505050;
  padding-bottom: 25px;
  border-bottom: 1px solid #505050;
}
.gallery-wrapper .project-info-wrapper p {
  padding-bottom: 0;
  border-bottom: none;
}
.gallery-wrapper .og-close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 15px;
  right: 20px;
  cursor: pointer;
  background: url(../img/gallery/icon_gallery_close.png) no-repeat;
  background-size: 25px;
}
.gallery-wrapper .og-close:before,
.gallery-wrapper .og-close:after {
  background: none;
}
.gallery-wrapper .og-close:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .5;
}
.gallery-wrapper .og-close:hover:before,
.gallery-wrapper .og-close:hover:after {
  background: none;
}
.heading-wrapper {
  margin-bottom: 65px;
}
.heading-wrapper h4 {
  font-family: museo_slab;
  font-size: 22px;
  font-weight: 500;
  color: #505050;
  text-align: center;
  line-height: 1.3em;
  margin: 0;
}
.heading-wrapper h4 a {
  color: #58b421;
}
.heading-wrapper p {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  text-align: center;
  margin: 0 0 50px 0;
}
.header-wrapper .border {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 30px;
  z-index: 1;
}
.header-wrapper .border:before {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #505050;
  content: "";
}
.header-wrapper .border:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 22px;
  height: 12px;
  margin-left: -11px;
  background: url(../img/global/chev_down.png) no-repeat;
  background-size: 22px 12px;
  content: "";
}
.header-wrapper .border h3 {
  display: inline-block;
  position: relative;
  font-family: museo_sans;
  font-size: 18px;
  font-weight: 500;
  color: #505050;
  text-transform: uppercase;
  letter-spacing: .2em;
  background: #fff;
  margin: 0 0 60px 0;
  padding: 0 40px;
  z-index: 2;
}
.highlight {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
.highlight .footer-wrapper:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.highlight.type-1 .title-wrapper,
.highlight.type-1 .footer-wrapper {
  background: #f75844;
}
.highlight.type-1 .title-wrapper:after {
  position: absolute;
  top: 0;
  right: -24px;
  width: 24px;
  height: 17px;
  background: url(../img/global/fold_red.png) no-repeat;
  content: "";
}
.highlight.type-2 .title-wrapper,
.highlight.type-2 .footer-wrapper {
  background: #6bb940;
}
.highlight.type-2 .title-wrapper:after {
  position: absolute;
  top: 0;
  right: -24px;
  width: 24px;
  height: 17px;
  background: url(../img/global/fold_green.png) no-repeat;
  content: "";
}
.highlight.type-3 .title-wrapper,
.highlight.type-3 .footer-wrapper {
  background: #f1b92e;
}
.highlight.type-3 .title-wrapper:after {
  position: absolute;
  top: 0;
  right: -24px;
  width: 24px;
  height: 17px;
  background: url(../img/global/fold_yellow.png) no-repeat;
  content: "";
}
.highlight.type-4 .title-wrapper,
.highlight.type-4 .footer-wrapper {
  background: #2e96d3;
}
.highlight.type-4 .title-wrapper:after {
  position: absolute;
  top: 0;
  right: -24px;
  width: 24px;
  height: 17px;
  background: url(../img/global/fold_blue.png) no-repeat;
  content: "";
}
.highlight .title-wrapper {
  position: absolute;
  top: -17px;
  left: 50%;
  width: 76%;
  min-height: 35px;
  margin-left: -38%;
  padding: 10px 0;
}
.highlight .title-wrapper h5 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}
.highlight .photo-block {
  width: 100%;
  height: 185px;
}
.highlight .text-block {
  width: 100%;
  height: auto;
  background: #ede8dd;
  margin: 0;
  padding: 15px 30px;
}
.highlight .text-block h6 {
  font-family: museo_slab;
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #505050;
}
.highlight .text-block p {
  font-family: museo_slab;
  font-size: 11px;
  font-weight: 300;
  color: #505050;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #505050;
}
.highlight .footer-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.highlight .footer-wrapper a {
  display: block;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 10px 0;
}
.highlight > span {
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
}
.highlight.large .title-wrapper {
  width: 60%;
  min-height: 110px;
  margin-left: -30%;
  padding-left: 20px;
  padding-right: 20px;
}
.highlight.large .title-wrapper h4 {
  font-family: museo_slab;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.highlight.large .title-wrapper h5 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.highlight.large .photo-block {
  height: 300px;
}
.highlight.large .text-block {
  padding: 30px 90px;
}
.highlight.large .text-block p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border-bottom: none;
  text-align: center;
}
.highlighter {
  margin-bottom: 50px;
  overflow: hidden;
}
.highlighter .photo-block {
  float: left;
  width: 220px;
  height: 140px;
  margin-right: 20px;
}
.highlighter .text-block {
  float: left;
  width: 390px;
}
.highlighter .text-block h4 {
  font-family: museo_slab;
  font-size: 22px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 5px 0;
}
.highlighter .text-block p {
  font-family: 'times';
  font-size: 16px;
  color: #505050;
  letter-spacing: .06em;
  margin: 0 0 5px 0;
}
.highlighter .btn {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.highlighter .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.highlighter .btn.btn-lg {
  height: 40px;
  margin-bottom: 30px;
  padding: 9px 19px;
}
.highlighter.type-1 .btn-primary {
  background: #f75844;
}
.highlighter.type-2 .btn-primary {
  background: #6bb940;
}
.highlighter.type-3 .btn-primary {
  background: #f1b92e;
}
.highlighter.type-4 .btn-primary {
  background: #2e96d3;
}
.highlighted {
  margin-bottom: 60px;
}
.highlighted .photo-block {
  position: relative;
  width: 100%;
  min-height: 210px;
  padding: 40px 0;
  overflow: hidden;
}
.highlighted .photo-block:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1000px;
  background: rgba(0, 0, 0, 0.6);
  content: "";
}
.highlighted .text-block {
  position: relative;
  width: 80%;
  min-height: 165px;
  text-align: center;
  margin: 0 10%;
  padding: 25px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  z-index: 1;
}
.highlighted .text-block h2 {
  font-family: museo_slab;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 5px 0;
}
.highlighted .text-block p {
  font-family: 'times';
  font-size: 16px;
  letter-spacing: .06em;
  color: #fff;
  margin: 0 0 10px 0;
}
.highlighted .btn {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.highlighted .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.highlighted .btn.btn-lg {
  height: 40px;
  margin-bottom: 0;
  padding: 9px 19px;
}
.highlighted.type-1 .btn-primary {
  background: #f75844;
}
.highlighted.type-2 .btn-primary {
  background: #6bb940;
}
.highlighted.type-3 .btn-primary {
  background: #f1b92e;
}
.highlighted.type-4 .btn-primary {
  background: #2e96d3;
}
.dialog-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: auto;
  background: #fff;
  padding: 25px;
  border: 1px solid #999;
  -webkit-box-shadow: 1px 1px 3px #999;
  -moz-box-shadow: 1px 1px 3px #999;
  -o-box-shadow: 1px 1px 3px #999;
  box-shadow: 1px 1px 3px #999;
  z-index: 99;
}
.dialog-box h4 {
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  text-align: center;
  margin: 0 0 50px 0;
}
.dialog-box p.center {
  text-align: center;
}
.dialog-box .btn {
  float: none;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.dialog-box .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.dialog-box .btn.btn-primary {
  background: #505050;
}
.dialog-box .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.dialog-box .cancel {
  float: none;
  display: block;
  font-family: 'times';
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: #58b421;
  text-align: center;
}
.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}
a.next,
a.previous {
  color: #505050;
}
.input-group-addon:first-child {
  width: 20px;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.container-fixed {
  width: 960px;
  margin: 0 auto;
}
.container-wide {
  width: 100%;
  height: auto;
}
a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover {
  text-decoration: none;
}
span {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}
