.gallery-wrapper {
  overflow: hidden;
  margin-bottom: 60px;
  padding-top: 60px;
}
.gallery-wrapper > p {
  text-align: center;
  margin: none;
}
.gallery-wrapper > p .btn {
  position: relative;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-top: -100px;
  border: 1px solid #505050;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  z-index: 1;
}
.gallery-wrapper > p .btn.btn-primary {
  background: #564f4c;
}
.gallery-wrapper > p .btn.btn-lg {
  height: 40px;
  padding: 9px 19px;
}
.gallery-wrapper > p .btn:hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .7;
}
.gallery-wrapper h1 {
  font-family: museo_slab;
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #505050;
  margin: 0 0 15px 0;
}
.gallery-wrapper .filter-header {
  margin: 0 0 45px 0;
  padding: 0;
  text-align: center;
}
.gallery-wrapper .filter-header li {
  position: relative;
  display: inline-block;
  width: 140px;
  list-style: none;
  padding: 6px 4px 6px 0;
  font-family: museo_slab;
  font-size: 16px;
  font-weight: 500;
  color: #505050;
  margin: 0 0 0 10px;
}
.gallery-wrapper .filter-header li:first-child {
  vertical-align: top;
}
.gallery-wrapper .filter-header li:last-child {
  margin-left: 20px;
}
