header {
	background-color: RGB(51,51,51);
	height: 135px;
	width: auto;
	padding-top: 50px;
	padding-left: 42px;
	padding-bottom: 30px;
}

header h1 {
	font-family: OpenSans, Myriad Pro, Georgia;
	font-size: 48.01pt;
	color: RGB(238,238,238);
	display: inline;
	padding-right: 250px;
	vertical-align: middle;
}

header h2 {
	font-family: Arial;
	font-size: 16pt;
	color: RGB(238,238,238);
	float: right;
	display: inline;
	padding-right: 60px;
	padding-top: 25px;
	vertical-align: middle;
}

header h3 {
	font-family: Arial;
	font-size: 16pt;
	color: RGB(40,93,119);
	display: inline;
	padding-top: 25px;
	vertical-align: middle;
}

.Content {
	background-color: white;
	margin-top: 70px;
	margin-left: 80px;
	margin-right: 70px;
	margin-bottom: 515px;
}

.Content h1 {
	font-size: 60pt;
	font-family: OpenSans, Myriad Pro, Georgia;
	color: RGB(51,51,51);
}

.Content h2 {
	font-size: 50pt;
	font-family: OpenSans, Myriad Pro, Georgia;
	color: RGB(187,187,187);
	vertical-align: top;
}

.Content p {
	font-size: 29pt;
	font-family: OpenSans, Myriad Pro, Georgia;
	color:rgb(85,85,85);
}