h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', Sans-serif;
}

header {
	background: #333;
	overflow: hidden;
	padding: 45px 0;
	margin-bottom: 20px;
}

header h2 {
	color: #fff;
	font-size: 48px;
	font-weight: 200;
	margin: 0;
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 30px 0 0 0;
}

nav ul li {
	display: inline-block;
	color: #fff;
	margin-right: 5px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li.active a{
	color: #00aeef;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	margin-right: 5px;
	font-weight: 100;
}

nav ul li a:hover {
	color: #00aeef;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.main-wrapper {
	border-bottom: 3px dotted #bbb;
	padding: 40px 0;
	overflow: hidden;
}

.main-wrapper h1 {
	font-size: 60px;
	color: #333;
	margin: 0;
	letter-spacing: -1px;
}

.main-wrapper h1 span {
	color: #00aeef;
}

.main-wrapper h2 {
	font-size: 50px;
	color: #bbb;
	font-weight: 100;
	margin: 0;
	letter-spacing: -1px;
}

.main-wrapper h4 {
	font-size: 22px;
	color: #555;
	margin: 0 0 30px 10px;
}

.main-wrapper p {
	font-size: 29px;
	color: #555;
	margin: 0 0 0 10px;
	line-height: 1.4em;
	font-weight: 100;
	letter-spacing: -1px;
}

.main-wrapper p span {
	font-weight: bold;
}

.highlight {
	background: #00aeef;
	width: 240px;
	margin: 0 10px;
	text-align: center;
	padding: 30px;
	box-shadow: 3px 3px 3px #CECECE;
	float: left;
}

.highlight h3 {
	color: #fff;
	font-size: 36px;
	border-bottom: dotted 2px #fff;
	margin-top: 0;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	font-weight: 100;
	text-transform: lowercase;
}

.highlight p {
	color: #fff;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.highlight button {
	background-color: #0076a3;
	border: 2px solid #066f97;
	color: white;
	font-weight: 100;
	font-size: 14px;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0;
}

.client-wrapper {
	width: 445px;
	padding: 10px 25px 10px 10px;
	border-right: 3px dotted #bbb;
	margin-right: 0;
	float: left;
}

.testimonials {
	margin: 0;
	padding: 0;
}

.testimonials li {
	list-style: none;
	overflow: hidden;
	margin-bottom: 25px;
}

.testimonials li .image {
	display: inline-block;
	width: 84px;
	height: 84px;
	background: url(http://placehold.it/350x150) center center no-repeat;
	background-size: cover;
	float: left;
	margin-right: 25px;
}

.testimonials li blockquote {
	margin: 0;
	float: left;
	width: 70%;
	font-size: 14px;
}

.testimonials li cite {
	display: block;
	font-weight: bold;
	font-style: normal;
	margin-top: 10px;
}

.testimonials li cite span {
	display: block;
	font-weight: initial;
	color: #00aeef;
}

.feature-wrapper {
	padding: 10px 25px 10px 25px;
	width: 427px;
	float: left;
}

.feature-wrapper h4 {
	margin-bottom: 25px;
}

.feature-wrapper h5 {
	font-size: 20px;
	color: #888;
	font-weight: 100;
	margin: 0;
}

.main-wrapper .feature-wrapper p {
	font-size: 14px;
	padding-bottom: 15px;
}

.feature-wrapper a {
	font-weight: 100;
	color: #00aeef;
	text-decoration: none;
	margin-left: 10px;
	font-size: 14px;
}

.feature-wrapper img {
	margin: 13px 0 20px 0;
}

footer {
	margin: 35px 0 0 10px;
}

footer p {
	font-size: 16px;
	color: #888;
}