h1, h2, h3, p, a, li {
    font-family: 'Georgia', Serif;
}

h4, h5, h6 {
	font-family: 'BryantProRegular', Sans-serif;
}

h2, h4, h5 {
	text-transform: uppercase;
}

body {
	background-color: #22262e;
}

header a {
	text-decoration: none;
	color: white;
}

header nav {
	margin: 53px 0 30px 0;
}

header nav li {
	font-size: 1.25em;
	color: white;
	display: inline;
	margin-right: 2.37449118%; /* 35/1474px */
}

header nav li span {
	color: #7eb1e6;
}

#main {
	margin: 2.5%;
	width: 95%;

}

.wrapper {
	width: 100%;
	margin-bottom: 12px;
}

/*.container {
	width: 77.7089783%; /* 1004/1292 px
	height: auto;
	overflow: hidden;
	background-color: white;
	float: left;
	margin-left: 6.10583446%;
}*/

.main-section {
	background-color: #f4f7f7;
	float: left;
	width: 77.6089783%; /* 1004/1292 px */
	height: auto;
	margin-bottom: 12px;
}

.bottom-section {
	background-color: white;
	float: left;
	width: 100%; 
	height: auto;
	display: inline-block;
}

.column-wrapper {
	background-color: #f4f7f7;
	height: 676px;
	width: 49.8%;
	float: left;
	border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
}

.column-wrapper img {
	margin: 38px 21% 38px 25%;
}

.column-wrapper #logo {
	margin-left: 42%;
	margin-bottom: 30px;
	width: 8.6%;
}

.column-wrapper h4 {
	font-size: 3em;
	margin-bottom: 2.958579882%; /* 20/676 px */
	text-align: center;
	font-weight: 100;
}

.column-wrapper h3 {
	text-align: center;
}

.row-wrapper-bag {
	width: 100%;
	height: 337px;
	float: left;
	background-color: #fbf8f3;
	border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
	border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
}

.row-wrapper-bag img {
	margin: 42px 37.5966933% 29px 37.5966933%;
}

.row-wrapper-bag h4 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 100;
	margin: 0;
}

.row-wrapper-bag #logo {
	margin: 20px 37.4% 25px 37.4%;
}

.row-wrapper-chair {
	width: 100%;
	height: 337px;
	float: left;
	background-color: #f4f8eb;
	border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
}

.row-wrapper-chair h4 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 100;
	margin: 0;
}

.row-wrapper-chair img {
	margin: 40px 37.5966933% 30px 37.5966933%;
}

.row-wrapper-chair #logo {
	margin: 23px 37.4% 23px 37.4%;
}

.sidebar {
	width: 18.2%; /* 290/1292 px */
	padding: 2% 2% 2.5% 2%;
	background-color: white;
	float: left;
	height: auto;
	display: block;
	overflow: visible;
	margin-bottom: 12px;
	display: block;
}

.sidebar nav h5 {
	font-size: 1.7em;
	text-transform: uppercase;
	color: #22262e;
	font-weight: 100;
	margin: 11.172px 0 5px 0;
}

.sidebar-section {
	margin-top: 40px;
}

.sidebar-section h3 {
	font-size: 0.75em; /* 13px */
	text-transform: uppercase;
	color: #6a92bb;
	margin-bottom: 12px;
}

.sidebar-section li {
	font-size: 1.1em;
	color: #22262e;
	border-top: 0.0625em solid #e4e3e3; /* 1/16 em */
	padding: 8px 0;
}

.sidebar-section li a {
	text-decoration: none;
	color: #22262e;
}

.sidebar-section li img {
	float: right;
}

.sidebar-section li:last-child {
	border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
}

.long {
	margin-bottom: 73px;
}

.longer {
	margin-bottom: 78px;
}

.col-wrapper {
	width: 24.901195%;
	height: 870px;
	background-color: white;
	float: left;
}

.rectangle {
	width: 99.2%;
	height: 293px;
	border: 0.0625em solid #e4e3e3; /* 1/16 em */
	border-bottom: none;
	border-right: none;
	float: left;
	background-color: white;
}

.rectangle img {
	margin: 20.4%;
}

.rectangle h2 {
	font-size: 0.7em;
	text-align: center;
}

.rectangle h3 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 32px;
}

.rectangle-handpicked {
	background-color: #814869;
	float: left;
	width: 100%;
	height: 294px;
}

.rectangle-handpicked h3 {
	font-size: 1.3em;
	text-align: center;
	color: white;
}

.rectangle-handpicked h2 {
	margin-bottom: 93px;
	font-size: 1.3em;
	text-align: center;
	color: white;
	text-transform: none;
}

.rectangle-handpicked h4 {
	font-size: 1.65em;
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-weight: 100;
	margin-top: 113px;
	margin-bottom: 27px;
}

.col-wrapper-couch {
	width: 50%;
	float: left;
}

.rectangle-large {
	width: 100%;
	height: auto;
	float: left;
	background-color: white;
	border: 0.0625em solid #e4e3e3; /* 1/16 em */
}

.rectangle-large img {
	margin: 113px 9.561753% 103px 9.561753%;
}

.rectangle-large h3 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 30px;
}

.rectangle-large #logo {
	margin-left: 38.83665%;
	margin-top: 0;
	margin-bottom: 22px;
}

.rectangle #logo {
	margin-left: 28.83665%;
	margin-top: -20px;
	margin-bottom: 22px;
}

#vase {
	margin-left: 23.2%;
	margin-top: 40px;
	margin-bottom: 32px; 
}

#cabinet {
	margin-bottom: 16px;
	margin-top: 38px;
}

#dresser {
	margin-top: 40px;
	margin-bottom: 29px;
}

#painting {
	margin: 41px 22% 22px 22%;
}

.bottom-row {
	width: 50%;
	float: left;
	background-color: white;
}

.bottom-row-rectangle {
	width: 49.6999%;
	height: 293px;
	border-left: 0.0625em solid #e4e3e3; /* 1/16 em */
	float: left;
	background-color: white;
}

.bottom-row-rectangle h3 {
	font-size: 1em;
	text-align: center;
	margin-bottom: 18px;
}

.bottom-row-rectangle #logo {
	margin-left: 26.83665%;
	margin-bottom: 22px;
}

#right-border {
	border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
}

#bull {
	margin: 35px 20% 35px 20%;
}

#pitcher {
	margin: 30px 26% 28px 26%;
}

#tftm {
	margin-left: 32.4%;
}

.wide-column-wrapper {
	width: 50%;
	background-color: white;
	float: left;
}

.second-row {
	height: 302px;
}

.other-rows {
	height: 272px;
}

.wide-rectangle {
	width: 100%;
	height: inherit;
	border: 0.0625em solid #d9d9d9; /* 1/16 em */
	border-top: none;
	display: inline-block;
}

.wide-rectangle h4 {
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	color: #22262e;
	font-weight: lighter;
}

.wide-rectangle img {
	float: left;
	margin-left: 10%;
	margin-top: 29px;
}

#fix {
	margin-top: -4px;
}

/*#fix2 {
	margin-bottom: -4px;
}
*/
#rect {
	float: left;
	margin-left: 11.6099%;
	margin-top: 30px;
}

#large {
	margin: 0;
}

#second-row {
	margin-bottom: 53px;
}

.introspective-title {
	background-color: #76bb6a;
	width: 36.9969%;
	margin: 0 auto;
}

.introspective-title h3 {
	font-style: italic;
	color: white;
	font-size: 1.5em;
	text-align: center;
	display: block;
	padding: 5%;
}

.designers {
	width: 36.9969%;
	margin: 0 auto;
	background-color: white;
	border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
	padding: 2.8%;
	margin-bottom: 45px;
}

.designers h3 {
	font-size: 0.7em;
	color: #666;
	text-align: center;
	text-transform: uppercase;
}

.paragraph {
	width: 59.133127%;
	margin: 6% auto;
	margin-left: 20.8978%;
}

.paragraph p {
	font-family: 'Georgia', Serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #666;
	font-weight: lighter;
}

.continue {
	width: 29.863777%;
	height: 40px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 49px;
}

.continue img {
	margin: 6%;
	float: left;
	display: inline;
}

.continue h3 {
	color: #76bb6a;
	font-size: 1.1em;
	float: left;
	display: inline;
	padding-top: 8%;
}

.continue a {
	text-decoration: none;
	color: #76bb6a;
}

.text {
	width: 45.66563%;
	height: auto;
	background-color: white;
	float: left;
	margin: 78px 5%;
	margin-top: 58px;
}

#text1 {
	margin: 78px 7.3839%;
	margin-top: 58px;5
}

.text h3 {
	font-size: 0.75em;
	margin-bottom: 26px;
	text-align: center;
	color: #666;
	text-transform: uppercase;
}

.text h4 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	color: #22262e;
}

.text p {
	font-size: 1em;
	color: #666;
	margin-top: 25px;
	text-align: center;
}

.bottom-wrapper {
	width: 100%;
	background-color: white;
	padding-bottom: 35px;
	display: inline-block;
	border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
}

.page-numbers {
	width: 26.3931889%;
	background-color: white;
	margin: 0 auto;
	padding-top: 2%;
}

.page-numbers li {
	font-size: 1.5em;
	color: #5e5e5e;
	padding-bottom: 2px;
	display: inline;
	padding-left: 15px;
}

.page-numbers a {
	text-decoration: none;
	color: #5e5e5e;
	font-family: 'BryantProRegular', Sans-serif;
}

a.selected {
	color: #76bb6a;
	border-bottom: 0.0625em solid #76bb6a; /* 1/16 em */
}

footer {
	width: 100%;
	height: auto;
}

.social-wrapper {
	width: 100%;
	height: 100px;
	border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
	margin-bottom: 18px;
}

.social {
	width: 14.396285%;
	height: auto;
	margin: 0 auto;
	padding: 1.368%;
}

.social img {
	float: left;
	display: inline;
	padding: 4.2%
}

footer nav {
	width: 58.59133%;
	margin: 0 auto;
}

footer nav li {
	display: inline;
	padding: 1.2%;
}

footer nav li a {
	font-size: 0.75em;
	text-decoration: none;
	color: white;
	font-weight: 100;
}