body {
	background-color: #22262e;
}

#main {
	margin: 2.5%;
	width: 95%;
	height: auto;
	float: left;
}

h1, h2, h3, p, a, li {
    font-family: 'Georgia', Serif;
}

h4, h5, h6 {
	font-family: 'BryantProRegular', Sans-serif;
}

h2, h4, h5 {
	text-transform: uppercase;
}

@media only screen and (min-width: 20em) {

	header nav {
		margin: 5%;
	}

	header a {
		text-decoration: none;
		color: white;
	}

	header nav li {
		font-size: 0.8em;
		color: white;
		display: block;
		margin-right: 2.37449118%; /* 35/1474px */
		padding-bottom: 5%;
	}

	header nav li span {
		color: #7eb1e6;
	}

	.wrapper {
		width: 100%;
		height: auto;
		float: left;
	}

	.main-section {
		background-color: #f4f7f7;
		float: left;
		/*width: 77.6089783%;*/ /* 1004/1292 px */
		width: 100%; /*sidebar is hidden*/
		height: auto;
		margin-bottom: 1%;
	}

	.bottom-section {
		background-color: white;
		float: left;
		width: 100%; 
		height: auto;
		display: inline-block;
	}

	.column-wrapper {
		background-color: #f4f7f7;
		height: auto;
		width: 49.6%;
		float: left;
		border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	.column-wrapper img {
		margin: 5% 21% 10% 25%;
		margin-top: 50%;
		width: 50%;
		height: auto;
	}

	.column-wrapper #logo {
		margin-left: 35%;
		margin-top: 5%;
		width: 30%;
		height: auto;
		margin-bottom: 2%;
	}

	.column-wrapper h4 {
		font-size: 1.6em;
		margin-bottom: 2.958579882%; /* 20/676 px */
		text-align: center;
		font-weight: 100;
	}

	.column-wrapper h3 {
		text-align: center;
		margin-bottom: 2.6%;
	}

	.row-wrapper-bag {
		width: 100%;
		height: auto;
		float: left;
		background-color: #fbf8f3;
		border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
		border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	.row-wrapper-bag img {
		margin: 5% 21% 10% 25%;
	}

	.row-wrapper-bag h4 {
		text-align: center;
		font-size: 1.3em;
		font-weight: 100;
		margin: 0;
	}

	.row-wrapper-bag #logo {
		width: 30%;
		height: auto;
		margin: 5% 21% 10% 35%;
	}

	.row-wrapper-chair {
		width: 100%;
		height: auto;
		float: left;
		background-color: #f4f8eb;
		border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	.row-wrapper-chair h4 {
		text-align: center;
		font-size: 1.3em;
		font-weight: 100;
		margin: 0;
	}

	.row-wrapper-chair img {
		margin: 5% 21% 10% 25%;
	}

	.row-wrapper-chair #logo {
		width: 30%;
		height: auto;
		margin: 5% 21% 10% 35%;
	}

	.sidebar {
		display: none;
	}

	.col-wrapper {
		width: 24.901195%;
		height: auto;
		background-color: white;
		float: left;
	}

	.rectangle {
		width: 99.2%;
		height: auto;
		border: 0.0625em solid #e4e3e3; /* 1/16 em */
		border-bottom: none;
		border-right: none;
		float: left;
		background-color: white;
	}

	.rectangle img {
		margin: 20.4%;
		width: 55.2%;
		height: auto;
	}

	.rectangle h2 {
		font-size: 0.5em;
		text-align: center;
	}

	.rectangle h3 {
		font-size: 0.8em;
		text-align: center;
		margin-bottom: 15%;
	}

	.rectangle #logo {
		margin: 4%;
		margin-left: 23%;
		margin-top: -10%;
	}

	.rectangle-handpicked {
		background-color: #814869;
		float: left;
		width: 100%;
		height: auto;
	}

	.rectangle-handpicked h3 {
		font-size: 0.75em;
		text-align: center;
		color: white;
	}

	.rectangle-handpicked h2 {
		margin-bottom: 50%;
		font-size: 0.75em;
		text-align: center;
		color: white;
		text-transform: none;
	}

	.rectangle-handpicked h4 {
		font-size: 0.65em;
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-weight: 100;
		margin-top: 56%;
		margin-bottom: 9.215%;
	}

	.col-wrapper-couch {
		width: 49.8%;
		height: auto;
		float: left;
	}

	.rectangle-large {
		width: 100%;
		height: auto;
		float: left;
		background-color: white;
		border: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	.rectangle-large img {
		margin: 33% 21% 10% 10%;
		width: 81.8%;
		height: auto;
	}

	.rectangle-large h3 {
		font-size: 1em;
		text-align: center;
		margin-bottom: 10%;
		margin-top: 12%;
	}

	.rectangle-large #logo {
		width: 17%;
		height: auto;
		margin-left: 38.83665%;
		margin-top: 0;
		margin-bottom: 22px;
	}

	#vase {
		width: 50%;
		height: auto;
		margin-left: 25%;
		margin-top: 13%;
		margin-bottom: 20%; 
	}

	#cabinet {
		width: 59%;
		height: auto;
		margin: 25%;
		margin-left: 20%;
	}

	#dresser {
		margin-top: 10%;
		margin-bottom: 5%;
	}

	#painting {
		margin: 21% 21% 17% 22%;
	}

	.bottom-row {
		width: 50%;
		height: auto;
		float: left;
		background-color: white;
	}

	.bottom-row-rectangle {
		width: 48%;
		height: auto;
		border-left: 0.0625em solid #e4e3e3; /* 1/16 em */
		float: left;
		background-color: white;
	}

	.bottom-row-rectangle h3 {
		font-size: 0.8em;
		text-align: center;
		margin-bottom: 10%;
	}

	.bottom-row-rectangle #logo {
		width: 40%;
		height: auto;
		margin-left: 26.83665%;
		margin-bottom: 15%;
	}

	#right-border {
		border-right: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	#bull {
		width: 70%;
		height: auto;
		margin: 26%;
		margin-left: 15%;
	}

	#pitcher {
		width: 50%;
		height: auto;
		margin: 26%;
	}

	#tftm {
		width: 32%;
		height: auto;
		margin-left: 32.4%;
	}

	.entire-column-wrapper {
		width: 100%;
		height: auto;
	}

	.wide-column-wrapper {
		width: 49.9%;
		height: auto;
		background-color: white;
		float: left;
	}

	.row-wrapper {
		width: 100%;
		height: auto;
		float: left;
	}

	.wide-rectangle {
		width: 100%;
		height: auto;
		border: 0.0625em solid #d9d9d9;
		border-right: none;
		border-bottom: none;
		display: inline-block;
	}

	.entire-column-wrapper h4 {
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
		color: #22262e;
		font-weight: lighter;
	}

	.wide-rectangle img {
		width: 50%;
		height: auto;
		float: left;
		margin: 10% 20%;
	}

	.wide-rectangle-padded {
		width: 100%;
		height: inherit;
		border: 0.0625em solid #d9d9d9; /* 1/16 em */
		border-top: none;
		display: inline-block;
		padding-bottom: 17%;
	}

	#rect {
		float: left;
		margin-left: 20%;
	}

	#large {
		width: 100%;
		height: auto;
		margin: 0;
	}

	#right {
		width: 60%;
		padding-top: 39%;
	}

	#fix {
		width: 60%;
	}

	.introspective-title {
		background-color: #76bb6a;
		width: 36.9969%;
		margin: 0 auto;
	}

	.introspective-title h3 {
		font-style: italic;
		color: white;
		font-size: 1em;
		text-align: center;
		display: block;
		padding: 5%;
	}

	.designers {
		width: 36.9969%;
		margin: 0 auto;
		background-color: white;
		border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
		padding: 2.8%;
		margin-bottom: 10%;
	}

	.designers h3 {
		font-size: 0.7em;
		color: #666;
		text-align: center;
		text-transform: uppercase;
	}

	.paragraph {
		width: 59.133127%;
		height: auto;
		margin: 6% auto;
		margin-left: 20.8978%;
	}

	.paragraph p {
		font-family: 'Georgia', Serif;
		font-size: 0.5em;
		line-height: 1.5em;
		color: #666;
		font-weight: lighter;
	}

	.continue {
		/*width: 29.863777%;*/
		width: 50%;
		height: auto;
		background-color: white;
		float: left;
		margin-left: 27%;
	}

	.continue img {
		width: 15%;
		height: auto;
		margin: 6%;
		float: left;
		display: inline;
	}

	.continue h3 {
		color: #76bb6a;
		font-size: 0.75em;
		float: left;
		display: inline;
		padding-top: 9%;
	}

	.continue a {
		text-decoration: none;
		color: #76bb6a;
	}

	.text {
		width: 95%;
		height: auto;
		background-color: white;
		float: left;
		margin-bottom: 8%;
	}

	.text h3 {
		font-size: 0.5em;
		margin-bottom: 20%;
		text-align: center;
		color: #666;
		text-transform: uppercase;
	}

	.text h4 {
		font-size: 1em;
		text-transform: uppercase;
		text-align: center;
		color: #22262e;
	}

	.text p {
		font-size: 0.75em;
		color: #666;
		margin-top: 10%;
		text-align: center;
	}

	.bottom-wrapper {
		width: 100%;
		background-color: white;
		padding-bottom: 35px;
		display: inline-block;
		border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	.page-numbers {
		/*width: 26.3931889%;*/
		width: 100%;
		height: auto;
		background-color: white;
		margin: 0 auto;
		padding-top: 2%;
	}

	.page-numbers li {
		font-size: 1em;
		color: #5e5e5e;
		padding-bottom: 2px;
		display: inline;
		padding-left: 15px;
	}

	.page-numbers a {
		text-decoration: none;
		color: #5e5e5e;
		font-family: 'BryantProRegular', Sans-serif;
	}

	a.selected {
		color: #76bb6a;
		border-bottom: 0.0625em solid #76bb6a; /* 1/16 em */
	}

	footer {
		width: 100%;
		height: auto;
	}

	.social-wrapper {
		width: 100%;
		height: auto;
		border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
		margin-bottom: 10%;
		float: left;
	}

	.social {
		width: 66%;
		height: auto;
		margin: 0 auto;
		margin-left: 13%;
		padding: 2%;
		float: left;
	}

	.social img {
		width: 24%;
		height: auto;
		float: left;
		margin-left: 4%;
		display: inline;
		padding: 2.2%;
	}

	footer nav {
		width: 80%;
		height: auto;
		margin: 0 auto;
		float: left;
		margin-left: 12%;
	}

	footer nav ul {
		clear: both;
		text-align: center;
		margin: 0 auto;
	}

	footer nav li {
		display: inline;
		padding: 1.2%;
		text-align: center;
	}

	footer nav li a {
		font-size: 0.75em;
		text-decoration: none;
		color: white;
		font-weight: 100;
	}
} /*end of 320px*/

@media only screen and (min-width: 480px) {
	.column-wrapper h4 {
		font-size: 2em;
	}

	.row-wrapper-bag h4 {
		font-size: 1.5em;
	}

	.row-wrapper-chair h4 {
		font-size: 1.5em;
	}

	.rectangle img {
		margin-top: 22%;
	}

	#dresser {
		margin-top: 12.5%;
	}

	#cabinet {
		width: 70%;
		margin-left: 18%;
		margin-bottom: 15%;
	}

	#painting {
		margin: 30% 21% 22% 22%;
	}

	.rectangle-large h3 {
		margin-top: 4%;
	}

	#bull {
		width: 80%;
		margin-left: 10%;
	}

	.bottom-row-rectangle {
		width: 49.3%;
	}

	.bottom-row-rectangle #logo {
		margin-bottom: 8%;
	}

	.wide-rectangle img {
		width: 80%;
		margin: 10% 10%;
	}

	#rect {
		width: 60%;
	}

	#right {
		width: 80%;
		padding-top: 12%;
		margin: 10%;
	}

	#left {
		padding-bottom: 6%;
	}

	#fix {
		width: 80%;
		margin: 10%;
	}

	.text h3 {
		font-size: 0.6em;
	}

	.social-wrapper {
		margin-bottom: 6%;
	}

	.social {
		margin-left: 23%;
	}

	.social img {
		width: 16%;
	}

	.page-numbers {
		width: 80%;
		margin-left: 20%;
	}
} /*end of 480px*/

@media only screen and (min-width: 45em) {

	header nav {
		margin: 3% 0;
	}

	header nav li {
		font-size: 1em;
		color: white;
		display: inline;
		margin-right: 2.37449118%; /* 35/1474px */
	}

	header nav li span {
		color: #7eb1e6;
	}

	.main-section {
		width: 77.6089783%;
	}

	.sidebar {
		overflow: visible;
		width: 18.2%; /* 290/1292 px */
		padding: 0 2% 2.5% 2%;
		background-color: white;
		float: left;
		display: block;
		max-height: 511px;
	}

	.sidebar nav h5 {
		font-size: 1.4em;
		text-transform: uppercase;
		background-color: white;
		color: #22262e;
		font-weight: 100;
		margin: 15% 0 3% 0;
	}

	.sidebar-section {
		margin-top: 15%;
		margin-bottom: 16.5%;
		background-color: white;
	}

	.sidebar-section h3 {
		font-size: 0.65em; /* 13px */
		text-transform: uppercase;
		color: #6a92bb;
		margin-bottom: 10%;
		background-color: white;
	}

	.sidebar-section li {
		width: 100%;
		height: auto;
		font-size: 1em;
		color: #22262e;
		background-color: white;
		border-top: 0.0625em solid #e4e3e3; /* 1/16 em */
		padding: 5% 0;
	}

	.sidebar-section li a {
		text-decoration: none;
		color: #22262e;
		background-color: white;
	}

	.sidebar-section li img {
		float: right;
	}

	.sidebar-section li:last-child {
		border-bottom: 0.0625em solid #e4e3e3; /* 1/16 em */
	}

	.entire-column-wrapper {
		width: 50%;
		float: left;
	}

	.row-wrapper {
		width: 100%;
	}

	.wide-rectangle img {
		width: 30%;
		margin: 4% 10%;
	}

	#rect {
		width: 30%;
		margin-left: 6%;
	}

	#right {
		width: 30%;
		padding: 0;
	}

	#fix {
		width: 30%;
	}

	.text {
		width: 49%;
	}

	.text h3 {
		margin-top: 14%;
	}

	.bottom-wrapper {
		border-top: 0.0625em solid #e4e3e3;
	}

	#left {
		padding-bottom: 1.4%;
	}

	.page-numbers {
		width: 60%;
		margin-left: 30%;
	}

	.social {
		margin-left: 32%;
	}

	.social img {
		width: 10%;
		padding: 0;
	}

	.social-wrapper {
		margin-bottom: 2%;
	}

	footer nav {
		margin-bottom: 2%;
	}

} /*end of 768*/

@media only screen and (min-width: 1024px) {

	header nav {
		margin: 53px 0 30px 0;
	}

	header nav li {
		font-size: 1.25em;
	}

	.wrapper {
		margin-bottom: 12px;
	}

	.column-wrapper img {
		width: 53.4%;
		margin: 38px 21% 38px 25%;
	}

	.column-wrapper #logo {
		margin-left: 42%;
		margin-bottom: 30px;
	}

	.column-wrapper h4 {
		font-size: 3em;
	}

	.row-wrapper-bag img {
		margin: 42px 37.5966933% 29px 37.5966933%;
		width: 34.6%;
	}

	.row-wrapper-chair img {
		margin: 40px 37.5966933% 30px 37.5966933%;
		width: 34.6%;
	}

	.row-wrapper-bag h4 {
		font-size: 2em;
	}

	.row-wrapper-chair h4 {
		font-size: 2em;
	}

	.sidebar nav h5 {
		font-size: 1.7em;
	}
	.sidebar-section h3 {
		font-size: 0.75em; /* 13px */
	}
	.sidebar-section li {
		font-size: 1.1em;
		background-color: white;
	}

	.rectangle h2 {
		font-size: 0.7em;
	}

	.rectangle h3 {
		font-size: 1em;
	}

	.rectangle-handpicked h3 {
		font-size: 1.3em;
	}
	.rectangle-handpicked h2 {
		margin-bottom: 80px;
		font-size: 1.3em;
	}
	.rectangle-handpicked h4 {
		font-size: 1.65em;
	}

	.rectangle-large img {
		margin-top: 29%;
	}

	.rectangle-large h3 {
		font-size: 1em;
	}
	.bottom-row-rectangle h3 {
		font-size: 1em;
	}

	#dresser {
		margin-top: 10.5%;
		margin-bottom: 17%;
	}

	.wide-rectangle h4 {
		font-size: 2.5em;
	}

	.introspective-title h3 {
		font-style: italic;
		color: white;
		font-size: 1.5em;
	}

	.designers h3 {
		font-size: 0.7em;
	}

	.paragraph p {
		font-family: 'Georgia', Serif;
		font-size: 1em;
		line-height: 1.5em;
	}

	.continue {
		width: 31.863777%;
		margin-left: 33%;
	}

	.continue img {
		margin: 6%;
		float: left;
		display: inline;
	}

	.continue h3 {
		color: #76bb6a;
		font-size: 1.1em;
		float: left;
		display: inline;
		padding-top: 8%;
	}

	.continue a {
		text-decoration: none;
		color: #76bb6a;
	}

	.text h3 {
		font-size: 0.75em;
	}
	.text h4 {
		font-size: 1.2em;
	}
	.text p {
		font-size: 1em;
	}

	.page-numbers {
		width: 26.3931889%;
		margin-left: 35%;
	}
	.page-numbers li {
		font-size: 1.5em;
	}

	.social {
		margin-left: 37%;
	}

	.social img {
		width: 6%;
	}

	footer nav {
		width: 58.59133%;
	}
	footer nav li a {
		font-size: 0.75em;
	}
}