/* ___________________________________________________________________________________________________________________________________________

AUTHOR:		Ben Cato
______________________________________________________________________________________________________________________________________________

TABLE OF CONTENTS:

1. html root
2. typograpy
3. content

=============================================================================================================================================== */

/* 1. HTML ROOT  ============================================================================================================================== */
@import url('reset.css?v=2');
html, body { margin: 0; padding: 0; background: #222;}
#main {margin: 2.215657311669%; padding: 0; width: 95.568685376662%; height: auto; background: #fff;}
a:hover {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}

a {
	-webkit-font-smoothing: antialiased;
}


/* 2. TYPOGRAPHY  ============================================================================================================================= */
@font-face {
    font-family: 'BryantProRegular';
    src: url('../fonts/bryantpro-regular-webfont.eot');
    src: url('../fonts/bryantpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bryantpro-regular-webfont.woff') format('woff'),
         url('../fonts/bryantpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/bryantpro-regular-webfont.svg#BryantProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BryantProLight';
    src: url('../fonts/bryantpro-light-webfont.eot');
    src: url('../fonts/bryantpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bryantpro-light-webfont.woff') format('woff'),
         url('../fonts/bryantpro-light-webfont.ttf') format('truetype'),
         url('../fonts/bryantpro-light-webfont.svg#BryantProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	color: #22262e;
}

h2 {
	font-family: 'BryantProRegular';
	font-size: 1.7em;
	font-weight: lighter;
	text-transform: uppercase;
	margin-top: 18%;
}

h3 {
	font-family: 'BryantProLight'; 
	font-size: 1.4375em;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase; 
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.col-1 h3 {
	font-size: 2.5em;
	margin-bottom: 2%;
}

h4 {
	font-family: Georgia;
	font-size: 1.0625;
	font-weight: lighter;
	text-align: center;
	margin: 0;
}

h5 {
	font-size: .75em;
	font-family: Georgia;
	font-weight: lighter;
	text-transform: uppercase;
	color: #6a92bb;
	margin-top: 15%;
	margin-bottom: 5%;
}


.handpicked h4 {
	color: #fff;
	margin-bottom: 30%;
	font-weight: lighter;
}

.slot h4 {
	float: none;
	text-align: center;
	font-size: .85em;
}

.slot h4 span {
	font-size: .70em;
	text-transform: uppercase;
}

.intro-block p {
	font-family: Georgia;
	font-size: 1.1em;
	font-style: italic;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 0;
}

.para-is p {
	font-weight: lighter;
	line-height: 1.5em;
	color: #666;
}

.continue p {
	float: left;
	width: 60%;
	margin: 0;
}

.row.bot6 h6 {
	float: left;
	width: 100%;
	border-bottom: 0;
	margin-bottom: 3%;
	
}

.row.bot6 h3 {
	float: left;
	width: 100%;
	font-size: 1.2em;
}



/*  3. CONTENT  ================================================================================================================================ */

/* ---------------------images------------------------ */
.col-1 img {
	float: left;
	width: 90%;
	height: auto;
	margin: 10.756972111554% 5%;
}

img.fd-logo {
	float: none;
	display: block;
	width: 17%;
	margin: 6% auto 0 auto;
}	

.col-2-1 img {
	float: left;
	width: 35%;
	height: auto;
	margin: 10% 30% 6% 33%;
}

img.pp-logo {
	float: none;
	display: block;
	width: 25%;
	margin: 3.75% auto 0 auto;
}

.col-2-2 img {
	float: left;
	width: 35%;
	height: auto;
	margin: 10% 30% 6% 33%;
}

img.mm-logo {
	float: none;
	display: block;
	width: 22%;
	margin: 4% auto 0 auto;
}

.couch img {
	margin-bottom: 2%;
}

.couch .fd-logo {
	width: 25%;
	height: auto;
	padding-bottom: 2%;
}

.slot img {
	float: left;
	width: 65%;
	height: auto;
	margin: 20% 18% 12% 18%;
}

.slot img.logo {
	width: 40%;
	height: auto;
	margin: 5% 30%;
}

.col-1.bottom-row {
	border-top: 1px solid #e8e8e8;
	background: none;
}

.building {
	width: 101%;
	float: left;
}



/* 320px      ================================================================================================================================ */
@media only screen and (min-width: 20em) /*320px*/ {

/* ---------------------header------------------------ */
header {
	float: left;
	width: 100%;
	height: auto;
}

header nav ul {
	float: left;
	width: 100%;
}

header nav li {
	float: left;
	width: 100%;
	list-style: none;
}

header nav li a {
	float: left;
	width: 100%;
	text-decoration: none;
	background: #222;
	color: #fff; 
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid rgba(255,255,255,.15);
}

header nav li a:hover {
	color: #fff;
	background: #7eb1e6;
}

/* ---------------------rows------------------------ */
.wrapper {
	width: 100%;
	height: auto;
	float:left;
	background: #fff;
	overflow: hidden;
}

.glue {
	width: 100%; /* 1004px / 1292px */
	float: left;
	background: #f3fafb;
}

.hp-glue {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.fix {
	float: left;
	width: 100%;
	height: auto;
}
.handpicks-wrapper {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.introspective-wrapper {
	float: left;
	width: 100%;
	margin-top: 20px;
}

/* ---------------------columns------------------------ */
.col-1, .col-2, .sidebar {
	float: left;
}

.col-1 {
	width: 49.99%; /* 502px / 1004px */
	background: #f3fafb;
	background: url(../img/sticky-border.png) repeat-y right;
}

.col-2 {
	width: 49.99%; /* 502px / 1004px */
	 background: url(../img/sticky-border.png) repeat-y right;
}

.col-2-1 {
	width: 100%;
	float: left;
	height: auto;
	background: url(../img/sticky-border.png) repeat-y right #fffdf7;
	padding-bottom: 5%;
}

.col-2-2 {
	width: 100%;
	float: left;
	height: auto;
	background: url(../img/sticky-border.png) repeat-y right  #f3f7ea;
	border-top: 1px solid #e8e8e8;
	padding-bottom: 5%;
}



/*=====mid section=====*/
.handpicked h3 {
	color: #fff;
	margin: 50% 0 10% 0;
	font-size: .65em;
}

.handpicked h4 {
	font-size: .85em;
}

.couch {
	background: #fff; 
}

.count-2 {
	background: #fff;
	padding-bottom: 0;
}

.handpicked {
	width: 49.99%;
	float: left;
	height: auto;
	background: #814869;
	padding-bottom: 5%;
}

.handpicked h4 {
	font-size: .75em;
}

.slot {
	width: 49.99%;
	float: left;
	height: auto;
}

.slot.left {
	background: url(../img/sticky-border.png) repeat-y right;
}

.count-2 {
	background: url(../img/sticky-border.png) repeat-y right;
}

.column2.bottom-row {
	border: none;
}

/*=====bottom section=====*/
.row {
	float: left;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e8e8e8;
}

.column-is h3 {
	font-size: 1.8em;
}

.column-is {
	width: 100%;
	float: left;
}

.column-is.left{
	padding-bottom: 17%;
	background: url(../img/sticky-border.png) repeat-y right;
}

.intro-block {
	display: block;
	width: 37%;
	background: #76bb6a;
	margin: 0 auto;
	padding: 2% 0;
}

.designers {
	display: block;
	width: 37%;
	margin: 0 auto;
	padding: 3% 0;
	border-bottom: 1px solid #666666;
	font-family: Georgia;
	font-size: .8em;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
	color: #666666;
	margin-bottom: 6%;
}

.para-is {
	width: 72%;
	height: 201px;
	overflow: hidden;
	margin: 0 auto;
}

.continue {
	margin: 10% 15% 7% 25%;
}

.continue:hover {
	opacity: .7;
}

.green-arrow {
	float:left;
	width: 26px;
	height: 26px;
	background: #76bb6a; 
	margin: 0 8px;
	border-radius: 13px;
}

.continue .arrow {
	width: 1px;
	position: relative;
	left: -25px;
	color: #fff;
}

.continue a {
	color: #76bb6a;
	text-decoration: none;
	font-size: 1.15em;
	font-weight: lighter;
	float: left;
}

.row.bot6 .column-is {
	width: 50%;
	float: left;
}

.row.bot6 img {
	width: 70%;
	height: auto;
	float: left;
	margin: 5% 15%;
}

.bot-content {
	float: left;
	width: 100%;
	margin-top: 7%;
}

.row.bot6 p {
	float: left;
	width: 90%;
	color: #666;
	font-size: .85em;
	font-weight: lighter;
	line-height: 1.4em;
	margin-left: 5%;
	padding-bottom: 5%;
	text-align: center;
}

.row.bot6 ul {
	clear: both;
	width: 95%;
	margin: 3% 5%;
}

.row.bot6 li {
	display: inline;
	font-size: 1em;
	font-family: 'BryantProRegular';
	margin-right: 5%;
}

.row.bot6 ul li:last-child {
	margin-right: 0;
}

.row.bot6 li a {
	text-decoration: none;
	color: #666;
}

.row.bot6 li a.current {
	text-decoration: underline;
	color: green;
}

.row.bot6 li a:hover {
	text-decoration: underline;
	color: green;
}

/* ---------------------sidebar------------------------ */
.sidebar {
	display: none;
}

/* ---------------------footer------------------------ */
footer {
	float:left;
	width: 100%;
	background: ##22262e;
}

.footer-icon-wrapper {
	float: left;
	width: 200px;
	margin: 30px 25px 30px 20%; 
}

.footer-icon {
	float:left;
	width: 46px;
	height: 46px;
	background: #fff; 
	margin: 0 8px;
	border-radius: 23px;
	overflow: hidden;
	text-indent: -3000px;
}

.footer-icon:hover {
	opacity: .7;
}

.icon-twitter {
	background: url(../img/icon-twitter.svg) no-repeat #7bc9d2 center;
	
}

.icon-facebook {
	background: url(../img/icon-facebook.svg) no-repeat #6a92bb center;
}

.icon-pinterest {
	background: url(../img/icon-pinterest.svg) no-repeat #bf5656 center;
}

footer ul {
	clear: both;
	border-top: solid 1px #7a7d82;
	padding: 10px 0 20px 3%;
	text-align: center;
}

footer li {
	display: inline;
	font-size: 1.3em;
	line-height: 1.5em;
	margin-right: 15px;
	padding-bottom: 10px;
	text-align: center;
}

footer li a {
	text-decoration: none;
	color: #7a7d82;
}

footer li a:hover {
	color: #fff;
}

	

} /*------------------end 320---------------------*/



/* 480px      ================================================================================================================================ */
@media only screen and (min-width: 480px) {

.intro-block p {
	font-size: 1.25em;
}

.handpicked h3 {
	font-size: 1em;
}

.handpicked h4 {
	font-size: 1.1em;
}

.continue {
	margin: 5% 15% 7% 31%;
}

.row.bot6 p {
	font-size: 1em;
}

.row.bot6 ul {
	width: 60%;
	margin: 3% 25%;
}

.row.bot6 li {
	font-size: 1em;
}

.column-is.left{
	padding-bottom: 5%;
}

/* ---------------------footer------------------------ */
.footer-icon-wrapper {
	margin: 30px 25px 30px 31%; 
}


footer li {
	font-size: .85em;
}
	

} /*------------------end 480---------------------*/



/* 768px      ================================================================================================================================ */
@media only screen and (min-width: 45em) /* 768px */ {



header nav {
	padding: 20px 0 25px 0;
}

header nav ul {
	width: 100%;
	display: inline;
}

header nav li {
	width: auto;
	padding-right: 2em;
	margin-bottom: 15px;
}

header nav li a {
	width: auto;
	font-size: .9em;
	font-family: Georgia;
	font-weight: lighter;
	padding: 10px 0 10px 0;
	border-bottom: none;
}

header nav li a:hover {
	color: #7eb2e6;
	background: none;
}

header nav li a.current {
	color: #7eb2e6;
}

.handpicked h3 {
	font-size: 1.2em;
}

.row.bot6 h3{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.column-is h3 {
	font-size: 1.7em;
	padding-top: 2%;
}

/* ---------------------images------------------------ */
.row.bot6 img {
	width: 30%;
	height: auto;
	float: left;
	margin: 5% 0 1% 7%;
}

/* ---------------------rows------------------------ */


.glue {
	width: 77.7089783281734%; /* 1004px / 1292px */
}

/* ---------------------columns------------------------ */
.column-is {
	width: 50%;
	float: left;
}

.column-is.left{
	padding-bottom: 2%;
}

.designers.one {
	display: none;
}

.continue {
	margin: 7% 13% 7% 31%;
}

.row.bot6 h3 {
	font-size: 1.1em;
}

.bot-content {
	float: left;
	width: 63%;
	margin-top: 7%;
}

.row.bot6 p {
	width: 55%;
	margin-left: 24%;
}

.row.bot6 .shorten {
	width: 65%;
	margin-left: 17%;
}

.row.bot6 ul {
	width: 45%;
	margin: 3% 32%;
}

.row.bot6 li {
	font-size: 1.25em;
}

/* ---------------------sidebar------------------------ */
.sidebar {
	display: block;
	width: 18.20%; /* 288px (minus padding)/ 1292px */
	background: #fff; 
	padding: 0 2% 2% 2%;
	max-height: 300px;
	overflow: visible;
}

.sidebar li a {
	text-decoration: none;
	color: #22262e;
	padding: 7px 0 7px 0;
}

.sidebar li:hover {
	background: #ddd;
}

.sidebar li {
	width: 100%;
	list-style: none;
	font-family: Georgia;
	font-size: 1.1em;
	line-height: 2em;
	border-bottom: 1px solid #e8e8e8;
}

.sidebar li .new {
	float: right;
	width: 37px;
}

.sidebar li:first-child {
	border-top: 1px solid #e8e8e8;
}

/* ---------------------footer------------------------ */
.footer-icon-wrapper {
	margin: 30px 25px 30px 38%; 
}

footer ul {
	padding: 10px 0 20px 0; 
}

} /*------------------end 768---------------------*/



/* 1024px     ================================================================================================================================ */
@media only screen and (min-width: 1024px) {
header nav li {
	padding-right: 2.75em;
}

header nav li a {
	font-size: 1.1em;
}

header nav li:last-child {
	margin-right: 0;
}

.column-is h3 {
	font-size: 2.5em;
}

.handpicked h3 {
	font-size: 1.4375em;
}

.designers.one {
	display: block;
}

.continue {
	margin: 5% 15% 7% 35%;
}

.row.bot6 ul {
	width: 35%;
	margin: 3% 36%;
}

.row.bot6 h3 {
font-size: 1.4em;
}

.para-is {
	margin-top: 5%;
}

/* ---------------------footer------------------------ */
.footer-icon-wrapper {
	margin: 30px 25px 30px 41%; 
}	
	

} /*------------------end 1024---------------------*/



/* 1300px     ================================================================================================================================ */
@media only screen and (min-width: 1300px) {
header nav li {
	padding-right: 3.75em;
}

header nav li a {
	font-size: 1.3em;
}

.row.bot6 ul {
	width: 25%;
	margin: 3% 39%;
}
	
/* ---------------------footer------------------------ */
.footer-icon-wrapper {
	margin: 30px 25px 30px 44%; 
}	

} /*------------------end 1300---------------------*/









