h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', Sans-serif;
}

header {
    background: #333;
    overflow: hidden;
    padding: 45px 0;
    margin-bottom: 20px;
}
header h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 200;
    margin: 0;
    float: left;
}
nav {
    float: right;
}
nav ul {
    margin: 30px 0 0 0;
}
nav ul li {
    display: inline-block;
    color: #fff;
    margin-right: 5px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li.active a {
    color: #00aeef;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    font-weight: 100;
}
nav ul li a:hover {
    color: #00aeef;
}
.container {
    width: 960px;
    margin: 0 auto;
}

.main-wrapper {
    border-bottom: 2px dotted #bbb;
    padding: 40px 0;
    overflow: hidden;
}
.main-wrapper h1 {
    font-size: 60px;
    color: #333;
    margin: 0;
    letter-spacing: -1px;
}
.main-wrapper h1 span {
    color: #00aeef;
}
.main-wrapper h2 {
    font-size: 50px;
    color: #bbb;
    font-weight: 100;
    margin: 0;
    letter-spacing: -1px;
}

.main-wrapper h4 {
    margin-top: 0;
    font-size: 22px;
}
.main-wrapper p {
    font-size: 29px;
    font-weight: 100;
    color: #555;
    margin: 0;
    letter-spacing: -1px;
    line-height: 1.4em;
}
.main-wrapper p span {
    font-weight: bold;
}

.highlight {
    float: left;
    background: #00aeef;
    width: 240px;
    margin: 0 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 3px 3px 3px #cecece;
}
.highlight h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 100;
    text-transform: lowercase;
    border-bottom: dotted 2px #fff;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}
.highlight p {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;
    margin-bottom: 15px;
}
.highlight button {
    width: 100%;
    background: #0076a3;
    border: 2px solid #066f97 !important;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 0;
}

.client-wrapper {
    width: 460px;
    padding: 10px 25px 10px 10px;
    border-right: 2px dotted #ddd;
}

.testimonials {
    margin: 0;
    padding: 0;
}
.testimonials li {
    list-style: none;
    overflow: hidden;
    margin-bottom: 25px;
}
.testimonials li .image {
    display: inline-block;
    float: left;
    width: 84px;
    height: 84px;
    background: url('http://placehold.it/350x150') center center no-repeat;
    background-size: cover;
    margin-right: 25px;
}
.testimonials li blockquote {
    float: left;
    width: 70%;
    margin: 0;
    font-size: 14px;
}
.testimonials li cite {
    display: block;
    font-weight: bold;
    font-style: normal;
    margin-top: 10px;
}
.testimonials li cite span {
    display: block;
    font-weight: initial;
    color: #00aeef;
}