.quote-callout {
	min-height: 450px;
	padding: 100px 0 0 0;
	blockquote {
		color: #333;
		line-height: 1.3em;
		text-align: center;
		margin: 0 0 25px;
		padding: 0;
		border: none;
		@media only screen and (min-width : 0) {
			font-size: 24px;
		}
		@media only screen and (min-width : 992px) {
			font-size: 40px;
		}
	}
	cite {
		font-size: 24px;
		color: #ff0000;
		text-align: center;
	}
}