.highlight {
	position: relative;
	@media only screen and (min-width : 0) {
		padding: 40px 20px 15px 20px;
	}
	@media only screen and (min-width : 992px) {
		padding: 120px 20px 95px 20px;
	}
	img {
		position: relative;
		left: 50%;
		width: 150px;
		height: auto;
		margin: 0 0 25px -75px;
	}
	h2 {
		font-size: 36px;
		color: #333;
		text-align: center;
		margin: 0 0 25px 0;
	}
	p {
		font-size: 18px;
		color: #999;
		text-align: center;
		margin: 0 0 25px 0;
	}
}