.intro {
	h1 {
		position: relative;
		left: 50%;
		color: #808080;
		text-align: center;
		@media only screen and (min-width : 0) {
			width: 70%;
			font-size: 38px;
			margin: 73px 0 73px -35%;
		}
		@media only screen and (min-width : 1300px) {
			width: 46%;
			font-size: 48px;
			margin: 73px 0 73px -23%;
		}
	}
}