.teaser {
	padding-top: 100px;
	h2 {
		font-size: 36px;
		color: #fff;
		text-align: left;
		margin: 0 0 25px 0;
	}
	p {
		font-size: 18px;
		color: #fff;
		text-align: left;
		margin: 0 0 25px 0;
	}
	.btn {
		color: #fff;
		border: 3px solid #fff;
	}
}