#map_canvas {
	width: 100%;
	@media only screen and (min-width : 0) {
		height: 200px;
	}
	@media only screen and (min-width : 768px) {
		height: 400px;
	}
}
.bj-map-info {
	position: absolute;
	top: 120px;
	left: 37%;
	width: 20%;
	height: auto;
	margin-left: -10%;
	padding: 20px;
	background: rgba(34, 34, 34, 0.9);
	@media only screen and (min-width : 0) {
		display: none;
	}
	@media only screen and (min-width : 768px) {
		display: block;
	}
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			list-style: none;
			color: #fff;
			img {
				width: 100px;
			}
			a {
				color: #ff0000;
			}
		}
	}
	&:after {
		position: absolute;
		top: 60px;
		right: -10px;
		width: 10px;
		height: 20px;
		content: "";
		background: url(../img/map_carrot.png) no-repeat;
		background-size: 10px 20px;
	}
}
