html, body {
	height: 100%;
}
body {
	font-family: 'Muli', sans-serif; 
	-webkit-font-smoothing:antialiased;
	margin-top: 100px;
	opacity: 0;
}
::selection {
	background: #eaeaea;
	}
::-moz-selection {
	background: #eaeaea;
}
.page-wrapper {
	position: relative;
	width: 100%;
	background: #fff;
	z-index: 2;

	/*--- FIX FOR Z-INDEX SCROLLING ISSUE IN SAFARI ---*/
	-webkit-transform: translate3d(0,0,0);
	
	@media only screen and (min-width : 0) {
		margin-top: 600px;
	}
	@media only screen and (min-width : 992px) {
		margin-top: 800px;
	}
	@media only screen and (min-width : 1624px) {
		margin-top: 1000px;
	}
}
.container {
	@media (min-width: 1300px) {
		width: 1300px;
	}
}
.hybrid {
	position: relative;
	background: #efefef;
}
a {
	.transition;
}
.btn {
	&.btn-default {
		font-size: 20px;
		color: #808080;
		text-transform: uppercase;
		.border-radius(0);
		border: 3px solid #808080;
		padding: 10px 55px;
		outline: none;
		background: transparent !important;
		.transition;
		&:hover {
			color: #ff0000;
			border: 3px solid #ff0000;
		}
	}
}