.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	@media only screen and (min-width : 0) {
		height: 600px;
		padding-top: 200px;
	}
	@media only screen and (min-width : 992px) {
		height: 800px;
		padding-top: 300px;
	}
	@media only screen and (min-width : 1624px) {
		height: 1000px;
	}
	h2 {
		position: relative;
		color: #fff;
		margin: 0 0 0 0;
		@media only screen and (min-width : 0) {
			font-size: 45px;
		}
		@media only screen and (min-width : 768px) {
			font-size: 80px;
		}
	}
}
.bg {
	position: relative;
	min-height: 500px;
}