header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(34, 34, 34, 0);
	z-index: 99;
	@media only screen and (min-width : 0) {
		height: 160px;
	}
	@media only screen and (min-width : 768px) {
		height: 200px;
	}
	.logo {
		position: relative;
		display: inline-block;
		float: left;
		width: auto;
		height: auto;
		margin: 0;
		cursor: pointer;
		@media only screen and (min-width : 0) {
			top: 115px;
		}
		@media only screen and (min-width : 768px) {
			top: 135px
		}
		img {
			@media only screen and (min-width : 0) {
				width: 175px;
			}
			@media only screen and (min-width : 768px) {
				width: 215px;
			}
		}
	}
	.menu {
		position: relative;
		display: inline-block;
		float: right;
		width: 40px;
		height: 40px;
		margin: 0;
		cursor: pointer;
		.transition;
		@media only screen and (min-width : 0) {
			top: 117px;
		}
		@media only screen and (min-width : 768px) {
			top: 137px;
		}
		&:hover {
			opacity: .5;
		}
		img {
			@media only screen and (min-width : 0) {
				width: 30px;
			}
			@media only screen and (min-width : 768px) {
				width: 40px;
			}
		}
	}
}