.image-wrapper {
	@media only screen and (min-width : 0) {
		padding: 25px 0;
	}
	@media only screen and (min-width : 992px) {
		padding: 95px 0;
	}
	img {
		display: block;
		width: 225px;
		margin: 0 auto;
	}
}