.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(34, 34, 34, 0.95);
	z-index: 98;
	ul {
		position: relative;
		top: 260px;
		margin: 0;
		padding: 0;
		li {
			display: block;
			list-style: none;
			line-height: 1.3em;
			text-transform: capitalize;
			text-align: center;
			@media only screen and (min-width : 0) {
				font-size: 40px;
			}
			@media only screen and (min-width : 1624px) {
				font-size: 60px;
			}
			&.active {
				a {
					color: #808080;
				}
			}
			a {
				color: #fff;
				text-decoration: none;
				.transition;
				&:hover {
					color: #808080;
				}
			}
		}
	}
	.menu {
		position: absolute;
		top: 0;
		right: 20px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		.transition;
		@media only screen and (min-width : 0) {
			margin: 15px 0 0 0;
		}
		@media only screen and (min-width : 992px) {
			margin: 35px 0 0 0;
		}
		&:hover {
			opacity: .5;
		}
	}
}