footer {
	position: relative;
	background: #222;
	padding: 25px 0;
	z-index: 2;
	.logo {
		margin-bottom: 5px;
	}
	.links {
		padding: 0;
		@media only screen and (min-width : 0) {
			margin: 0 0 50px 0;
		}
		@media only screen and (min-width : 768px) {
			margin: 0 0 30px 0;
		}
		li {
			display: inline-block;
			font-size: 16px;
			text-transform: capitalize;
			margin-right: 15px;
			a {
				color: #808080;
				text-decoration: none;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.social {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		@media only screen and (min-width : 0) {
			top: initial;
			bottom: 0;
		}
		@media only screen and (min-width : 768px) {
			top: 0;
			bottom: initial;
		}
		li {
			display: inline-block;
			margin-right: 10px;
			a {
				&:hover {
					opacity: .7;
				}
			}
		}
	}
	span {
		display: block;
		font-size: 13px;
		color: #fff;
	}
}