.news-list-teaser {
	.news-list {
		width: 100%;
		padding: 100px 0;
		overflow: hidden;
		.image-holder {
			float: left;
			margin-right: 20px;
			.border-radius(200px);
			@media only screen and (min-width : 0) {
				width: 100px;
				height: 100px;
			}
			@media only screen and (min-width : 768px) {
				width: 200px;
				height: 200px;
			}
		}
		.text-holder {
			display: block;
			float: left;
			@media only screen and (min-width : 0) {
				width: 50%;
			}
			@media only screen and (min-width : 1324px) {
				width: 60%;
			}
			h4 {
				color: #404040;
				text-transform: capitalize;
				@media only screen and (min-width : 0) {
					font-size: 18px;
				}
				@media only screen and (min-width : 1024px) {
					font-size: 28px;
				}
			}
			a {
				display: block;
				font-size: 18px;
				color: #ff0000;
			}
			span {
				display: block;
				margin: 0 0 10px 0;
			}
		}
	}
}