.page {
	.make-row();
	&.score-column1 {
		& > .main {
			.make-md-column(12);
		}	
	}
	&.score-column2-equal {
		& > .side {
			.make-md-column(6);
		}
		& > .side2 {
			.make-md-column(6);
		}
	}
	&.score-column2-largeleft {
		& > .main {
			.make-md-column(8);
		}
		& > .side {
			.make-md-column(4);
		}
	}
	&.score-column2-largeright {
		& > .side {
			.make-md-column(3);
		}
		& > .main {
			.make-md-column(9);
		}
	}
	&.score-column3-equal {
		& > .side {
			.make-md-column(4);
		}
		& > .main {
			.make-md-column(4);
		}
		& > .side2 {
			.make-md-column(4);
		}
	}
	&.score-column3-largemiddle {
		& > .side {
			.make-md-column(3);
		}
		& > .main {
			.make-md-column(6);
		}
		& > .side2 {
			.make-md-column(3);
		}
	}
	&.score-column4-equal {
		& > .side {
			.make-md-column(3);
		}
		& > .main {
			.make-md-column(3);
		}
		& > .main2 {
			.make-md-column(3);
		}
		& > .side2 {
			.make-md-column(3);
		}
	}
}