.structural {
	.make-row();
	&.score-column1 {
		& > .center {
			.make-md-column(12);
		}
	}
	&.score-column2-equal {
		& > .left {
			.make-md-column(6);
		}
		& > .right {
			.make-md-column(6);
		}
	}
	&.score-column2-wideleft {
		& > .left {
			.make-md-column(8);
		}
		& > .right {
			.make-md-column(4);
		}
	}
	&.score-column2-wideright {
		& > .left {
			.make-md-column(4);
		}
		& > .right {
			.make-md-column(8);
		}
	}
	&.score-column3-equal {
		& > .left {
			.make-md-column(4);
		}
		& > .center {
			.make-md-column(4);
		}
		& > .right {
			.make-md-column(4);
		}
	}
	&.score-column3-widemiddle {
		& > .left {
			.make-md-column(3);
		}
		& > .center {
			.make-md-column(6);
		}
		& > .right {
			.make-md-column(3);
		}
	}
	&.score-column4-equal {
		& > .left {
			.make-md-column(3);
		}
		& > .center {
			.make-md-column(3);
		}
		& > .center2 {
			.make-md-column(3);
		}
		& > .right {
			.make-md-column(3);
		}
	}
}