.page-wrapper {
	width: 100%;
	overflow: hidden;
}
.hybrid {
	width: 100%;
}
&.score-column3-widemiddle {
	&.level {
		& > .left {
			.make-sm-column(1);
			.make-lg-column(2);
		}
		& > .center {
			.make-sm-column(10);
			.make-lg-column(8);
		}
		& > .right {
			.make-sm-column(1);
			.make-lg-column(2);
		}
	}
}