@import "yc-fonts.less";
@import "yc-header.less";
@import "yc-footer.less";
@import "yc-form-elements.less";
@import "yc-calendar.less";
@import "yc-project.less";
@import "yc-category.less";
@import "yc-gallery.less";
@import "yc-global.less";
@import "yc-override.less";

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.container-fixed {
  width: 960px;
  margin: 0 auto;
}

.container-wide {
  width: 100%;
  height: auto;
}

a {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    text-decoration: none;
  }
}

span {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

  

 
