.container-wide {
	.hero-wrapper {
		.photo-block {
			position: relative;
			height: 460px;
			.large-icon {
				position: absolute;
				top: 132px;
				left: 50%;
				width: 196px;
				height: 196px;
				margin-left: -98px;
				&.garden {
					background: url(../img/global/large_garden_icon.png) no-repeat center center;
					background-size: 196px;
				}
				&.lawn {
					background: url(../img/global/large_lawn_icon.png) no-repeat center center;
					background-size: 196px;
				}
				&.nature {
					background: url(../img/global/large_nature_icon.png) no-repeat center center;
					background-size: 196px;
				}
				&.outdoor {
					background: url(../img/global/large_outdoor_icon.png) no-repeat center center;
					background-size: 196px;
				}
			}
		}
	}
}
.category-wrapper {
	margin-bottom: 100px;
	> p {
		text-align: center;
		margin: none;
		.btn {
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			margin-bottom: 65px;
			border: 1px solid #505050;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			&.btn-primary {
				background: #564f4c;
			}
			&.btn-lg {
				height: 40px;
				padding: 9px 19px;
			}
			&:hover {
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				opacity: .7;
			}
		}
	}
	.intro-wrapper {
		margin: 0 0 65px 0;
		h1 {
			font-family: museo_slab;
			font-size: 80px;
			font-weight: 500;
			text-transform: capitalize;
			color: #505050;
			margin: 0 0 15px 0;
		}
		p {
			font-family: 'times';
			font-size: 16px;
			color: #505050;
			letter-spacing: .06em;
			line-height: 1.7em;
			margin-bottom: 30px;
		}
	}
	.detail-wrapper {
		.title-wrapper {
			img {
				float: left;
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-right: 10px;
			}
			h3 {
				float: left;
				font-family: museo_slab;
				font-size: 14px;
				font-weight: 500;
				color: #505050;
				margin: 5px 0 0 0;
			}
			p {
				clear: both;
				margin-bottom: 10px;
			}
			.event-stamp {
				float: left;
				margin: 0 0 10px 0;
				padding: 0;
				li {
					display: inline-block;
					list-style: none;
					font-family: museo_slab;
					font-size: 12px;
					font-weight: 500;
					line-height: 1.1em;
					color: #727272;
					margin-right: 10px;
					padding-right: 10px;
					border-right: 1px solid #505050;
					&:last-child {
						margin-right: 0;
						padding-right: 0;
						border-right: none;
					}
				}
			}
		}
	}
}