.calendar-wrapper {
	margin-bottom: 60px;
	> p {
		text-align: center;
		margin: none;
		.btn {
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			margin-top: 20px;
			border: 1px solid #505050;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			&.btn-primary {
				background: #564f4c;
			}
			&.btn-lg {
				height: 40px;
				padding: 9px 19px;
			}
			&:hover {
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				opacity: .7;
			}
		}
	}
	h1 {
		font-family: museo_slab;
		font-size: 80px;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;
		color: #505050;
		margin: 0 0 15px 0;
		span {
			display: block;
			font-size: 20px;
			margin: 0 0 -15px 0;
			cursor: inherit;
		}
	}
	h2 {
		font-family: museo_sans;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: .2em;
		color: #505050;
		margin: 25px 0 10px 0;
	}
	h3 {
		position: relative;
		font-family: museo_slab;
		font-size: 36px;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;
		margin: 0 0 30px 0;
		span {
			cursor: inherit;
		}
		.month-1 {
			color: #288ac9;
		}
		.month-2 {
			color: #3593ad;
		}
		.month-3 {
			color: #419d88;
		}
		.month-4 {
			color: #4dac48;
		}
		.month-5 {
			color: #7eae40;
		}
		.month-6 {
			color: #a8b037;
		}
		.month-7 {
			color: #f1b129;
		}
		.month-8 {
			color: #ee962a;
		}
		.month-9 {
			color: #ef7335;
		}
		.month-10 {
			color: #f04d3a;
		}
		.month-11 {
			color: #cb6560;
		}
		.month-12 {
			color: #7981a5;
		}
	}
	h4 {
		float: left;
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #505050;
		margin: 15px 25px 0 0;
	}
	.slide-wrapper {
		position: relative;
		display: block;
		width: 195px;
		height: auto;
		margin: 0 auto;
		.prev {
			position: absolute;
			top: 10px;
			left: -24px;
			&:hover {
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				opacity: .5;
			}
		}
		.next {
			position: absolute;
			top: 10px;
			right: -24px;
			&:hover {
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				opacity: .5;
			}
		}
	}
	.actions {
		margin: 15px 0 0 0;
		
	}
	.views {
		float: left;
		margin: 15px 0 0 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.1em;
			margin-right: 15px;
			padding-right: 15px;
			border-right: 1px solid #505050;
			&:last-child {
				border-right: none;
			}
			&.active, &:hover {
				span {
					color: #58b421;
				}
			}
			span {
				color: #505050;
			}
		}
	}
	.slides {
		.month-header, .filter-header {
			width: 99.5%;
			margin: 0 0 0 4px;
			padding: 0;
			&.one {
				background: #288ac9;
			}
			&.two {
				background: #3593ad;
			}
			&.three {
				background: #419d88;
			}
			&.four {
				background: #4dac48;
			}
			&.five {
				background: #7eae40;
			}
			&.six {
				background: #a8b037;
			}
			&.seven {
				background: #f1b129;
			}
			&.eight {
				background: #ee962a;
			}
			&.nine {
				background: #ef7335;
			}
			&.ten {
				background: #f04d3a;
			}
			&.eleven {
				background: #cb6560;
			}
			&.twelve {
				background: #7981a5;
			}
		}
		.month-header {
			li {
				display: inline-block;
				list-style: none;
				width: 13.86%;
				padding: 6px 4px 6px 0;
				font-family: museo_slab;
				font-size: 16px;
				font-weight: 500;
				text-align: center;
				color: #fff;
			}
		}
		.filter-header {
			li {
				position: relative;
				display: inline-block;
				width: 140px;
				list-style: none;
				padding: 6px 4px 6px 0;
				font-family: museo_slab;
				font-size: 16px;
				font-weight: 500;
				color: #fff;
				margin: 0 0 0 10px;
				&:last-child {
					margin-left: 20px;
				}
			}
		}
		ol {
			width: 100%;
			margin: 0;
			padding: 0;
			& > li {
				position: relative;
				list-style: none;
				float: left;
				width: 13.86%;
				height: 85px;
				background: #ede8dd;
				margin-left: 4px;
				margin-bottom: 4px;
				padding-top: 2px;
				font-family: museo_sans;
				font-size: 16px;
				font-weight: 500;
				text-align: center;
				color: #505050;
				&.selected, &:hover {
					background: #fff;
					-webkit-transition: all .3s ease;
					-moz-transition: all .3s ease;
					-ms-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
				}
				.categories {
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						list-style: none;
						width: 32px;
						height: 32px;
						margin: 5px auto 0 auto;
					}
				}
				.more-link {
					position: relative;
					bottom: 5px;
					font-family: 'times';
					font-size: 14px;
					font-weight: 100;
					font-style: italic;
					color: #58b421;
					margin-bottom: 4px;
				}
				.dropdown {
					position: absolute;
					top: 0;
					right: -180px;
					width: 180px;
					height: 230px;
					margin: 0;
					padding: 10px;
					background: #fff;
					text-align: left;
					overflow-y: scroll;
					z-index: 1;
					-webkit-box-shadow: 3px 3px 3px #ccc;
					-moz-box-shadow: 3px 3px 3px #ccc;
					-o-box-shadow: 3px 3px 3px #ccc;
					box-shadow: 3px 3px 3px #ccc;
					&.left {
						left: -180px;
						-webkit-box-shadow: -3px 3px 3px #ccc;
						-moz-box-shadow: -3px 3px 3px #ccc;
						-o-box-shadow: -3px 3px 3px #ccc;
						box-shadow: -3px 3px 3px #ccc;
					}
					&.top {
						top: inherit;
						bottom: -4px;
					}
					p {
						font-family: museo_slab;
						font-size: 16px;
						font-weight: 700;
						text-decoration: none;
						margin-bottom: 15px;
					}
					li {
						list-style: none;
						font-family: museo_slab;
						font-size: 14px;
						font-weight: 500;
						margin-bottom: 15px;
						line-height: 1em;
						a {
							color: #58b421;
						}
						img {
							display: inline-block;
							width: 13px;
							height: 13px;
							margin-right: 5px;
						}
						span {
							display: block;
							font-family: 'times';
							font-size: 14px;
							font-weight: 100;
							font-style: italic;
							color: #505050;
							margin-left: 20px;
						}
					}
				}
			}
		}
		.month-list {
			/*height: 534px;*/
			margin: 0 0 0 4px;
			padding: 0;
			/*overflow-y: scroll;
			border-bottom: 36px solid #ede8dd;*/
			li {
				list-style: none;
				&.day {
					padding: 15px;
					span {
						font-family: museo_slab;
						font-size: 16px;
						font-weight: 500;
						color: #505050;
					}
				}
				.panel {
					border: none;
					border-radius: 0;
					margin-bottom: 5px;
					box-shadow: none;
					.panel-collapse {
						padding-left: 10px;
					}
					.title-wrapper {
						width: 100%;
						height: auto;
						background: #ede8dd;
						padding: 10px;
						overflow: hidden;
						position: relative;
						img {
							float: left;
							width: 32px;
							height: 32px;
							margin-right: 15px;
						}
						h4 {
							font-size: 22px;
							margin: 5px 0 0 0;
						}
						p {
							position: absolute;
							right: 10px;
							bottom: 10px;
							font-family: 'times';
							font-size: 14px;
							font-weight: 100;
							font-style: italic;
							color: #58b421;
							margin: 0;
						}
					}
					.event-stamp {
						margin: 0 0 10px 0;
						padding: 25px 0 0 0;
						li {
							display: inline-block;
							list-style: none;
							font-family: museo_slab;
							font-size: 16px;
							font-weight: 500;
							line-height: 1.1em;
							color: #727272;
							margin-right: 10px;
							padding-right: 10px;
							border-right: 1px solid #505050;
							&:last-child {
								margin-right: 0;
								padding-right: 0;
								border-right: none;
							}
						}
					}
				}
			}
		}
	}
}
.event-wrapper {
	margin-bottom: 80px;
	&:after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}
	span {
		font-family: 'times';
		font-size: 14px;
		font-weight: 100;
		font-style: italic;
		color: #58b421;
	}
	p {
		clear: both;
	}
	.title-wrapper {
		img {
			float: left;
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}
		h3 {
			float: left;
			font-family: museo_slab;
			font-size: 22px;
			font-weight: 500;
			color: #505050;
			margin: 10px 0 0 0;
		}
		.text-block {
			float: left;
			max-width: 470px;
		}
		.icon-wrapper {
			float: left;
			position: relative;
			width: 32px;
			height: 32px;
			margin-right: 10px;
			.icon {
				img {
					&:hover {
						opacity: .7;
						-webkit-transition: all .3s ease;
						-moz-transition: all .3s ease;
						-ms-transition: all .3s ease;
						-o-transition: all .3s ease;
						transition: all .3s ease;
					}
				}
			}
			&.edit {
				background: #eee7dd;
				&.edit-active {
					outline: 2px solid #5bb22f;
				}
			}
			.choose-icon-wrapper {
				position: absolute;
				bottom: -304px;
				left: 0;
				width: 400px;
				height: auto;
				background: #fff;
				padding: 25px 0 0 0;
				border: 1px solid #999;
				-webkit-box-shadow: 1px 1px 3px #999;
				-moz-box-shadow: 1px 1px 3px #999;
				-o-box-shadow: 1px 1px 3px #999;
				box-shadow: 1px 1px 3px #999;
				z-index: 1;
				p {
					font-family: museo_slab;
					font-size: 12px;
					font-weight: 500;
					color: #505050;
					margin: 0 0 10px 45px;
				}
				ul {
					height: 225px;
					margin: 0;
					padding: 0 25px 15px 25px;
					li {
						list-style: none;
						float: left;
						width: 40%%;
						height: auto;
						margin: 0 5% 15px 5%;
						a {
							display: block;
						}
						img {
							width: 32px;
							height: 32px;
							margin-top: -5px;
							&:hover {
								opacity: .7;
								-webkit-transition: all .3s ease;
								-moz-transition: all .3s ease;
								-ms-transition: all .3s ease;
								-o-transition: all .3s ease;
								transition: all .3s ease;
							}
						}
					}
				}
				&:before {
					position: absolute;
					top: -20px;
					left: 5px;
					width: 20px;
					height: 23px;
					background: url(../img/global/pointer_up.png) no-repeat;
					content: "";
					z-index: 2;
				}
			}
		}
		.event-stamp {
			clear: both;
			margin: 0 0 25px 0;
			padding: 0;
			li {
				position: relative;
				display: inline-block;
				list-style: none;
				font-family: museo_slab;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.1em;
				color: #727272;
				margin-right: 10px;
				padding-right: 10px;
				border-right: 1px solid #505050;
				&:last-child {
					margin-right: 0;
					padding-right: 0;
					border-right: none;
				}
				input {
					float: none;
					font-weight: 300;
				}
				img {
					position: absolute;
					top: -4px;
					right: 0;
					width: 24px;
					height: 24px;
				}
			}
		}
		.frequency-wrapper {
			.frequency {
				margin: 0 0 10px 42px;
				padding: 0;
				li {
					display: inline-block;
					list-style: none;
					font-family: museo_slab;
					font-size: 16px;
					font-weight: 500;
					line-height: 1.1em;
					color: #727272;
					margin-right: 40px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.endings {
				margin: 0 0 10px 42px;
				padding: 0;
				li {
					position: relative;
					display: inline-block;
					list-style: none;
					font-family: museo_slab;
					font-size: 16px;
					font-weight: 500;
					line-height: 1.1em;
					color: #727272;
					margin-right: 65px;
					&:first-child {
						width: 290px;
						input {
							float: right;
							font-size: 14px;
							font-weight: 300;
							padding-left: 25px;
						}
					}
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	input {
		float: left;
		margin-right: 10px;
		background: #eee7dd;
		border: none;
		&:focus {
			border: 2px solid #5bb22f;
			outline: 0 none;
		}
		&.title {
			font-family: museo_slab;
			font-size: 22px;
			margin-bottom: 5px;
			padding-left: 10px;
		}
	}
	.input-validation-error {
		outline: 2px solid red;
	}
	.field-validation-error {
		font-style: inherit;
		color: red;
		pointer: none;
	}
	.validation-summary-errors {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				font-family: 'times';
				font-size: 14px;
				font-weight: 100;
				color: red;
			}
		}
	}
	.link-wrapper {
		position: relative;
		.insert {
			float: right;
			font-family: 'times';
			font-size: 14px;
			font-weight: 100;
			font-style: italic;
			color: #58b421;
			cursor: pointer;
		}
		.insert-link-wrapper {
			position: absolute;
			top: -10px;
			right: -300px;
			width: 280px;
			height: 225px;
			background: #fff;
			padding: 25px;
			border: 1px solid #999;
			-webkit-box-shadow: 1px 1px 3px #999;
			-moz-box-shadow: 1px 1px 3px #999;
			-o-box-shadow: 1px 1px 3px #999;
			box-shadow: 1px 1px 3px #999;
			z-index: 1;
			h4 {
				font-family: museo_slab;
				font-size: 16px;
				font-weight: 500;
				color: #505050;
				text-align: center;
				margin: 0 0 15px 0;
			}
			ul {
				margin: 0 0 25px 0;
				padding: 0;
				li {
					display: block;
					list-style: none;
					font-family: 'times';
					font-size: 14px;
					margin-bottom: 5px;
					overflow: hidden;
					input {
						float: right;
						font-family: 'times';
						font-size: 14px;
						font-weight: 100;
						font-style: italic;
						margin: 0;
						padding-left: 5px;
					}
				}
			}
			p {
				float: none;
				clear: both;
				display: block;
				text-align: center;
				span, a {
					float: none;
					margin-bottom: 0;
				}
			}
			&:before {
				position: absolute;
				top: 7px;
				left: -20px;
				width: 20px;
				height: 23px;
				background: url(../img/global/pointer_left.png) no-repeat;
				content: "";
				z-index: 2;
			}
		}
	}
	textarea {
		width: 100%;
		min-height: 120px;
		resize: none;
		background: #eee7dd;
		margin-bottom: 10px;
		padding: 10px;
		border: none;
		&:focus {
			border: 2px solid #5bb22f;
			outline: 0 none;
		}
	}
	p {
		font-family: 'times';
		font-size: 16px;
		font-weight: 100;
		font-style: normal;
		color: #505050;
		line-height: 1.9em;
	}
	.reminder-wrapper {
		margin-bottom: 30px;
		label {
			display: inline-block;
			font-family: 'times';
			font-size: 13px;
			font-weight: 100;
			line-height: 1.4em;
			color: #505050;
			margin-bottom: 0;
		}
		.email-wrapper {
			margin-top: 5px;
			margin-left: 25px;
			p {
				margin-left: 25px;
				margin-right: 5px;
			}
			input {
				float: none;
				font-family: 'times';
				font-size: 14px;
				font-weight: 100;
				font-style: italic;           
				padding-left: 5px;
			}
		}
	}
	.attatched-wrapper {
		min-height: 74px;
		margin-bottom: 10px;
		h4 {
			display: inline-block;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #505050;
			margin: 0 10px 20px 0;
		}
		.project-block {
			position: relative;
			margin-bottom: 20px;
			&:after {
				content: "."; 
				visibility: hidden; 
				display: block; 
				height: 0; 
				clear: both;
			}
			.photo-block {
				float: left;
				width: 40px;
				height: 40px;
				margin: -6px 15px 0 0;
			}
			p {
				font-family: 'times';
				font-size: 14px;
				font-style: italic;
			}
		}
	}
	.links {
		float: left;
		margin: 10px 0 0 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			line-height: 1em;
			margin-right: 15px;
			padding-right: 15px;
			border-right: 1px solid #505050;
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border-right: none;
			}
		}
	}
	.btn {
		float: right;
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 100;
		color: #505050;
		border: 1px solid #505050;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .7;
		}
		&:focus {
			border: none;
			outline: 0 none;
		}
		&.btn-primary {
			background: #fff;
		}
		&.btn-lg {
			height: 40px;
			padding: 9px 19px;
		}
		&.save {
			background: #505050;
			color: #fff;
			font-style: normal;
			margin-bottom: 15px;
		}
	}
	.cancel {
		display: block;
		clear: both;
		float: right;
		padding: 0 16px;
	}
	.dialog-box {
		top: 25%;
		left: 62%;
	}
}
.related-wrapper {
	overflow: hidden;
	margin-bottom: 30px;
	h4 {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #505050;
		margin: 0 0 15px 0;
	}
	ul {
		clear: both;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			float: left;
			display: inline-block;
			list-style: none;
			width: 50%;
			height: auto;
			font-family: 'times';
			font-size: 14px;
			font-weight: 100;
			font-style: italic;
			line-height: 1em;
			color: #58b421;
			margin-bottom: 30px;
			padding: 10px 1% 0 13%;
			.photo-block {
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 40px;
				margin: 0;
			}
		}
	}
}