.styled-1, .styled-2, .styled-3, .styled-4, .styled-5 {
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	select {
		display: block;
		width: 130%;
		font-size: 12px;
		color: #505050;
		background-color: transparent;
		background-image: none;
		-webkit-appearance: none;
		border: none;
		outline: none;
		box-shadow: none;
		padding: 2px 0 0 15px;
		option {
			background: #fff;
		}
	}
}
.styled-1 {
	position: absolute;
	top: -3px;
	left: 0;
	width: 140px;
	height: 20px;
	background: url(../img/global/form_select.png) no-repeat bottom right;
	select {
		font-weight: 100;
	}
}
.styled-2 {
	display: inline-block;
	width: 70px;
	height: 20px;
	margin-bottom: -5px;
	background: url(../img/global/form_select_2.png) no-repeat bottom right;
	select {
		font-family: 'times';
		font-weight: 500;
		padding-left: 12px;
	}
}
.styled-3 {
	display: inline-block;
	width: 50px;
	height: 20px;
	margin-bottom: -5px;
	margin-right: 3px;
	background: url(../img/global/form_select_2.png) no-repeat bottom right;
	select {
		font-family: 'times';
		font-weight: 500;
		padding-left: 12px;
	}
}
.styled-4 {
	display: block;
	width: 336px;
	height: 20px;
	margin-bottom: 20px;
	margin-right: 3px;
	background: url(../img/global/form_select_2.png) no-repeat bottom right;
	select {
		font-family: 'times';
		font-weight: 500;
		padding-left: 12px;
	}
}
.styled-5 {
	display: block;
	width: 140px;
	height: 20px;
	margin-right: 3px;
	background: url(../img/global/form_select_2.png) no-repeat bottom right;
	select {
		font-family: 'times';
		font-weight: 500;
		padding-left: 12px;
	}
}

input[type="radio"], 
input[type="checkbox"] { position: absolute; left: -999em; }
label {
	font-weight: inherit;
}	
.custom:before { 
	display: inline-block; position: relative; top:0.45em; left:-2px; 
	content:''; width:25px; height:25px;
	background-image:url(../img/global/form_elements.png); }

input[type="checkbox"] + label:before { background-position: 0 -25px;}
input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }
	 
input[type="radio"] + label:before { background-position: -25px -25px;}	 	
input[type="radio"]:checked + label:before { background-position: -25px 0;}

	/* Remove the custom styling for IE 7-8 */
	
	.ie8 label:before { display:none; content:none; }
	
	.ie8 input[type="checkbox"],
	.ie8 input[type="radio"],
	.ie7 input[type="checkbox"],
	.ie7 input[type="radio"]{ 
		position: static; left:0; }
	
	.ie8 input[type="checkbox"],
	.ie8 input[type="radio"] { 
		position:relative; top:5px; margin-right:0.5em;}	
		
input[type="text"]:focus, textarea:focus {
	border-color:#000;
}