@font-face { 
  font-family: museo_sans; 
  font-weight: 100;
  src: url('../fonts/MuseoSans-100.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/MuseoSans-100Italic.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 300;
  src: url('../fonts/MuseoSans-300.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/MuseoSans-300Italic.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 500;
  src: url('../fonts/MuseoSans_500.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/MuseoSans_500_Italic.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 700;
  src: url('../fonts/MuseoSans_700.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/MuseoSans-700Italic.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 900;
  src: url('../fonts/MuseoSans_900.otf'); 
}
@font-face { 
  font-family: museo_sans; 
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/MuseoSans-900Italic.otf'); 
}


@font-face { 
  font-family: museo_slab; 
  font-weight: 100;
  src: url('../fonts/MuseoSlab-100.otf'); 
}
@font-face { 
  font-family: museo_slab; 
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/MuseoSlab-100Italic.otf'); 
}
@font-face { 
  font-family: museo_slab; 
  font-weight: 300;
  src: url('../fonts/MuseoSlab-300.otf'); 
}  
@font-face { 
  font-family: museo_slab; 
  font-weight: 500;
  src: url('../fonts/MuseoSlab-500.otf'); 
} 
@font-face { 
  font-family: museo_slab; 
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/MuseoSlab-500Italic.otf'); 
}
@font-face { 
  font-family: museo_slab; 
  font-weight: 700;
  src: url('../fonts/MuseoSlab-700.otf'); 
} 
@font-face { 
  font-family: museo_slab; 
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/MuseoSlab-700Italic.otf'); 
} 
@font-face { 
  font-family: museo_slab; 
  font-weight: 900;
  src: url('../fonts/MuseoSlab-500.otf'); 
} 
@font-face { 
  font-family: museo_slab; 
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/MuseoSlab-500Italic.otf'); 
}