footer {
	position: relative;
	width: 100%;
	height: auto;
	background: #584a3f;
	z-index: 100;
	.top-wrapper {
		width: 100%;
		height: auto;
		background: #7a6f66;
		padding: 75px 0;
		h2 {
			font-family: museo_sans;
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			margin-top: 0;
			letter-spacing: .1em;
		}
		.input-wrapper {
			display: block;
			width: 330px;
			height: 40px;
			margin: 0 auto;
			input {
				width: 220px;
				height: 40px;
				border: none;
				outline: none;
				padding-left: 15px;
				font-family: museo_slab;
				font-size: 13px;
				font-weight: 500;
				color: #7a6f66;
				margin-right: 2px;
				&::-webkit-input-placeholder {
					color: #7a6f66;
				}
				&:-moz-input-placeholder {
					color: #7a6f66;
				}
				&::-moz-input-placeholder {
					color: #7a6f66;
				}
				&::-ms-input-placeholder {
					color: #7a6f66;
				}
			}
			.btn {
				font-family: museo_slab;
				font-size: 18px;
				font-weight: 500;
				color: #7a6f66;
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-o-border-radius: 0;
				border-radius: 0;
				&.btn-primary {
					background: #fff;
				}
				&.btn-lg {
					height: 40px;
					padding: 9px 19px;
				}
				&:hover {
					-webkit-transition: all .3s ease;
					-moz-transition: all .3s ease;
					-ms-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
					opacity: .7;
				}
			}
		}
	}
	ul {
		margin: 80px 0 120px 0;
		padding: 0;
		li {
			list-style: none;
			font-family: museo_sans;
			h3 {
				font-size: 18px;
				font-weight: 500;
				text-transform: uppercase;
				color: #fff;
				margin: 0 0 20px 0;
			}
			a {
				font-size: 16px;
				color: #fff;
				line-height: 1.6em;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}