.heading-wrapper {
	margin-bottom: 65px;
	h4 {
		font-family: museo_slab;
		font-size: 22px;
		font-weight: 500;
		color: #505050;
		text-align: center;
		line-height: 1.3em;
		margin: 0;
		a {
			color: #58b421;
		}
	}
	p {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #505050;
		text-align: center;
		margin: 0 0 50px 0;
	}
}
.header-wrapper {
	.border {
		position: relative;
		width: 100%;
		height: 40px;
		text-align: center;
		margin-bottom: 30px;
		z-index: 1;
		&:before {
			position: absolute;
			top: 6px;
			left: 0;
			width: 100%;
			height: 1px;
			background: #505050;
			content: "";
		}
		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 22px;
			height: 12px;
			margin-left: -11px;
			background: url(../img/global/chev_down.png) no-repeat;
			background-size: 22px 12px;
			content: "";
		}
		h3 {
			display: inline-block;
			position: relative;
			font-family: museo_sans;
			font-size: 18px;
			font-weight: 500;
			color: #505050;
			text-transform: uppercase;
			letter-spacing: .2em;
			background: #fff;
			margin: 0 0 60px 0;
			padding: 0 40px;
			z-index: 2;
		}
	}
}
.highlight {
	position: relative;
	text-align: center;
	margin-bottom: 100px;
	.footer-wrapper {
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .7;
		}
	}
	&.type-1 {
		.title-wrapper, .footer-wrapper {
			background: #f75844;
		}
		.title-wrapper {
			&:after {
				position: absolute;
				top: 0;
				right: -24px;
				width: 24px;
				height: 17px;
				background: url(../img/global/fold_red.png) no-repeat;
				content: "";	
			}
		}
	}
	&.type-2 {
		.title-wrapper, .footer-wrapper {
			background: #6bb940;
		}
		.title-wrapper {
			&:after {
				position: absolute;
				top: 0;
				right: -24px;
				width: 24px;
				height: 17px;
				background: url(../img/global/fold_green.png) no-repeat;
				content: "";	
			}
		}
	}
	&.type-3 {
		.title-wrapper, .footer-wrapper {
			background: #f1b92e;
		}
		.title-wrapper {
			&:after {
				position: absolute;
				top: 0;
				right: -24px;
				width: 24px;
				height: 17px;
				background: url(../img/global/fold_yellow.png) no-repeat;
				content: "";	
			}
		}
	}
	&.type-4 {
		.title-wrapper, .footer-wrapper {
			background: #2e96d3;
		}
		.title-wrapper {
			&:after {
				position: absolute;
				top: 0;
				right: -24px;
				width: 24px;
				height: 17px;
				background: url(../img/global/fold_blue.png) no-repeat;
				content: "";	
			}
		}
	}
	.title-wrapper {
		position: absolute;
		top: -17px;
		left: 50%;
		width: 76%;
		min-height: 35px;
		margin-left: -38%;
		padding: 10px 0;
		h5 {
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			margin: 0;
		}
	}
	.photo-block {
		width: 100%;
		height: 185px;
	}
	.text-block {
		width: 100%;
		height: auto;
		background: #ede8dd;
		margin: 0;
		padding: 15px 30px;
		h6 {
			font-family: museo_slab;
			font-size: 14px;
			font-weight: 500;
			color: #505050;
			margin: 0 0 10px 0;
			padding: 0 0 10px 0;
			border-bottom: 1px solid #505050;
		}
		p {
			font-family: museo_slab;
			font-size: 11px;
			font-weight: 300;
			color: #505050;
			margin: 0 0 10px 0;
			padding: 0 0 10px 0;
			border-bottom: 1px solid #505050;
		}
	}
	.footer-wrapper {
		width: 100%;
		height: auto;
		margin-bottom: 5px;
		a {
			display: block;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			padding: 10px 0;
		}
	}
	& > span {
		font-family: 'times';
		font-size: 14px;
		font-weight: 100;
		font-style: italic;
		color: #58b421;
	}
	&.large {
		.title-wrapper {
			width: 60%;
			min-height: 110px;
			margin-left: -30%;
			padding-left: 20px;
			padding-right: 20px;
			h4 {
				font-family: museo_slab;
				font-size: 22px;
				font-weight: 500;
				color: #fff;
				text-align: center;
			}
			h5 {
				padding-bottom: 10px;
				border-bottom: 1px solid #fff;
			}
		}
		.photo-block {
			height: 300px;
		}
		.text-block {
			padding: 30px 90px;
			p{
				font-size: 16px;
				margin: 0;
				padding: 0;
				border-bottom: none;
				text-align: center;
			}
		}
	}
}
.highlighter {
	margin-bottom: 50px;
	overflow: hidden;
	.photo-block {
		float: left;
		width: 220px;
		height: 140px;
		margin-right: 20px;
	}
	.text-block {
		float: left;
		width: 390px;
		h4 {
			font-family: museo_slab;
			font-size: 22px;
			font-weight: 500;
			color: #505050;
			margin: 0 0 5px 0;
		}
		p {
			font-family: 'times';
			font-size: 16px;
			color: #505050;
			letter-spacing: .06em;
			margin: 0 0 5px 0;
		}
	}
	.btn {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .7;
		}
		&.btn-lg {
			height: 40px;
			margin-bottom: 30px;
			padding: 9px 19px;
		}
	}
	&.type-1 {
		.btn-primary {
			background: #f75844;
		}
	}
	&.type-2 {
		.btn-primary {
			background: #6bb940;
		}
	}
	&.type-3 {
		.btn-primary {
			background: #f1b92e;
		}
	}
	&.type-4 {
		.btn-primary {
			background: #2e96d3;
		}
	}
}
.highlighted {
	margin-bottom: 60px;
	.photo-block {
		position: relative;
		width: 100%;
		min-height: 210px;
		padding: 40px 0;
		overflow: hidden;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 1000px;
			background: rgba(0, 0, 0, .6);
			content: "";
		}
	}
	.text-block {
		position: relative;
		width: 80%;
		min-height: 165px;
		text-align: center;
		margin: 0 10%;
		padding: 25px 0;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		z-index: 1;
		h2 {
			font-family: museo_slab;
			font-size: 36px;
			font-weight: 500;
			color: #fff;
			margin: 0 0 5px 0;
		}
		p {
			font-family: 'times';
			font-size: 16px;
			letter-spacing: .06em;
			color: #fff;
			margin: 0 0 10px 0;
		}
	}
	.btn {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .7;
		}
		&.btn-lg {
			height: 40px;
			margin-bottom: 0;
			padding: 9px 19px;
		}
	}
	&.type-1 {
		.btn-primary {
			background: #f75844;
		}
	}
	&.type-2 {
		.btn-primary {
			background: #6bb940;
		}
	}
	&.type-3 {
		.btn-primary {
			background: #f1b92e;
		}
	}
	&.type-4 {
		.btn-primary {
			background: #2e96d3;
		}
	}
}
.dialog-box {
	position: absolute;
	top: 50%;
	left: 50%;	
	width: 280px;
	height: auto;
	background: #fff;
	padding: 25px;
	border: 1px solid #999;
	-webkit-box-shadow: 1px 1px 3px #999;
	-moz-box-shadow: 1px 1px 3px #999;
	-o-box-shadow: 1px 1px 3px #999;
	box-shadow: 1px 1px 3px #999;
	z-index: 99;
	h4 {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #505050;
		text-align: center;
		margin: 0 0 50px 0;
	}
	p {
		&.center {
			text-align: center;
		}
	}
	.btn {
		float: none;
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		border: 1px solid #505050;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .7;
		}
		&.btn-primary {
			background: #505050;
		}
		&.btn-lg {
			height: 40px;
			padding: 9px 19px;
		}
	}
	.cancel {
		float: none;
		display: block;
		font-family: 'times';
		font-size: 14px;
		font-weight: 100;
		font-style: italic;
		color: #58b421;
		text-align: center;
	}
}
.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}
