.gallery-wrapper {
	overflow: hidden;
	margin-bottom: 60px;
	padding-top: 60px;
	> p {
		text-align: center;
		margin: none;
		.btn {
			position: relative;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			border: 1px solid #505050;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			z-index: 1;
			&.btn-primary {
				background: #564f4c;
			}
			&.btn-lg {
				height: 40px;
				padding: 9px 19px;
			}
			&:hover {
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				opacity: .7;
			}
		}
	}
	h1 {
		font-family: museo_slab;
		font-size: 60px;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;
		color: #505050;
		margin: 0 0 45px 0;
	}
	.filter-header {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			position: relative;
			display: inline-block;
			width: 140px;
			list-style: none;
			padding: 6px 4px 6px 0;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #505050;
			margin: 0 0 0 10px;
			&:first-child {
				vertical-align: top;
			}
		}
	}
	.og-grid {
		padding-top: 0;
		li {
			width: 220px;
			height: 175px;
			margin: 10px;
			.thumb {
				&:hover {
					-webkit-transition: all .3s ease;
					-moz-transition: all .3s ease;
					-ms-transition: all .3s ease;
					-o-transition: all .3s ease;
					transition: all .3s ease;
					opacity: .7;
				}
			}
		}
	}
	.social {
		position: absolute;
		top: 10px;
		right: 65px;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			width: auto;
			font-family: 'times';
			font-size: 14px;
			color: #505050;
			margin-right: 15px;
			img {
				width: 19px;
				height: 19px;
			}
		}
	}
	.og-expander {
		background: #ede8dd;
		left: 50%;
		width: 960px;
		margin-top: 10px;
		margin-left: -480px;
	}
	.og-expander-inner {
		padding: 45px 35px;
	}
	.og-grid li.og-expanded > a::after {
		border-bottom-color: #ede8dd;
	}
	.og-fullimg {
		width: 44%;
	}
	.og-details {
		width: 56%;
		padding: 0 0 0 30px;
		h3 {
			font-family: museo_slab;
			font-size: 22px;
			font-weight: 700;
			color: #505050;
			margin: 0 0 25px 0;
			padding: 0;
		}
		h4 {
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 700;
			color: #505050;
			margin: 0 0 10px 0;
		}
		p {
			font-family: 'times';
			font-size: 16px;
			color: #505050;
			padding-bottom: 25px;
			border-bottom: 1px solid #505050;
		}
	}
	.project-info-wrapper {
		p {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	.og-close {
		position: absolute;
		width: 25px;
		height: 25px;
		top: 15px;
		right: 20px;
		cursor: pointer;
		background: url(../img/gallery/icon_gallery_close.png) no-repeat;
		background-size: 25px;
		&:before, &:after {
			background: none;
		}
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .5;
				&:before, &:after {
				background: none;
			}
		}
	}
}