nav {
	width: 100%;
	height: auto;
	background: #5bb22f;
	padding: 16px 0 19px 0;
	overflow: hidden;
	.logo {
		float: left;
		width: 145px;
		height: 20px;
		margin: 3px 0 0 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	ul {
		float: right;
		margin: 0;
		padding: 4px 0 0 0;
		li {
			display: inline-block;
			font-family: museo_sans;
			font-size: 13px;
			font-weight: 500;
			text-transform: uppercase;
			margin-right: 35px;
			&:last-child {
				margin-right: 58px;
			}
			a {
				color: #fff;
				display: block;
			}
			&.active, &:hover {
				a {
					color: #fff;
				}
			}
		}
	}
	.search-wrapper {
		position: relative;
		float: right;
		width: auto;
		height: auto;
		margin-top: 3px;
		input {
			width: 140px;
			min-height: 19px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			border-radius: 10px;
			border: none;
			outline: none;
			font-family: museo_sans;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			color: #58b421;
			padding: 2px 25px 0 8px;
			&::-webkit-input-placeholder {
				color: #58b421;
			}
			&:-moz-input-placeholder {
				color: #58b421;
			}
			&::-moz-input-placeholder {
				color: #58b421;
			}
			&::-ms-input-placeholder {
				color: #58b421;
			}
		}
		img {
			position: absolute;
			bottom: 1px;
			right: 7px;
			width: 17px;
		}
	}
}
.profile-header {
	width: 100%;
	height: auto;
	padding: 20px 0 15px 0;
	background: #ede8dd;
	overflow: hidden;
	.profile-pic {
		float: left;
		width: 65px;
		height: 65px;
		margin-right: 15px;
		-webkit-border-radius: 33px;
		-mox-border-radius: 33px;
		-o-border-radius: 33px;
		border-radius: 33px;
	}
	.name {
		float: left;
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 700;
		color: #505050;
		margin: 24px 0 0 0;
	}
	.profile-nav {
		margin: 24px 0 0 0;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			list-style: none;
			font-family: museo_slab;
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			line-height: 1.2em;
			margin-right: 15px;
			padding-right: 15px;
			border-right: 1px solid #505050;
			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border-right: none;
			}
			&:hover, &.active {
				a {
					color: #58b421;
				}
			}
			a {
				display: block;
				color: #505050;
			}
		}
	}
	.weather-wrapper {
		float: right;
		width: 135px;
		height: auto;
		&.sunny {
			background: url(../img/calendar/weather_sunny.png) no-repeat;
			background-position: 85px 6px;
		}
		p {
			font-family: museo_sans;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .1em;
			color: #505050;
			margin: 0;
			span {
				font-size: 36px;
				font-weight: 300;
				letter-spacing: inherit;
				margin-left: 20px;
			}
		}
	}
}