.social {
	float: right;
	margin: 25px 50px 0 0;
	padding: 0;
	li {
		display: inline-block;
		font-family: 'times';
		font-size: 14px;
		color: #505050;
		margin-right: 15px;
		img {
			width: 19px;
			height: 19px;
		}
	}
}
.actions {
	float: right;
	margin: 25px 0;
	padding: 0;
	span {
		font-family: 'times';
		font-size: 14px;
		font-weight: 100;
		font-style: italic;
		color: #58b421;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}
	img {
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
	li {
		display: inline-block;
		font-size: 14px;
	}
}
.hero-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 45px;
	.photo-block {
		width: 100%;
		height: 288px;
	}
	.prev {
		position: absolute;
		top: 45%;
		left: 10px;
		z-index: 99;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .5;
		}
	}
	.next {
		position: absolute;
		top: 45%;
		right: 10px;
		z-index: 99;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .5;
		}
	}
}
.description-wrapper {
	margin-bottom: 100px;
	h3 {
		font-family: museo_slab;
		font-size: 22px;
		font-weight: 700;
		text-transform: capitalize;
		color: #505050;
		margin: 0;
	}
	h4 {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 700;
		text-transform: capitalize;
		color: #505050;
	}
	p {
		clear: both;
		font-family: 'times';
		font-size: 16px;
		color: #505050;
		letter-spacing: .06em;
		line-height: 1.7em;
		margin-bottom: 30px;
		a {
			font-family: 'times';
			font-size: 14px;
			font-weight: 100;
			font-style: italic;
			color: #58b421;
		}
		.photo-block {
			float: right;
			display: inline;
			width: 220px;
			height: 125px;
			margin: 0 0 0 10px;
			cursor: inherit;
		}
		&.product-info {
			font-family: 'times';
			font-size: 14px;
		}
	}
	.title-wrapper {
		img {
			float: left;
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}
		h3 {
			margin: 5px 0 0 0;
		}
		p {
			max-width: 560px;
			margin-bottom: 0;
		}
		.text-block {
			float: left;
			max-width: 570px;
		}
		.review-stamp {
			clear: both;
			margin: 0 0 25px 0;
			padding: 0;
			li {
				position: relative;
				display: inline-block;
				list-style: none;
				font-family: 'times';
				font-size: 14px;
				font-weight: 500;
				line-height: 1.1em;
				color: #505050;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
					padding-right: 0;
				}
				span {
					font-weight: 100;
					font-style: italic;
					color: #58b421;
				}
				.rating {
					width: 100px;
					height: 17px;
					margin-bottom: -3px;
					overflow: hidden;
					background: url(../img/global/star_rating_icon.png) no-repeat 0 0;
					background-size: 100px;
					&.one {
						background-position: 0 -19px;
					}
					&.two {
						background-position: 0 -39px;
					}
					&.three {
						background-position: 0 -58px;
					} 
					&.four {
						background-position: 0 -78px;
					}
					&.five {
						background-position: 0 -97px;
					}
				}
			}
		}
		.detail-stamp {
			clear: both;
			margin: 0 0 25px0;
			padding: 0;
			li {
				list-style: none;
				display: inline-block;
				font-family: 'times';
				font-size: 14px;
				line-height: .85em;
				margin-right: 10px;
				padding-right: 10px;
				border-right: 1px solid #505050;
				&:last-child {
					border-right: none;
				}
				a {
					font-family: 'times';
					font-size: 14px;
					font-weight: 100;
					font-style: italic;
					color: #58b421;
				}
			}
		}
	}
	.photo-block {
		width: 100%;
		height: 235px;
		margin-bottom: 30px;
	}
	.spec-list {
		margin: 0 0 30px 20px;
		padding: 0;
		li {
			font-family: 'times';
			font-size: 16px;
			color: #505050;
			letter-spacing: .06em;
			line-height: 1.7em;
		}
	}
	.product-thumbs {
		margin: 10px 0 0 0;
		padding: 0;
		overflow: hidden;
		li {
			float: left;
			list-style: none;
			display: inline-block;
			margin: 0 20px 20px 0;
			.photo-block {
				width: 125px;
				height: 100px;
				margin: 0;
			}
		}
	}
}
.detail-wrapper {
	margin-bottom: 25px;
	overflow: hidden;
	h4 {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 700;
		text-transform: capitalize;
		margin: 0 0 10px 0;		
	}
	p {
		font-family: 'times';
		font-size: 14px;
		color: #505050;
		margin: 0;
	}
	span {
		font-family: 'times';
		font-size: 14px;
		font-weight: 100;
		font-style: italic;
		color: #58b421;
	}
	.btn {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		border: 1px solid #505050;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		&:hover {
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			opacity: .7;
		}
		&.btn-primary {
			background: #505050;
		}
		&.btn-lg {
			height: 40px;
			margin-bottom: 30px;
			padding: 9px 19px;
		}
	}
	.info-line {
		margin: 0 0 30px 0;
		padding: 0;
		&.short {
			margin-bottom: 0;
		}
		li {
			list-style: none;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #505050;
			margin-bottom: 10px;
			.difficulty {
				display: inline-block;
				width: 51px;
				height: 18px;
				margin: 0 0 -6px 10px;
				overflow: hidden;
				background: url(../img/global/level_icon.png) no-repeat 0 0;
				background-size: 51px;
				&.one {
					background-position: 0 -19px;
				}
				&.two {
					background-position: 0 -38px;
				}
				&.three {
					background-position: 0 -56px;
				} 
			}
			span {
				margin-left: 10px;
			}
		}
	}
	.zone-pick {
		margin: 10px 0 25px 0;
		padding: 0;
		overflow: hidden;
		li {
			float: left;
			display: inline-block;
			list-style: none;
			width: 35px;
			height: 35px;
			font-family: museo_slab;
			font-size: 14px;
			font-weight: 500;
			color: #fff;
			text-align: center;
			margin: 0 4px 4px 0;
			padding-top: 10px;
			opacity: .5;
			cursor: pointer;
			&:hover {
				opacity: 1;
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
			}
			&.one {
				background: #000;
			}
			&.two {
				background: #cb6560;
			}
			&.three {
				background: #7981a5;
			}
			&.four {
				background: #288ac9;
			}
			&.five {
				background: #419d88;
			}
			&.six {
				background: #4dac48;
			}
			&.seven {
				background: #a8b037;
			}
			&.eight {
				background: #f1b129;
			}
			&.nine {
				background: #ee962a;
			}
			&.ten {
				background: #ef7335;
			}
			&.eleven {
				background: #f04d3a;
			}
		}
	}
	.gallery-thumbs {
		margin: 0 0 10px 0;
		padding: 0;
		overflow: hidden;
		li {
			float: left;
			display: inline-block;
			list-style: none;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			.photo-block {
				width: 93px;
				height: 60px;
			}
		}
	}
	.project-list {
		margin: 0;
		padding: 0;
		a {
			font-family: 'times';
			font-size: 14px;
			font-weight: 100;
			font-style: italic;
			color: #58b421;
		}
		li {
			list-style: none;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			img {
				width: 12px;
				height: 12px;
				margin-top: -3px;
				margin-right: 10px;
			}
		}
	}
}
.product-drop {
	width: 100%;
	height: auto;
	margin: 0 0 30px 0;
	padding: 10px 20px;
	background: #ede8dd;
	overflow: hidden;
	.photo-block {
		float: left;
		width: 60px;
		height: 55px;
		margin-right: 10px;
	}
	.text-block {
		float: left;
		width: 190px;
		h5 {
			font-family: museo_slab;
			font-size: 14px;
			font-weight: 300;
			color: #505050;
			margin: 0 0 5px 0;
		}
		p {
			font-family: 'times';
			font-size: 12px;
			color: #505050;
			margin: 0;
		}
	}
}
.project-wrapper {
	margin-bottom: 125px;
	h4, h5 {
		font-family: museo_slab;
		font-size: 16px;
		font-weight: 700;
		color: #505050;
		margin: 0 0 20px 0;		
	}
	h4 {
		display: inline-block;
		text-transform: capitalize;
		line-height: 1.4em;
	}
	h6 {
		font-family: museo_sans;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.frame {
		overflow: hidden;
		margin-bottom: 30px;
	}
	.photo-block {
		width: 100%;
		height: 300px;
		margin-bottom: 20px;
	}
	.actions {
		margin: 0;
	}
	.list-wrapper {
		padding-left: 30px;
		p {
			font-family: museo_sans;
			font-size: 14px;
			font-weight: 500;
			color: #505050;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				font-family: 'times';
				font-size: 14px;
				color: #505050;
			}
		}
	}
	.steps-wrapper {
		ul {
			margin: 0 0 0 30px;
			padding: 0;
			li {
				clear: both;
				list-style: none;
				margin-bottom: 30px;
				overflow: hidden;
				.photo-block {
					float: left;
					display: inline;
					width: 160px;
					height: 105px;
					margin: 0 20px 0 0;
					cursor: inherit;
				}
				p {
					float: left;
					display: inline;
					font-family: 'times';
					font-size: 14px;
					line-height: 1.8em;
					color: #505050;
					margin: 0;
					a {
						font-style: italic;
						color: #58b421;
					}
				}
			}
		}
	}
	.panel-group {
		h4 {
			a {
				width: auto;
				height: auto;
				color: #505050;
				span {
					margin-left: 11px;
				}
			}
			.round-button {
				display: inline-block;
				width: 19px;
				height: 19px;
				vertical-align: top;
				background: url(../img/global/minus_icon.png) no-repeat 0 0;
				background-size: 19px;
				&.expand {
					background: url(../img/global/plus_icon.png) no-repeat 0 0;
					background-size: 19px;
				}
			}
		}
		.panel {
			border: none;
			border-radius: 0;
			margin-bottom: 30px;
			box-shadow: none;
		}
	}
}
.library-wrapper {
	overflow: hidden;
	margin-bottom: 60px;
	padding-top: 60px;
	> p {
		text-align: center;
		margin: none;
		.btn {
			position: relative;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			margin-top: -100px;
			border: 1px solid #505050;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			z-index: 1;
			&.btn-primary {
				background: #564f4c;
			}
			&.btn-lg {
				height: 40px;
				padding: 9px 19px;
			}
			&:hover {
				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-ms-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				opacity: .7;
			}
		}
	}
	h1 {
		font-family: museo_slab;
		font-size: 60px;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;
		color: #505050;
		margin: 0 0 15px 0;
	}
	.filter-header {
		margin: 0 0 45px 0;
		padding: 0;
		text-align: center;
		li {
			position: relative;
			display: inline-block;
			width: 140px;
			list-style: none;
			padding: 6px 4px 6px 0;
			font-family: museo_slab;
			font-size: 16px;
			font-weight: 500;
			color: #505050;
			margin: 0 0 0 10px;
			&:first-child {
				vertical-align: top;
			}
		}
	}
}