h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Adrianna', Sans-serif;
}

.container {
	width: 1082px;
	margin: 0 auto;
}

header {
	padding: 36px 0;
	margin-bottom: 25px;
}

header h1 {
	margin-left: -3000px;
}

header img {
	float: left;
}

header nav {
	float: right;
}

header nav ul {
	margin: 0;
}

header nav ul li {
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 25px 20px 25px;
	border-right: 1px dotted #d1d1d1;
}

header nav ul li:first-child {
	border-left: 1px dotted #d1d1d1;
}

header nav ul li a {
	text-decoration: none;
	font-size: 11px;
	color: #818181;
}

header nav ul li:hover {
	background-color: #e9e9e9;
}

.breadcrumb {
	margin: 25px 0 45px 0;
	float: left;
}

.breadcrumb img {
	float: left;
	display: inline;
	z-index:-1;
}

#child {
	margin-left: -5px;
}

#words {
	position: absolute;
	z-index: 1;
	float: left;
	margin-left: -185px;
	margin-top: 12px;
}

.main-menu {
	float: left;
	width: 160px;
}

.main-menu nav {

}

.main-menu nav ul li {
	display: block;
	text-transform: uppercase;
	padding: 8px 0 8px 0;
	border-bottom: 1px dotted #d1d1d1;
}

.main-menu nav ul li a {
	text-decoration: none;
	font-size: 11px;
	color: #818181;
}

.main-menu nav ul li.padded{
	padding-bottom: 30px;
}

.main-menu nav ul li:last-child {
	border: none;
}

.main-menu nav ul li:hover {
	background-color: #e9e9e9;
}

.main-menu img {
	margin-top: 57px;
}

.one-column {
	width: 180px;
	border-top: 1px dotted #d1d1d1;
}