.page-content-placeholder {
  clear: both;
}
/*unstick footer */
footer.row {
  position: relative;
  margin-top: 30px;
  bottom: auto;
}
.score-pe.panel .panel-heading .panel-title {
  font-size: small;
}
.score-pe.panel .panel-heading .panel-title span.score-pe-component-type {
  color: red;
  font-weight: bold;
}
.home-page .carousel {
  margin-top: 0;
}
.form-group .pseudo-textbox {
  width: 90%;
  font-size: 16px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form-group .pseudo-textbox span.label {
  font-size: 16px;
  color: #999;
  padding-left: 0;
}
.form-group span.label {
  font-size: 16px;
  color: #999;
  padding-left: 0;
}
.form-group .error-message span {
  color: #f00;
}
div.btn {
  display: inline-block;
}
